pipeline/Mrr_DeviceProcedureData.json
{
	"name": "Mrr_DeviceProcedureData",
	"properties": {
		"activities": [
			{
				"name": "Truncate Mrr Device Procedure data",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDHR].[sp_trunc_Mrr_DeviceProcedureData]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Mrr_DeviceProcedureData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate Mrr Device Procedure data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [dbo].[_DeviceProcedureData]\nWHERE [@{activity('get watermark').output.firstRow.columnName}] >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Procedure",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Procedure",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_StartTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StartTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "_EndTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "EndTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "_ExecutedBy",
									"type": "Int32"
								},
								"sink": {
									"name": "ExecutedBy",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Parent",
									"type": "Int32"
								},
								"sink": {
									"name": "Parent",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Comments",
									"type": "String"
								},
								"sink": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_Result",
									"type": "Int32"
								},
								"sink": {
									"name": "Result",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_FailReason",
									"type": "String"
								},
								"sink": {
									"name": "FailReason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_PCAppSoftwareVersion",
									"type": "String"
								},
								"sink": {
									"name": "PCAppSoftwareVersion",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_Deleted",
									"type": "Boolean"
								},
								"sink": {
									"name": "Deleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "_DeletedBy",
									"type": "Int32"
								},
								"sink": {
									"name": "DeletedBy",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_DeletedTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "DeletedTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "_InsertTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "InsertTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "_LastUpdateTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastUpdateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "_OriginalProcedureId",
									"type": "Int32"
								},
								"sink": {
									"name": "OriginalProcedureId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Device",
									"type": "Int32"
								},
								"sink": {
									"name": "Device",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_DeviceSoftwareVersion",
									"type": "String"
								},
								"sink": {
									"name": "DeviceSoftwareVersion",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Mrr_DeviceProcedureData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDHR_MRR__DeviceProceduredata",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "EDHR"
							},
							"tableName": {
								"type": "String",
								"value": "Mrr_DeviceProcedureData"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_DeviceProcedureData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[EDHR].[sp_Merge_Mrr_DeviceProcedureData]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EDHR_MRR__DeviceProceduredata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": "_StartTime",
							"type": "String"
						},
						"schemaName": {
							"value": "EDHR",
							"type": "String"
						},
						"tableName": {
							"value": "Mrr_DeviceProcedureData",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "DeviceProcedureData"
			}
		},
		"folder": {
			"name": "EDHR/MRR"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-22T08:03:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}