pipeline/Mrr_RDR1.json
{
	"name": "Mrr_RDR1",
	"properties": {
		"activities": [
			{
				"name": "Mrr_RDR1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc_Mrr_RDR1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT A.[DocEntry]\n      ,A.[LineNum]\n      ,A.[TargetType]\n      ,A.[TrgetEntry]\n      ,A.[BaseRef]\n      ,A.[BaseType]\n      ,A.[BaseEntry]\n      ,A.[BaseLine]\n      ,A.[LineStatus]\n      ,A.[ItemCode]\n      ,A.[Dscription]\n      ,A.[Quantity]\n      ,A.[ShipDate]\n      ,A.[OpenQty]\n      ,A.[Price]\n      ,A.[Currency]\n      ,A.[Rate]\n      ,A.[DiscPrcnt]\n      ,A.[LineTotal]\n      ,A.[TotalFrgn]\n      ,A.[OpenSum]\n      ,A.[OpenSumFC]\n      ,A.[VendorNum]\n      ,A.[SerialNum]\n      ,A.[WhsCode]\n      ,A.[SlpCode]\n      ,A.[AcctCode]\n      ,A.[PriceBefDi]\n      ,A.[DocDate]\n      ,A.[Flags]\n      ,A.[OpenCreQty]\n      ,A.[TotalSumSy]\n      ,A.[OpenSumSys]\n      ,A.[InvntSttus]\n      ,A.[OcrCode]\n      ,A.[Project]\n      ,A.[VatPrcnt]\n      ,A.[PackQty]\n      ,A.[BaseDocNum]\n      ,A.[QtyToShip]\n      ,A.[DelivrdQty]\n      ,A.[OrderedQty]\n      ,A.[ActDelDate]\n      ,A.[OcrCode2]\n      ,A.[LocCode]  \n      ,A.[U_ReqDate]\n      ,A.[TreeType]\n\nFROM [dbo].[RDR1] A\nJOIN [dbo].[ORDR] B\nON A.[DocEntry] = B.[DocEntry]\n\nWHERE B.UpdateDate >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DocEntry",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DocEntry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LineNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LineNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TargetType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TargetType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TrgetEntry",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TrgetEntry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BaseRef",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BaseRef",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BaseType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BaseEntry",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseEntry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BaseLine",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseLine",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LineStatus",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "LineStatus",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dscription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Dscription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Quantity",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "ShipDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShipDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OpenQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Currency",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Currency",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Rate",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Rate",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DiscPrcnt",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DiscPrcnt",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "TotalFrgn",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "TotalFrgn",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenSum",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenSum",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenSumFC",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenSumFC",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VendorNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VendorNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SerialNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SerialNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WhsCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WhsCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SlpCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SlpCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AcctCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AcctCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PriceBefDi",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PriceBefDi",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DocDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DocDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Flags",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Flags",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OpenCreQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenCreQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "TotalSumSy",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "TotalSumSy",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenSumSys",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenSumSys",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "InvntSttus",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "InvntSttus",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "OcrCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OcrCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Project",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Project",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VatPrcnt",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatPrcnt",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PackQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PackQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "BaseDocNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseDocNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "QtyToShip",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "QtyToShip",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DelivrdQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DelivrdQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OrderedQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OrderedQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "ActDelDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ActDelDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OcrCode2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OcrCode2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LocCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LocCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "U_ReqDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "U_ReqDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TreeType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "TreeType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RDR1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SAP_Mrr_RDR1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "trunc_Mrr_RDR1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[sap].[sp_trunc_Mrr_RDR1]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Mrr_RDR1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_RDR1').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_RDR1').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_RDR1').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_RDR1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_Mrr_RDR1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "sap"
							},
							"tableName": {
								"type": "String",
								"value": "Mrr_ORDR_replica"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "RDR1"
			}
		},
		"folder": {
			"name": "SAP/Mrr"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-18T13:00:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}