pipeline/Mrr_OINM1.json
{
	"name": "Mrr_OINM1",
	"properties": {
		"activities": [
			{
				"name": "trunc_Mrr_OINM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[sap].[sp_trunc_Mrr_OINM]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_sorrelbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "sap"
							},
							"tableName": {
								"type": "String",
								"value": {
									"value": "Mrr_@{pipeline().parameters.param_tableName}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Mrr_OINM",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc_Mrr_OINM",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * \nFROM dbo.@{pipeline().parameters.param_tableName}\nWHERE [@{activity('get watermark').output.firstRow.columnName}] >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TransNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TransNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TransType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TransType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BASE_REF",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BASE_REF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DocLineNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DocLineNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DocDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DocDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DocDueDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DocDueDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CardCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CardCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CardName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CardName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Ref1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Ref1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Ref2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Ref2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JrnlMemo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JrnlMemo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DocTime",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DocTime",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dscription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Dscription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "InQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OutQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OutQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Currency",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Currency",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Rate",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Rate",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VendorNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VendorNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SerialNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SerialNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Warehouse",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Warehouse",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TreeType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "TreeType",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "SlpCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SlpCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TaxDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DataSource",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "DataSource",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "PrjCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PrjCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UserSign",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "UserSign",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "BlockNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BlockNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ImportLog",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ImportLog",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UseDocPric",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "UseDocPric",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "Location",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Location",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CalcPrice",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "CalcPrice",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenQty",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenQty",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Instance",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Instance",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LastInst",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LastInst",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RevalTotal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "RevalTotal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "BaseCurr",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BaseCurr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ApplObj",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ApplObj",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AppObjAbs",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AppObjAbs",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AppObjType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "AppObjType",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "StockAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StockAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TrnsfrAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TrnsfrAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PriceDifAc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PriceDifAc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VarianceAc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VarianceAc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ReturnAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ReturnAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ExcRateAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExcRateAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ClearAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ClearAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CostAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CostAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WipAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WipAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CreateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "BaseLine",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseLine",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TransValue",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "TransValue",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PriceDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PriceDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "TransSeq",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TransSeq",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "InvntAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InvntAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RemMethod",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RemMethod",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OpenValue",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenValue",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "SubLineNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SubLineNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AppObjLine",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AppObjLine",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Expenses",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Expenses",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenExp",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenExp",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Allocation",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Allocation",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenAlloc",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenAlloc",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "ExpAlloc",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "ExpAlloc",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OExpAlloc",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OExpAlloc",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenPDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenPDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "ExchDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "ExchDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenEDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenEDiff",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "NegInvAdjs",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "NegInvAdjs",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OpenNegInv",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OpenNegInv",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "NegStckAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NegStckAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BTransVal",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BTransVal",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "VarVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VarVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "BExpVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "BExpVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CogsVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "CogsVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "BNegAVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "BNegAVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "IOffIncAcc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IOffIncAcc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IOffIncVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "IOffIncVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DOffDecAcc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DOffDecAcc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOffDecVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DOffDecVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DecAcc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DecAcc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DecVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DecVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "WipVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "WipVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "WipVarAcc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WipVarAcc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WipVarVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "WipVarVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "IncAct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IncAct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IncVal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "IncVal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "ExpCAcc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExpCAcc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CostMethod",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "CostMethod",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "OcrCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OcrCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BaseQty",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseQty",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PrevTrans",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PrevTrans",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "HTransSeq",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "HTransSeq",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OcrCode2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OcrCode2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OcrCode3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OcrCode3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OcrCode4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OcrCode4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OcrCode5",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OcrCode5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OINM1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Mrr_OINM1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Mrr_OINM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_OINM').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_OINM').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_OINM').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_OINM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Mrr_OINM1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.columnName",
								"type": "Expression"
							},
							"type": "String"
						},
						"schemaName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.schemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.tableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_sorrelbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "OINM"
			}
		},
		"folder": {
			"name": "SAP_SORREL/MRR"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-04T07:50:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}