pipeline/Mrr_RDR121.json
{
	"name": "Mrr_RDR121",
	"properties": {
		"activities": [
			{
				"name": "Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT A.[DocEntry]\n      ,A.[TaxId0]\n      ,A.[TaxId1]\n      ,A.[TaxId2]\n      ,A.[TaxId3]\n      ,A.[TaxId4]\n      ,A.[TaxId5]\n      ,A.[TaxId6]\n      ,A.[TaxId7]\n      ,A.[TaxId8]\n      ,A.[TaxId9]\n      ,A.[State]\n      ,A.[County]\n      ,A.[Incoterms]\n      ,A.[Vehicle]\n      ,A.[VidState]\n      ,A.[NfRef]\n      ,A.[Carrier]\n      ,A.[QoP]\n      ,A.[PackDesc]\n      ,A.[Brand]\n      ,A.[NoSU]\n      ,A.[NetWeight]\n      ,A.[GrsWeight]\n      ,A.[LogInstanc]\n      ,A.[ObjectType]\n      ,A.[TaxId10]\n      ,A.[TransCat]\n      ,A.[FormNo]\n      ,A.[TaxId11]\n      ,A.[StreetS]\n      ,A.[BlockS]\n      ,A.[BuildingS]\n      ,A.[CityS]\n      ,A.[ZipCodeS]\n      ,A.[CountyS]\n      ,A.[StateS]\n      ,A.[CountryS]\n      ,A.[AddrTypeS]\n      ,A.[StreetNoS]\n      ,A.[StreetB]\n      ,A.[BlockB]\n      ,A.[BuildingB]\n      ,A.[CityB]\n      ,A.[ZipCodeB]\n      ,A.[CountyB]\n      ,A.[StateB]\n      ,A.[CountryB]\n      ,A.[AddrTypeB]\n      ,A.[StreetNoB]\n      ,A.[ImpORExp]\n      ,A.[Vat]\n      ,A.[AltCrdNamB]\n      ,A.[AltTaxIdB]\n      ,A.[Address2S]\n      ,A.[Address3S]\n      ,A.[Address2B]\n      ,A.[Address3B]\n      ,A.[MainUsage]\n      ,A.[GlbLocNumS]\n      ,A.[GlbLocNumB]\n      ,A.[CollectDT]\n      ,A.[TransprtDT]\n      ,A.[TransprtRS]\n      ,A.[TaxId12]\n      ,A.[TaxId13]\n  FROM [dbo].[RDR12] A\nJOIN [dbo].[ORDR] B\nON A.[DocEntry] = B.[DocEntry]\n\nWHERE B.UpdateDate >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DocEntry",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DocEntry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxId0",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId0",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId5",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId6",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId7",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId8",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId9",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "State",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "County",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "County",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Incoterms",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Incoterms",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Vehicle",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Vehicle",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VidState",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VidState",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NfRef",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NfRef",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Carrier",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Carrier",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QoP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "QoP",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PackDesc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PackDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Brand",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Brand",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NoSU",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NoSU",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NetWeight",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "NetWeight",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "GrsWeight",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "GrsWeight",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "LogInstanc",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LogInstanc",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ObjectType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ObjectType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId10",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransCat",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TransCat",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FormNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FormNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId11",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StreetS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StreetS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BlockS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BlockS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BuildingS",
									"type": "String",
									"physicalType": "ntext"
								},
								"sink": {
									"name": "BuildingS",
									"type": "String",
									"physicalType": "ntext"
								}
							},
							{
								"source": {
									"name": "CityS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CityS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZipCodeS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ZipCodeS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CountyS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CountyS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StateS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StateS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CountryS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CountryS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AddrTypeS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddrTypeS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StreetNoS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StreetNoS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StreetB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StreetB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BlockB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BlockB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BuildingB",
									"type": "String",
									"physicalType": "ntext"
								},
								"sink": {
									"name": "BuildingB",
									"type": "String",
									"physicalType": "ntext"
								}
							},
							{
								"source": {
									"name": "CityB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CityB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZipCodeB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ZipCodeB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CountyB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CountyB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StateB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StateB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CountryB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CountryB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AddrTypeB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddrTypeB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StreetNoB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StreetNoB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ImpORExp",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ImpORExp",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "Vat",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "Vat",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "AltCrdNamB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AltCrdNamB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AltTaxIdB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AltTaxIdB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Address2S",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Address2S",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Address3S",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Address3S",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Address2B",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Address2B",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Address3B",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Address3B",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MainUsage",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MainUsage",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "GlbLocNumS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "GlbLocNumS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GlbLocNumB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "GlbLocNumB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CollectDT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CollectDT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransprtDT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TransprtDT",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TransprtRS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TransprtRS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId12",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxId13",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxId13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RDR121",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SAP_Mrr_RDR121",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "trunc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[sap].[sp_trunc_Mrr_RDR12]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_sorrelbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Copy').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Copy').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Copy').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_Mrr_RDR121",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "sap"
							},
							"tableName": {
								"type": "String",
								"value": "Mrr_ORDR_replica"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "RDR12"
			}
		},
		"folder": {
			"name": "SAP_SORREL/MRR"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-04T07:49:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}