pipeline/Mrr_ORDR.json
{
	"name": "Mrr_ORDR",
	"properties": {
		"activities": [
			{
				"name": "Mrr_ORDR",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc_Mrr_ORDR",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT \n       [DocEntry]\n      ,[DocNum]\n      ,[CANCELED]\n      ,[DocStatus]\n      ,[DocDate]\n      ,[DocDueDate]\n      ,[CardCode]\n      ,[CardName]\n      ,[Address]\n      ,[NumAtCard]\n      ,[VatPercent]\n      ,[VatSum]\n      ,[VatSumFC]\n      ,[DiscPrcnt]\n      ,[DiscSum]\n      ,[DiscSumFC]\n      ,[DocCur]\n      ,[DocRate]\n      ,[DocTotal]\n      ,[DocTotalFC]\n      ,[PaidToDate]\n      ,[PaidFC]\n      ,[Ref1]\n      ,[Ref2]\n      ,[Comments]\n      ,[JrnlMemo]\n      ,[TransId]\n      ,[DocTime]\n      ,[SlpCode]\n      ,[SysRate]\n      ,[VatSumSy]\n      ,[DiscSumSy]\n      ,[DocTotalSy]\n      ,[PaidSys]\n      ,[UpdateDate]\n      ,[CreateDate]\n      ,[Volume]\n      ,[VolUnit]\n      ,[Weight]\n      ,[WeightUnit]\n      ,[Series]\n      ,[TaxDate]\n      ,[Filler]\n      ,[UserSign]\n      ,[selfInv]\n      ,[VatPaid]\n      ,[VatPaidFC]\n      ,[VatPaidSys]\n      ,[UserSign2]\n      ,[WddStatus]\n      ,[draftKey]\n      ,[Address2]\n      ,[ShipToCode]\n      ,[LicTradNum]\n      ,[PaymentRef]\n      ,[ReqDate]\n      ,[CancelDate]\n      ,[PickStatus]\n      ,[Pick]\n      ,[BlockDunn]\n      ,[PeyMethod]\n      ,[Project]\n      ,[PaidSum]\n      ,[PaidSumFc]\n      ,[PaidSumSc]\n      ,[PayToCode]\n      ,[IsPaytoBnk]\n      ,[U_OrderType]\n  FROM [dbo].[ORDR]\nWHERE [UpdateDate] >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": ""
					},
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DocEntry",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DocEntry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DocNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DocNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CANCELED",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "CANCELED",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "DocStatus",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "DocStatus",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "DocDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DocDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DocDueDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DocDueDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CardCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CardCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CardName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CardName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Address",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NumAtCard",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NumAtCard",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VatPercent",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatPercent",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VatSum",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatSum",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VatSumFC",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatSumFC",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DiscPrcnt",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DiscPrcnt",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DiscSum",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DiscSum",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DiscSumFC",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DiscSumFC",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DocCur",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DocCur",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DocRate",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DocRate",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DocTotal",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DocTotal",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DocTotalFC",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DocTotalFC",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PaidToDate",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PaidToDate",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PaidFC",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PaidFC",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Ref1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Ref1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Ref2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Ref2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JrnlMemo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JrnlMemo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TransId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DocTime",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DocTime",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SlpCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SlpCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SysRate",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "SysRate",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VatSumSy",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatSumSy",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DiscSumSy",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DiscSumSy",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DocTotalSy",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "DocTotalSy",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PaidSys",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PaidSys",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "UpdateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "UpdateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Volume",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Volume",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VolUnit",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "VolUnit",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Weight",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "WeightUnit",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "WeightUnit",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "Series",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "Series",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "TaxDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TaxDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Filler",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Filler",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UserSign",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "UserSign",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "selfInv",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "selfInv",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "VatPaid",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatPaid",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VatPaidFC",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatPaidFC",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VatPaidSys",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "VatPaidSys",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "UserSign2",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "UserSign2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "WddStatus",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "WddStatus",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "draftKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "draftKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Address2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Address2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShipToCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ShipToCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LicTradNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LicTradNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaymentRef",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PaymentRef",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ReqDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ReqDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "PickStatus",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PickStatus",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "Pick",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "Pick",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "BlockDunn",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "BlockDunn",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "PeyMethod",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PeyMethod",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Project",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Project",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaidSum",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PaidSum",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PaidSumFc",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PaidSumFc",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PaidSumSc",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PaidSumSc",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PayToCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PayToCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsPaytoBnk",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "IsPaytoBnk",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "U_OrderType",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "U_OrderType",
									"type": "Int16",
									"physicalType": "smallint"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ORDR",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SAP_Mrr_ORDR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "trunc_Mrr_ORDR",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[sap].[sp_trunc_Mrr_ORDR]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "sap"
							},
							"tableName": {
								"type": "String",
								"value": {
									"value": "Mrr_@{pipeline().parameters.param_tableName}_replica",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Mrr_ORDR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_ORDR').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_ORDR').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_ORDR').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_ORDR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_Mrr_ORDR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.columnName",
								"type": "Expression"
							},
							"type": "String"
						},
						"schemaName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.schemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.tableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "ORDR"
			}
		},
		"folder": {
			"name": "SAP/Mrr"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-17T11:48:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}