pipeline/Mrr_OITM.json
{
	"name": "Mrr_OITM",
	"properties": {
		"activities": [
			{
				"name": "Mrr_OITM",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc_Mrr_OITM",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT [ItemCode]\n      ,[ItemName]\n      ,[FrgnName]\n      ,[ItmsGrpCod]\n      ,[PrchseItem]\n      ,[SellItem]\n      ,[InvntItem]\n      ,[OnHand]\n      ,[IsCommited]\n      ,[OnOrder]\n      ,[CardCode]\n      ,[SuppCatNum]\n      ,[BuyUnitMsr]\n      ,[SalUnitMsr]\n      ,[LstSalDate]\n      ,[CreateDate]\n      ,[UpdateDate]\n      ,[frozenFor]\n      ,[frozenFrom]\n      ,[frozenTo]\n      ,[PurPackUn]\n      ,[ItemType]\n,[NumInSale]\n      ,[U_EOL]\n      ,[U_EolFrom]\n      ,[U_SWEOL]\n      ,[U_SWEolFrom]\n      ,[SalPackUn]\n      ,[U_HosPN]\n  FROM [dbo].[OITM]\nWHERE [UpdateDate] >= '@{activity('get watermark').output.firstRow.highValue}'\nOR [UpdateDate] IS NULL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ItemName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ItemName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FrgnName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FrgnName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ItmsGrpCod",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ItmsGrpCod",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "PrchseItem",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PrchseItem",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "SellItem",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "SellItem",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "InvntItem",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "InvntItem",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "OnHand",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OnHand",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "IsCommited",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "IsCommited",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "OnOrder",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "OnOrder",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CardCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CardCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SuppCatNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SuppCatNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BuyUnitMsr",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BuyUnitMsr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalUnitMsr",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalUnitMsr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LstSalDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LstSalDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "UpdateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "UpdateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "frozenFor",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "frozenFor",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "frozenFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "frozenFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "frozenTo",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "frozenTo",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ItemType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ItemType",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "U_EOL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "U_EOL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "U_EolFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "U_EolFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "U_SWEOL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "U_SWEOL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "U_SWEolFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "U_SWEolFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SalPackUn",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "SalPackUn",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PurPackUn",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PurPackUn",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "U_HosPN",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "U_HosPN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NumInSale",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "NumInSale",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OITM",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SAP_Mrr_OITM",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "trunc_Mrr_OITM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[sap].[sp_trunc_Mrr_OITM]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "sap"
							},
							"tableName": {
								"type": "String",
								"value": {
									"value": "Mrr_@{pipeline().parameters.param_tableName}_replica",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Mrr_OITM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_OITM').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_OITM').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_OITM').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_OITM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_Mrr_OITM",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.columnName",
								"type": "Expression"
							},
							"type": "String"
						},
						"schemaName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.schemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.tableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "OITM"
			}
		},
		"folder": {
			"name": "SAP/Mrr"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-13T09:34:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}