pipeline/Mrr_OCRY1.json
{
	"name": "Mrr_OCRY1",
	"properties": {
		"activities": [
			{
				"name": "Mrr_OCRY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc_Mrr_OCRY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM dbo.@{pipeline().parameters.param_tableName}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AddrFormat",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "AddrFormat",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "UserSign",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "UserSign",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "IsEC",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "IsEC",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ReportCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ReportCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxIdDigts",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "TaxIdDigts",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "BnkCodDgts",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BnkCodDgts",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BnkBchDgts",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BnkBchDgts",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BnkActDgts",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BnkActDgts",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BnkCtKDgts",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BnkCtKDgts",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ValDomAcct",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ValDomAcct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ValIban",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ValIban",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "IsBlackLst",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "IsBlackLst",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "UICCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "UICCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CntCodNum",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CntCodNum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Siscomex",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Siscomex",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OCRY1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SAP_Mrr_OCRY1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "trunc_Mrr_OCRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[sap].[sp_trunc_Mrr_OCRY]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_sorrelbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Mrr_OCRY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_OCRY').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_OCRY').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_OCRY').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_OCRY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_Mrr_OCRY1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "OCRY"
			}
		},
		"folder": {
			"name": "SAP_SORREL/MRR"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-04T07:49:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}