pipeline/Mrr_OITB.json
{
	"name": "Mrr_OITB",
	"properties": {
		"activities": [
			{
				"name": "Mrr_OITB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc_Mrr_OITB",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT \n       [ItmsGrpCod]\n      ,[ItmsGrpNam]\n      ,[updateDate]\n      ,[U_ItemType]\n      ,[U_Company]\nFROM dbo.@{pipeline().parameters.param_tableName}\nWHERE COALESCE ([UpdateDate], [CreateDate],getdate()) >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ItmsGrpCod",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ItmsGrpCod",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "ItmsGrpNam",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ItmsGrpNam",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "updateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "updateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "U_ItemType",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "U_ItemType",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "U_Company",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "U_Company",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OITB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SAP_Mrr_OITB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "trunc_Mrr_OITB",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[sap].[sp_trunc_Mrr_OITB]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "sap"
							},
							"tableName": {
								"type": "String",
								"value": {
									"value": "Mrr_@{pipeline().parameters.param_tableName}_replica",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Mrr_OITB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_OITB').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_OITB').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_OITB').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_OITB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_Mrr_OITB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.columnName",
								"type": "Expression"
							},
							"type": "String"
						},
						"schemaName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.schemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@activity('get watermark').output.firstRow.tableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string",
				"defaultValue": "OITB"
			}
		},
		"folder": {
			"name": "SAP/Mrr"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-18T13:00:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}