pipeline/Mrr_SF_Master_Document.json
{
	"name": "Mrr_SF_Master_Document",
	"properties": {
		"activities": [
			{
				"name": "Mrr_SF_Master_Document",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "trunc_training_Mrr_SF_Master_Document",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "select * from CompSuite__Document_Header__c\nWHERE LastModifiedDate >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OwnerId",
									"type": "String"
								},
								"sink": {
									"name": "OwnerId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsDeleted",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RecordTypeId",
									"type": "String"
								},
								"sink": {
									"name": "RecordTypeId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CreatedById",
									"type": "String"
								},
								"sink": {
									"name": "CreatedById",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastModifiedById",
									"type": "String"
								},
								"sink": {
									"name": "LastModifiedById",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SystemModstamp",
									"type": "DateTime"
								},
								"sink": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastActivityDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastActivityDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastViewedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastViewedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastReferencedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastReferencedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CompSuite__Applicable_Curriculums__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Applicable_Curriculums__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Change_Control__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Change_Control__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Delivery_URL__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Delivery_URL__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Training_Eff_Protocol__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Training_Eff_Protocol__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Document_State__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Document_State__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Document_Type__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Document_Type__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Effective_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "CompSuite__Effective_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CompSuite__File_Id__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__File_Id__c",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__File_URL__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__File_URL__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Keywords__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Keywords__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Life_Cycle_Comments__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Life_Cycle_Comments__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Lock_Fields__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Lock_Fields__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__PDF_Id__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__PDF_Id__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__PDF_URL__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__PDF_URL__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__State__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__State__c",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Version__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Version__c",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Old_Master_Document_Number1__c",
									"type": "String"
								},
								"sink": {
									"name": "Old_Master_Document_Number1__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PDF_Link__c",
									"type": "String"
								},
								"sink": {
									"name": "PDF_Link__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Last_Periodic_Review__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Last_Periodic_Review__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Next_Periodic_Review__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Next_Periodic_Review__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Periodic_Review_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Periodic_Review_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Update_Date__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Update_Date__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Document_Legacy_Number__c",
									"type": "String"
								},
								"sink": {
									"name": "Document_Legacy_Number__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Is_this_a_form__c",
									"type": "String"
								},
								"sink": {
									"name": "Is_this_a_form__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Document_Header__c",
									"type": "String"
								},
								"sink": {
									"name": "Document_Header__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Preview_PDF__c",
									"type": "String"
								},
								"sink": {
									"name": "Preview_PDF__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Template_for_Type__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Template_for_Type__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Document_Number__c",
									"type": "String"
								},
								"sink": {
									"name": "Document_Number__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Department__c",
									"type": "String"
								},
								"sink": {
									"name": "Department__c",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Assemblie__c",
									"type": "String"
								},
								"sink": {
									"name": "Assemblie__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Company__c",
									"type": "String"
								},
								"sink": {
									"name": "Company__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Document_Category__c",
									"type": "String"
								},
								"sink": {
									"name": "Document_Category__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ECO_Number_MP_System__c",
									"type": "String"
								},
								"sink": {
									"name": "ECO_Number_MP_System__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Keywords_Filter__c",
									"type": "String"
								},
								"sink": {
									"name": "Keywords_Filter__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Location_of_Completed_Forms__c",
									"type": "String"
								},
								"sink": {
									"name": "Location_of_Completed_Forms__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Master_Document_Number__c",
									"type": "String"
								},
								"sink": {
									"name": "Master_Document_Number__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Number_of_Controlled_Copies__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Number_of_Controlled_Copies__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Old_Master_Document_Number__c",
									"type": "String"
								},
								"sink": {
									"name": "Old_Master_Document_Number__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Project_Name__c",
									"type": "String"
								},
								"sink": {
									"name": "Project_Name__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QA_Approval_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "QA_Approval_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CompSuite__Business_Unit__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Business_Unit__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompSuite__Document_Legacy_Number__c",
									"type": "String"
								},
								"sink": {
									"name": "CompSuite__Document_Legacy_Number__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SF_Master_Document",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Training_Mrr_SF_Master_Document",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "trunc_training_Mrr_SF_Master_Document",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[training].[sp_trunc_Mrr_SF_Master_Document]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [highValue]\nFROM [watermarks].[highValues]\nWHERE [tableName] = 'Mrr_SF_Master_Document_replica'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": "LastModifiedDate",
							"type": "String"
						},
						"schemaName": {
							"value": "training",
							"type": "String"
						},
						"tableName": {
							"value": "Mrr_SF_Master_Document_replica",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stream activity - copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Mrr_SF_Master_Document",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "\n[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_SF_Master_Document - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_SF_Master_Document').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_SF_Master_Document').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_SF_Master_Document').output.rowsSkipped}\n}\n]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upsert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Mrr_SF_Master_Document",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[training].[sp_Merge_Mrr_SF_Master_Document]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Training_Mrr_SF_Curriculum",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "stream activity - merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_SF_Master_Document - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Training/Mrr"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-18T13:00:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}