pipeline/Mrr_DeviceMovement.json
{
	"name": "Mrr__DeviceMovement",
	"properties": {
		"activities": [
			{
				"name": "Truncate Mrr_DeviceMovement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDHR].[sp_trunc_Mrr_DeviceMovement]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Mrr_DeviceMovement",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate Mrr_DeviceMovement",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [dbo].[_DeviceMovement]\nWHERE [@{activity('get watermark').output.firstRow.columnName}] >= '@{activity('get watermark').output.firstRow.highValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adfstagedcopytempdata"
					},
					"enableSkipIncompatibleRow": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "st_error_log",
							"type": "LinkedServiceReference"
						},
						"path": "adf-errorlogs-dev"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Device",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Device",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Target",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Target",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "_By",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "By",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "_Comments",
									"type": "String",
									"physicalType": "ntext"
								},
								"sink": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DeviceMovement",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Mrr_DeviceMovement",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[watermarks].[sp_get_watermark]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": "EDHR"
							},
							"tableName": {
								"type": "String",
								"value": "Mrr_DeviceMovement_replica"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": "ID",
							"type": "String"
						},
						"schemaName": {
							"value": "EDHR",
							"type": "String"
						},
						"tableName": {
							"value": "Mrr_DeviceMovement_replica",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "upsert",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Mrr_DeviceMovement",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDHR].[sp_Merge_Mrr_DeviceMovement]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "EDHR/MRR"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-22T08:03:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}