pipeline/SF_MRR_Account_FromSFExample.json
{
	"name": "SF_MRR_Account_FromSFExample",
	"properties": {
		"activities": [
			{
				"name": "SF_MRR_Acoount",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate SF_Mrr_Account",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select * from Account\nWHERE LastModifiedDate >= '@{activity('get watermark').output.firstRow.highValue}'",
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsDeleted",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "MasterRecordId",
									"type": "String"
								},
								"sink": {
									"name": "MasterRecordId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ParentId",
									"type": "String"
								},
								"sink": {
									"name": "ParentId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingStreet",
									"type": "String"
								},
								"sink": {
									"name": "BillingStreet",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingCity",
									"type": "String"
								},
								"sink": {
									"name": "BillingCity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingState",
									"type": "String"
								},
								"sink": {
									"name": "BillingState",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingPostalCode",
									"type": "String"
								},
								"sink": {
									"name": "BillingPostalCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingCountry",
									"type": "String"
								},
								"sink": {
									"name": "BillingCountry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingStateCode",
									"type": "String"
								},
								"sink": {
									"name": "BillingStateCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingCountryCode",
									"type": "String"
								},
								"sink": {
									"name": "BillingCountryCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingLatitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "BillingLatitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingLongitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "BillingLongitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingStreet",
									"type": "String"
								},
								"sink": {
									"name": "ShippingStreet",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingCity",
									"type": "String"
								},
								"sink": {
									"name": "ShippingCity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingState",
									"type": "String"
								},
								"sink": {
									"name": "ShippingState",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingPostalCode",
									"type": "String"
								},
								"sink": {
									"name": "ShippingPostalCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingCountry",
									"type": "String"
								},
								"sink": {
									"name": "ShippingCountry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingStateCode",
									"type": "String"
								},
								"sink": {
									"name": "ShippingStateCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingCountryCode",
									"type": "String"
								},
								"sink": {
									"name": "ShippingCountryCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingLatitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "ShippingLatitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingLongitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "ShippingLongitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingGeocodeAccuracy",
									"type": "String"
								},
								"sink": {
									"name": "ShippingGeocodeAccuracy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Website",
									"type": "String"
								},
								"sink": {
									"name": "Website",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Industry",
									"type": "String"
								},
								"sink": {
									"name": "Industry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NumberOfEmployees",
									"type": "Int32"
								},
								"sink": {
									"name": "NumberOfEmployees",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OwnerId",
									"type": "String"
								},
								"sink": {
									"name": "OwnerId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedById",
									"type": "String"
								},
								"sink": {
									"name": "CreatedById",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LastModifiedById",
									"type": "String"
								},
								"sink": {
									"name": "LastModifiedById",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SystemModstamp",
									"type": "DateTime"
								},
								"sink": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LastActivityDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastActivityDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LastViewedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastViewedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LastReferencedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastReferencedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Jigsaw",
									"type": "String"
								},
								"sink": {
									"name": "Jigsaw",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JigsawCompanyId",
									"type": "String"
								},
								"sink": {
									"name": "JigsawCompanyId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountSource",
									"type": "String"
								},
								"sink": {
									"name": "AccountSource",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SicDesc",
									"type": "String"
								},
								"sink": {
									"name": "SicDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "State__c",
									"type": "String"
								},
								"sink": {
									"name": "State__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Company_Type__c",
									"type": "String"
								},
								"sink": {
									"name": "Company_Type__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_External_Id__c",
									"type": "String"
								},
								"sink": {
									"name": "Account_External_Id__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Pump_Fleet_Size__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Pump_Fleet_Size__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sapphire_Epidural__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Sapphire_Epidural__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sapphire_Plus__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Sapphire_Plus__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sapphire_MT__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Sapphire_MT__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "City__c",
									"type": "String"
								},
								"sink": {
									"name": "City__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Street_Address__c",
									"type": "String"
								},
								"sink": {
									"name": "Street_Address__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Extended_Service__c",
									"type": "String"
								},
								"sink": {
									"name": "Extended_Service__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Contacts__c",
									"type": "String"
								},
								"sink": {
									"name": "Contacts__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Quickbooks_account__c",
									"type": "String"
								},
								"sink": {
									"name": "Quickbooks_account__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country__c",
									"type": "String"
								},
								"sink": {
									"name": "Country__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_Name_Inital_String__c",
									"type": "String"
								},
								"sink": {
									"name": "Account_Name_Inital_String__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Region__c",
									"type": "String"
								},
								"sink": {
									"name": "Region__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_Name_Copy__c",
									"type": "String"
								},
								"sink": {
									"name": "Account_Name_Copy__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_Id_18_Digits__c",
									"type": "String"
								},
								"sink": {
									"name": "Account_Id_18_Digits__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Billing_Account__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Billing_Account__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "signed_a_set_commitment_agreement__c",
									"type": "String"
								},
								"sink": {
									"name": "signed_a_set_commitment_agreement__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Set_List_Account__c",
									"type": "String"
								},
								"sink": {
									"name": "Set_List_Account__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SalesforceSandBox",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SF_Accounts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate SF_Mrr_Account",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SF].[trunc_Mrr_SF_Account]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [highValue]\nFROM [watermarks].[highValues]\nWHERE [tableName] = 'Mrr_SF_Account_Replica'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "upsert SF_MRR_Acoount_Replica",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SF_MRR_Acoount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SF].[Merge_Mrr_Account_Replica]"
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "upsert SF_MRR_Acoount_Replica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[watermarks].[sp_set_watermark]",
					"storedProcedureParameters": {
						"columnName": {
							"value": "LastModifiedDate",
							"type": "String"
						},
						"schemaName": {
							"value": "sf",
							"type": "String"
						},
						"tableName": {
							"value": "Mrr_SF_Account_Replica",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-10-08T10:02:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}