pipeline/sp_BP_FinalScore.json
{
	"name": "sp_BP_FinalScore",
	"properties": {
		"activities": [
			{
				"name": "get param 1 previous quarters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \n'1 prev Q' [name]\n, YEAR(dateadd(Quarter,-1,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-1,getdate())) [q]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "get param 2 previous quarters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \n'2 prev Q' [name]\n, YEAR(dateadd(Quarter,-2,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-2,getdate())) [q]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "get param 1 previous quarters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ScoreCards].[sp_BP_FinalScore]",
					"storedProcedureParameters": {
						"cardcode": {
							"value": {
								"value": "@''",
								"type": "Expression"
							},
							"type": "String"
						},
						"q": {
							"value": {
								"value": "@activity('get param 1 previous quarters').output.firstRow.q",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"year": {
							"value": {
								"value": "@activity('get param 1 previous quarters').output.firstRow.y",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "get param 2 previous quarters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ScoreCards].[sp_BP_FinalScore]",
					"storedProcedureParameters": {
						"cardcode": {
							"value": {
								"value": "@''",
								"type": "Expression"
							},
							"type": "String"
						},
						"q": {
							"value": {
								"value": "@activity('get param 2 previous quarters').output.firstRow.q",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"year": {
							"value": {
								"value": "@activity('get param 2 previous quarters').output.firstRow.y",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get param 3 previous quarters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \n'3 prev Q' [name]\n, YEAR(dateadd(Quarter,-3,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-3,getdate())) [q]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Stored procedure3",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "get param 3 previous quarters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ScoreCards].[sp_BP_FinalScore]",
					"storedProcedureParameters": {
						"cardcode": {
							"value": {
								"value": "@''",
								"type": "Expression"
							},
							"type": "String"
						},
						"q": {
							"value": {
								"value": "@activity('get param 3 previous quarters').output.firstRow.q",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"year": {
							"value": {
								"value": "@activity('get param 3 previous quarters').output.firstRow.y",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get param 4 previous quarters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \n'4 prev Q' [name]\n, YEAR(dateadd(Quarter,-4,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-4,getdate())) [q]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks_highValues",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Stored procedure4",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "get param 4 previous quarters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ScoreCards].[sp_BP_FinalScore]",
					"storedProcedureParameters": {
						"cardcode": {
							"value": {
								"value": "@''",
								"type": "Expression"
							},
							"type": "String"
						},
						"q": {
							"value": {
								"value": "@activity('get param 4 previous quarters').output.firstRow.q",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"year": {
							"value": {
								"value": "@activity('get param 4 previous quarters').output.firstRow.y",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "ScoreCards/Dwh"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-18T13:00:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}