adf-egbi-dev/PartialArmTemplates/ArmTemplate_12_13_2020_12_11_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_DHR_Assembly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trunc Mrr_DHR_Assembly",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[EDHR].[sp_trunc_Mrr_DHR_Assembly]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Mrr_DHR_Assembly",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Mrr_DHR_Assembly",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Procedure",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Procedure",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_StartTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "StartTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "_EndTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "EndTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "_ExecutedBy",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ExecutedBy",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Parent",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Parent",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Comments",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Comments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_Result",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Result",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_FailReason",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "FailReason",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_PCAppSoftwareVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PCAppSoftwareVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_Deleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Deleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "_DeletedBy",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DeletedBy",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_DeletedTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DeletedTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "_InsertTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "_LastUpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastUpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "_OriginalProcedureId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OriginalProcedureId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_QcApprovalTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "QcApprovalTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "_QcApprover",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "QcApprover",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Device",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Device",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_DeviceSoftwareVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DeviceSoftwareVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_EntranceReason",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "EntranceReason",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DHR_Assembly",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_DHR_Assembly",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "EDHR/MRR"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DHR_Assembly')]",
				"[concat(variables('factoryId'), '/datasets/Mrr_DHR_Assembly')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DHR_Assembly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sql_rptsrv",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Procedure",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_StartTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_EndTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_ExecutedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Parent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Comments",
						"type": "ntext"
					},
					{
						"name": "_Result",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_FailReason",
						"type": "ntext"
					},
					{
						"name": "_PCAppSoftwareVersion",
						"type": "nvarchar"
					},
					{
						"name": "_Deleted",
						"type": "bit"
					},
					{
						"name": "_DeletedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_DeletedTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_InsertTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_LastUpdateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_OriginalProcedureId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_QcApprovalTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_QcApprover",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Device",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_DeviceSoftwareVersion",
						"type": "nvarchar"
					},
					{
						"name": "_EntranceReason",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "_DHR_Assembly"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_DHR_Assembly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Procedure",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_StartTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_EndTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_ExecutedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Parent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Comments",
						"type": "nvarchar"
					},
					{
						"name": "_Result",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_FailReason",
						"type": "nvarchar"
					},
					{
						"name": "_PCAppSoftwareVersion",
						"type": "nvarchar"
					},
					{
						"name": "_Deleted",
						"type": "bit"
					},
					{
						"name": "_DeletedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_DeletedTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_InsertTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_LastUpdateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_OriginalProcedureId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_QcApprovalTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_QcApprover",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_Device",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_DeviceSoftwareVersion",
						"type": "nvarchar"
					},
					{
						"name": "_EntranceReason",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "EDHR",
					"table": "Mrr_DHR_Assembly"
				}
			},
			"dependsOn": []
		}
	]
}