adf-egbi-dev/PartialArmTemplates/ArmTemplate_12_1_2020_16_43_52.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_ProcedureType')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trunc Mrr_ProcedureType_Replica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[EDHR].[sp_trunc_ProcedureType_Replica]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Mrr_ProcedureType_Replica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Mrr_ProcedureType_Replica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_Parent",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_Parent",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Authorized",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_Authorized",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_DataClass",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_DataClass",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_OrderValue",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_OrderValue",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_ResultType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_ResultType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_DetailedDescription",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "_DetailedDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_Required",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "_Required",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "_EditorURL",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "_EditorURL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_Obsolete",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "_Obsolete",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "_DisplayedName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "_DisplayedName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_AfterSignChangeAuthorized",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_AfterSignChangeAuthorized",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_QcApprovalEnabled",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "_QcApprovalEnabled",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "_EnforcedLocation",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_EnforcedLocation",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_ManualEditing",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "_ManualEditing",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ProcedureType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_ProcedureType_Replica",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "EDHR/MRR"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ProcedureType')]",
				"[concat(variables('factoryId'), '/datasets/Mrr_ProcedureType_Replica')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_ProcedureType_Replica')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Name",
						"type": "nvarchar"
					},
					{
						"name": "_Parent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Authorized",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_DataClass",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_OrderValue",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_ResultType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_DetailedDescription",
						"type": "nvarchar"
					},
					{
						"name": "_Required",
						"type": "bit"
					},
					{
						"name": "_EditorURL",
						"type": "nvarchar"
					},
					{
						"name": "_Obsolete",
						"type": "bit"
					},
					{
						"name": "_DisplayedName",
						"type": "nvarchar"
					},
					{
						"name": "_AfterSignChangeAuthorized",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_QcApprovalEnabled",
						"type": "bit"
					},
					{
						"name": "_EnforcedLocation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_ManualEditing",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "EDHR",
					"table": "Mrr_ProcedureType_Replica"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcedureType')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sql_rptsrv",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Name",
						"type": "nvarchar"
					},
					{
						"name": "_Parent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_Authorized",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_DataClass",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_OrderValue",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_ResultType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_DetailedDescription",
						"type": "ntext"
					},
					{
						"name": "_Required",
						"type": "bit"
					},
					{
						"name": "_EditorURL",
						"type": "ntext"
					},
					{
						"name": "_Obsolete",
						"type": "bit"
					},
					{
						"name": "_DisplayedName",
						"type": "nvarchar"
					},
					{
						"name": "_AfterSignChangeAuthorized",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_QcApprovalEnabled",
						"type": "bit"
					},
					{
						"name": "_EnforcedLocation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_ManualEditing",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "_ProcedureType"
				}
			},
			"dependsOn": []
		}
	]
}