adf-egbi-dev/PartialArmTemplates/ArmTemplate_12_2_2020_13_15_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/2_ToIntegrator_SF_accounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy datato SAP integrator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT   [Id]\n      ,[IsDeleted]\n      ,[MasterRecordId]\n      ,[Name]\n      ,[Type]\n      ,[ParentId]\n      ,[BillingStreet]\n      ,[BillingCity]\n      ,[BillingState]\n      ,[BillingPostalCode]\n      ,[BillingCountry]\n      ,[BillingStateCode]\n      ,[BillingCountryCode]\n      ,[BillingLatitude]\n      ,[BillingLongitude]\n      ,[BillingGeocodeAccurcy]\n      ,[ShippingStreet]\n      ,[ShippingCity]\n      ,[ShippingState]\n      ,[ShippingPostalCode]\n      ,[ShippingCountry]\n      ,[ShippingStateCode]\n      ,[ShippingCountryCode]\n      ,[ShippingLatitude]\n      ,[ShippingLongitude]\n      ,[ShippingGeocodeAccuracy]\n      ,[Phone]\n      ,[Website]\n      ,[Industry]\n      ,[NumberOfEmployees]\n      ,[Description]\n      ,[OwnerId]\n      ,[CreatedDate]\n      ,[CreatedById]\n      ,[LastModifiedDate]\n      ,[LastModifiedById]\n      ,[SystemModstamp]\n      ,[LastActivityDate]\n      ,[LastViewedDate]\n      ,[LastReferencedDate]\n      ,[Jigsaw]\n      ,[JigsawCompanyId]\n      ,[AccountSource]\n      ,[SicDesc]\n      ,[State__c]\n      ,[Company_Type__c]\n      ,[Account_External_Id__c]\n      ,[Pump_Fleet_Size__c]\n      ,[Sapphire_Epidural__c]\n      ,[Sapphire_Plus__c]\n      ,[Sapphire_MT__c]\n      ,[City__c]\n      ,[Street_Address__c]\n      ,[Extended_Service__c]\n      ,[Contacts__c]\n      ,[Quickbooks_account__c]\n      ,[Country__c]\n      ,[Account_Name_Inital_String__c]\n      ,[Region__c]\n      ,[Account_Name_Copy__c]\n      ,[Account_Id_18_Digits__c]\n      ,[Billing_Account__c]\n      ,[ETL_ID]\n      ,[ETL_datetime]\n      ,[ETL_Action]\n      ,[ETL_TargetUpdated]\n      ,[ERP_Account_ID__c]\n      ,[AnnualRevenue]\n      ,[signed_a_set_commitment_agreement__c]\n      ,[Set_List_Account__c]\n      ,[dtUpdated]\n      ,[BYD_id]\n      ,[BYD_CompanyID]\n      ,[BYD_dtUpdated]\n      ,[CustomerType]\n      ,[Account_Owner_Email]\n \n  FROM [SF].[Mrr_SF_Account_Replica] where \n [ETL_TargetUpdated] = 0 \n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ParentId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ParentId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCity",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingState",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingGeocodeAccurcy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingGeocodeAccurcy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCity",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingState",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Website",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Website",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Industry",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Industry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NumberOfEmployees",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NumberOfEmployees",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastActivityDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastActivityDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Jigsaw",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Jigsaw",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JigsawCompanyId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "JigsawCompanyId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountSource",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SicDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SicDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Company_Type__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Company_Type__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pump_Fleet_Size__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pump_Fleet_Size__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Epidural__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sapphire_Epidural__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Plus__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sapphire_Plus__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_MT__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sapphire_MT__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street_Address__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Street_Address__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Extended_Service__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Extended_Service__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Contacts__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Contacts__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quickbooks_account__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Quickbooks_account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Inital_String__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Name_Inital_String__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Region__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Copy__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Name_Copy__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Id_18_Digits__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Id_18_Digits__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Billing_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Billing_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ETL_datetime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ETL_datetime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ETL_Action",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ETL_Action",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ETL_TargetUpdated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ETL_TargetUpdated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ERP_Account_ID__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ERP_Account_ID__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnnualRevenue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnnualRevenue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Set_List_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Set_List_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "BYD_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BYD_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BYD_CompanyID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BYD_CompanyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BYD_dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "BYD_dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Owner_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Owner_Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SFDC_Adccounts_Replica",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_integrator_dev_Account_replica",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "sp_Loader_account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy datato SAP integrator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[Loader_Mrr_SF_Account_Replica]"
						},
						"linkedServiceName": {
							"referenceName": "SAP_Integrator_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SF/ACCOUNTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-25T08:24:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFDC_Adccounts_Replica')]",
				"[concat(variables('factoryId'), '/datasets/SAP_integrator_dev_Account_replica')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_integrator_dev_Account_replica')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAP_Integrator_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "IsDeleted",
						"type": "bit"
					},
					{
						"name": "MasterRecordId",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "ParentId",
						"type": "nvarchar"
					},
					{
						"name": "BillingStreet",
						"type": "nvarchar"
					},
					{
						"name": "BillingCity",
						"type": "nvarchar"
					},
					{
						"name": "BillingState",
						"type": "nvarchar"
					},
					{
						"name": "BillingPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "BillingCountry",
						"type": "nvarchar"
					},
					{
						"name": "BillingStateCode",
						"type": "nvarchar"
					},
					{
						"name": "BillingCountryCode",
						"type": "nvarchar"
					},
					{
						"name": "BillingLatitude",
						"type": "nvarchar"
					},
					{
						"name": "BillingLongitude",
						"type": "nvarchar"
					},
					{
						"name": "BillingGeocodeAccurcy",
						"type": "nvarchar"
					},
					{
						"name": "ShippingStreet",
						"type": "nvarchar"
					},
					{
						"name": "ShippingCity",
						"type": "nvarchar"
					},
					{
						"name": "ShippingState",
						"type": "nvarchar"
					},
					{
						"name": "ShippingPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "ShippingCountry",
						"type": "nvarchar"
					},
					{
						"name": "ShippingStateCode",
						"type": "nvarchar"
					},
					{
						"name": "ShippingCountryCode",
						"type": "nvarchar"
					},
					{
						"name": "ShippingLatitude",
						"type": "nvarchar"
					},
					{
						"name": "ShippingLongitude",
						"type": "nvarchar"
					},
					{
						"name": "ShippingGeocodeAccuracy",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "Website",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "NumberOfEmployees",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "OwnerId",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedById",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifiedById",
						"type": "nvarchar"
					},
					{
						"name": "SystemModstamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastActivityDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastViewedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastReferencedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Jigsaw",
						"type": "nvarchar"
					},
					{
						"name": "JigsawCompanyId",
						"type": "nvarchar"
					},
					{
						"name": "AccountSource",
						"type": "nvarchar"
					},
					{
						"name": "SicDesc",
						"type": "nvarchar"
					},
					{
						"name": "State__c",
						"type": "nvarchar"
					},
					{
						"name": "Company_Type__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_External_Id__c",
						"type": "nvarchar"
					},
					{
						"name": "Pump_Fleet_Size__c",
						"type": "nvarchar"
					},
					{
						"name": "Sapphire_Epidural__c",
						"type": "nvarchar"
					},
					{
						"name": "Sapphire_Plus__c",
						"type": "nvarchar"
					},
					{
						"name": "Sapphire_MT__c",
						"type": "nvarchar"
					},
					{
						"name": "City__c",
						"type": "nvarchar"
					},
					{
						"name": "Street_Address__c",
						"type": "nvarchar"
					},
					{
						"name": "Extended_Service__c",
						"type": "nvarchar"
					},
					{
						"name": "Contacts__c",
						"type": "nvarchar"
					},
					{
						"name": "Quickbooks_account__c",
						"type": "nvarchar"
					},
					{
						"name": "Country__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_Name_Inital_String__c",
						"type": "nvarchar"
					},
					{
						"name": "Region__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_Name_Copy__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_Id_18_Digits__c",
						"type": "nvarchar"
					},
					{
						"name": "Billing_Account__c",
						"type": "nvarchar"
					},
					{
						"name": "ETL_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ETL_datetime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ETL_Action",
						"type": "nvarchar"
					},
					{
						"name": "ETL_TargetUpdated",
						"type": "bit"
					},
					{
						"name": "ERP_Account_ID__c",
						"type": "nvarchar"
					},
					{
						"name": "AnnualRevenue",
						"type": "nvarchar"
					},
					{
						"name": "signed_a_set_commitment_agreement__c",
						"type": "nvarchar"
					},
					{
						"name": "Set_List_Account__c",
						"type": "nvarchar"
					},
					{
						"name": "dtUpdated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BYD_id",
						"type": "nvarchar"
					},
					{
						"name": "BYD_CompanyID",
						"type": "nvarchar"
					},
					{
						"name": "BYD_dtUpdated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CustomerType",
						"type": "nvarchar"
					},
					{
						"name": "Account_Owner_Email",
						"type": "nvarchar"
					},
					{
						"name": "TransactionID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "SF",
					"table": "Mrr_SF_Account_Replica"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFDC_Adccounts_Replica')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "IsDeleted",
						"type": "bit"
					},
					{
						"name": "MasterRecordId",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "ParentId",
						"type": "nvarchar"
					},
					{
						"name": "BillingStreet",
						"type": "nvarchar"
					},
					{
						"name": "BillingCity",
						"type": "nvarchar"
					},
					{
						"name": "BillingState",
						"type": "nvarchar"
					},
					{
						"name": "BillingPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "BillingCountry",
						"type": "nvarchar"
					},
					{
						"name": "BillingStateCode",
						"type": "nvarchar"
					},
					{
						"name": "BillingCountryCode",
						"type": "nvarchar"
					},
					{
						"name": "BillingLatitude",
						"type": "nvarchar"
					},
					{
						"name": "BillingLongitude",
						"type": "nvarchar"
					},
					{
						"name": "BillingGeocodeAccurcy",
						"type": "nvarchar"
					},
					{
						"name": "ShippingStreet",
						"type": "nvarchar"
					},
					{
						"name": "ShippingCity",
						"type": "nvarchar"
					},
					{
						"name": "ShippingState",
						"type": "nvarchar"
					},
					{
						"name": "ShippingPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "ShippingCountry",
						"type": "nvarchar"
					},
					{
						"name": "ShippingStateCode",
						"type": "nvarchar"
					},
					{
						"name": "ShippingCountryCode",
						"type": "nvarchar"
					},
					{
						"name": "ShippingLatitude",
						"type": "nvarchar"
					},
					{
						"name": "ShippingLongitude",
						"type": "nvarchar"
					},
					{
						"name": "ShippingGeocodeAccuracy",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "Website",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "NumberOfEmployees",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "OwnerId",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedById",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifiedById",
						"type": "nvarchar"
					},
					{
						"name": "SystemModstamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastActivityDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastViewedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastReferencedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Jigsaw",
						"type": "nvarchar"
					},
					{
						"name": "JigsawCompanyId",
						"type": "nvarchar"
					},
					{
						"name": "AccountSource",
						"type": "nvarchar"
					},
					{
						"name": "SicDesc",
						"type": "nvarchar"
					},
					{
						"name": "State__c",
						"type": "nvarchar"
					},
					{
						"name": "Company_Type__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_External_Id__c",
						"type": "nvarchar"
					},
					{
						"name": "Pump_Fleet_Size__c",
						"type": "nvarchar"
					},
					{
						"name": "Sapphire_Epidural__c",
						"type": "nvarchar"
					},
					{
						"name": "Sapphire_Plus__c",
						"type": "nvarchar"
					},
					{
						"name": "Sapphire_MT__c",
						"type": "nvarchar"
					},
					{
						"name": "City__c",
						"type": "nvarchar"
					},
					{
						"name": "Street_Address__c",
						"type": "nvarchar"
					},
					{
						"name": "Extended_Service__c",
						"type": "nvarchar"
					},
					{
						"name": "Contacts__c",
						"type": "nvarchar"
					},
					{
						"name": "Quickbooks_account__c",
						"type": "nvarchar"
					},
					{
						"name": "Country__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_Name_Inital_String__c",
						"type": "nvarchar"
					},
					{
						"name": "Region__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_Name_Copy__c",
						"type": "nvarchar"
					},
					{
						"name": "Account_Id_18_Digits__c",
						"type": "nvarchar"
					},
					{
						"name": "Billing_Account__c",
						"type": "nvarchar"
					},
					{
						"name": "ETL_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ETL_datetime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ETL_Action",
						"type": "nvarchar"
					},
					{
						"name": "ETL_TargetUpdated",
						"type": "bit"
					},
					{
						"name": "ERP_Account_ID__c",
						"type": "nvarchar"
					},
					{
						"name": "AnnualRevenue",
						"type": "nvarchar"
					},
					{
						"name": "signed_a_set_commitment_agreement__c",
						"type": "nvarchar"
					},
					{
						"name": "Set_List_Account__c",
						"type": "nvarchar"
					},
					{
						"name": "dtUpdated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BYD_id",
						"type": "nvarchar"
					},
					{
						"name": "BYD_CompanyID",
						"type": "nvarchar"
					},
					{
						"name": "BYD_dtUpdated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CustomerType",
						"type": "nvarchar"
					},
					{
						"name": "Account_Owner_Email",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "SF",
					"table": "Mrr_SF_Account_Replica"
				}
			},
			"dependsOn": []
		}
	]
}