adf-egbi-dev/PartialArmTemplates/ArmTemplate_10_19_2020_13_12_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AWS_Complaint",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Complaint",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "AWS_Complaint_Issue",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Complaint_Issue",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "AWS_Service",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Service",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "AWS_Service_Activites",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Service_Activites",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "AWS_KnownIssues",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_KnownIssues",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "AWS_User",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_User",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Mrr_parm_CallCategory",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_parm_CallCategory",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "Service"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Mrr_parm_CallCategory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_parm_CallCategory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_parm_CallCategory",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_parm_CallCategory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsFreeText",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsFreeText",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "SortOrder",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SortOrder",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "parm_CallCategory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_parm_CallCategory",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "trunc_Mrr_parm_CallCategory",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[trunc_Mrr_parm_CallCategory]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/parm_CallCategory')]",
				"[concat(variables('factoryId'), '/datasets/Mrr_parm_CallCategory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_parm_CallCategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDB-EGBI-DEV/Service/Mrr"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "IsFreeText",
						"type": "bit"
					},
					{
						"name": "SortOrder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "srv",
					"table": "Mrr_parm_CallCategory"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/parm_CallCategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "IsFreeText",
						"type": "bit"
					},
					{
						"name": "SortOrder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "parm_CallCategory"
				}
			},
			"dependsOn": []
		}
	]
}