adf-egbi-dev/PartialArmTemplates/ArmTemplate_10_19_2020_13_51_38.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Dim_User')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_Stg_Dim_User",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Stg_Dim_User]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Stg_Dim_User",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_Stg_Dim_User",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fGroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fGroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IsTrainingUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsTrainingUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsAdminUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsAdminUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Position",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fStateID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStateID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fCountryID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fCountryID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Organization",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Organization",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fNewUserStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fNewUserStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsBlockUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsBlockUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "UserCertificationRenewDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UserCertificationRenewDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ApproveTermsConditions",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ApproveTermsConditions",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsNeedApproveTermsAgain",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNeedApproveTermsAgain",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "fLocationID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fLocationID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__fDistributorID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "__fDistributorID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_User",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Stg_Dim_User",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Service/Stg"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-22T09:12:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Stg_Dim_User')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Dim_User')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldb_egbi_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fGroupID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsTrainingUser",
						"type": "bit"
					},
					{
						"name": "IsAdminUser",
						"type": "bit"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Position",
						"type": "nvarchar"
					},
					{
						"name": "fStateID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "fCountryID",
						"type": "nvarchar"
					},
					{
						"name": "fServiceCenterID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Organization",
						"type": "nvarchar"
					},
					{
						"name": "UserName",
						"type": "nvarchar"
					},
					{
						"name": "UserDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "fStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fNewUserStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RegistrationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsBlockUser",
						"type": "bit"
					},
					{
						"name": "UserCertificationRenewDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ApproveTermsConditions",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsNeedApproveTermsAgain",
						"type": "bit"
					},
					{
						"name": "fLocationID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsToExport",
						"type": "bit"
					},
					{
						"name": "dtLastExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__fDistributorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_fServiceCenterID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "srv",
					"table": "Stg_Dim_User"
				}
			},
			"dependsOn": []
		}
	]
}