adf-egbi-dev/linkedTemplates/ArmTemplate_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_ServiceFlow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_ServiceFlow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Mrr_ServiceFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ServiceFlow",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_ServiceFlow",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Mrr_ServiceFlow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Mrr_serviceflow]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_ServiceGoal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trunc_Mrr_ServiceGoal",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_ServiceGoal]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_ServiceGoal",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trunc_Mrr_ServiceGoal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_StepName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_StepName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_StepFatherGroup",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_StepFatherGroup",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_GoalInDays",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_GoalInDays",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Sd_Rule",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sd_Rule",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Ed_Rule",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Ed_Rule",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SERVICEGOAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_ServiceGoal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T07:49:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service_Center')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_trunc_Mrr_Service_Center",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_ServiceCenters]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Mrr_Service_Center",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Service_Center",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_SC_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SC_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Active",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Active",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HubCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HubCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HubName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HubName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IntakeFormEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IntakeFormEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IntakeFormSAMA",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IntakeFormSAMA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IsQcore",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IsQcore",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IsICU",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IsICU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ServiceCenterType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_ServiceCenterType",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ServiceCenters",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Center",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:56:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service_Center1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_trunc_Mrr_Service_Center",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_ServiceCenters]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Mrr_Service_Center",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Service_Center",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_SC_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SC_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Active",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Active",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HubCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HubCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HubName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HubName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IntakeFormEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IntakeFormEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IntakeFormSAMA",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IntakeFormSAMA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IsQcore",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IsQcore",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IsICU",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IsICU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ServiceCenterType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_ServiceCenterType",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ServiceCenters1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Center1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-04T07:50:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service_Flow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_ServiceFlow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_ServiceFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service_Flow",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Flow",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_ServiceFlow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_serviceflow]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:50:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service_Flow1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_ServiceFlow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_ServiceFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service_Flow1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Flow1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_ServiceFlow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_serviceflow]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-04T07:50:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_SrvCenterConfig')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_SrvCenterConfig",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Mrr_SrvCenterConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Location",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Location",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Countries",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Countries",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ReEqp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ReEqp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrvCenterConfig",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_SrvCenterConfig",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Mrr_SrvCenterConfig",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Mrr_SrvCenterConfig]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Srv_Packing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trunc_Mrr_Srv_Packing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_Srv_Packing]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Srv_Packing",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trunc_Mrr_Srv_Packing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DocNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Period",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Instance",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "Instance",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Series",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Series",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Handwrtten",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Handwrtten",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RequestStatus",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "RequestStatus",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Creator",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Creator",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Remark",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Remark",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "U_SO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CustomerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CustomerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_MixPumps",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "U_MixPumps",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SRV_PACKING",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Srv_Packing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T07:49:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Srv_Serials')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trunc_Mrr_Srv_Serials",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_Srv_Serials]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Srv_Serials",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trunc_Mrr_Srv_Serials",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LineId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LineId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "VisOrder",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "VisOrder",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_SerialNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SerialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Rma",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Rma",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SRV_SERIALS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Srv_Serials",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T07:54:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Suppliers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Suppliers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \n\tT0.[CardCode], \n\tIsnull(t0.CardFName, CardName) AS [CardName], \n\tCASE \n\t\tWHEN T0.[GroupCode] = 101 THEN 'Local'\n\t\tWHEN T0.[GroupCode] = 102 THEN 'Abroad'\n\tEND AS [Group],\n\tT2.[CurrName], \n\tT0.E_Mail,  \n\t'' AS [PayMethod], \n\tU_ASLType, \n\tt0.ListNum , \n\tt0.LicTradNum, \n\tDB_NAME() AS [DB_NAME]\n FROM [dbo].[OCRD] AS T0 \n \n LEFT JOIN [dbo].[OCRN] AS T2 \n ON T0.Currency = T2.CurrCode\n \n LEFT JOIN [dbo].[OCTG] AS T3 \n ON T0.GroupNum = T3.GroupNum\n\n WHERE [CardType] = 'S' \n   AND [frozenFor] = 'N'\n   AND [GroupCode] IN (101,102)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "U_ASLType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ASLType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListNum",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "ListNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Suppliers_OCRD_OCRN_OCTG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "porf_Mrr_Suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_Suppliers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[porf].[sp_trunc_Mrr_Suppliers]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-03T07:54:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Suppliers1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Suppliers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Suppliers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \n\tT0.[CardCode], \n\tIsnull(t0.CardFName, CardName) AS [CardName], \n\tCASE \n\t\tWHEN T0.[GroupCode] = 101 THEN 'Local'\n\t\tWHEN T0.[GroupCode] = 103 THEN 'Abroad'\n\tEND AS [Group],\n\tT2.[CurrName], \n\tT0.E_Mail,  \n\t'' AS [PayMethod], \n\t--U_ASLType, \n\tt0.ListNum , \n\tt0.LicTradNum, \n\tDB_NAME() AS [DB_NAME]\n FROM [dbo].[OCRD] AS T0 \n \n LEFT JOIN [dbo].[OCRN] AS T2 \n ON T0.Currency = T2.CurrCode\n \n LEFT JOIN [dbo].[OCTG] AS T3 \n ON T0.GroupNum = T3.GroupNum\n\n WHERE [CardType] = 'S' \n   AND [frozenFor] = 'N'\n   AND [GroupCode] IN (101,103)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ListNum",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "ListNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Suppliers_OCRD_OCRN_OCTG1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "porf_Mrr_Suppliers1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_Suppliers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[porf].[sp_trunc_Mrr_Suppliers]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T13:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_UFD1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_UFD1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "UFD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_UFD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_UFD1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "[[sap].[sp_trunc_Mrr_@{pipeline().parameters.param_tableName}]",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stream activity - copy",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_UFD1').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_UFD1').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_UFD1').output.rowsSkipped}\n}\n]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "upsert",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "[[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "stream activity - merge",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "upsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "UFD1"
					}
				},
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-15T13:37:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_UFD11')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_UFD1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "UFD11",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_UFD11",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_UFD1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "[[sap].[sp_trunc_Mrr_@{pipeline().parameters.param_tableName}]",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stream activity - copy",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_UFD1').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_UFD1').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_UFD1').output.rowsSkipped}\n}\n]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "upsert",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "[[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "stream activity - merge",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "upsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "UFD1"
					}
				},
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-04T07:49:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr__DeviceMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate Mrr_DeviceMovement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[EDHR].[sp_trunc_Mrr_DeviceMovement]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_DeviceMovement",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Mrr_DeviceMovement",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM [dbo].[_DeviceMovement]\nWHERE [@{activity('get watermark').output.firstRow.columnName}] >= '@{activity('get watermark').output.firstRow.highValue}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Device",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Device",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Target",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Target",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Time",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Time",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "_By",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "By",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_Comments",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Comments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DeviceMovement",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_DeviceMovement",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "get watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[watermarks].[sp_get_watermark]",
								"storedProcedureParameters": {
									"schemaName": {
										"type": "String",
										"value": "EDHR"
									},
									"tableName": {
										"type": "String",
										"value": "Mrr_DeviceMovement"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "set watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "upsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[watermarks].[sp_set_watermark]",
							"storedProcedureParameters": {
								"columnName": {
									"value": "ID",
									"type": "String"
								},
								"schemaName": {
									"value": "EDHR",
									"type": "String"
								},
								"tableName": {
									"value": "Mrr_DeviceMovement",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "upsert",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Mrr_DeviceMovement",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[EDHR].[sp_Merge_Mrr_DeviceMovement]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "DeviceMovement"
					}
				},
				"folder": {
					"name": "EDHR/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-22T08:03:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_projects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trunc_Mrr_Projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_trunc_Mrr_Projects]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Projects",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n\n\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MRR_PROJECTS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Porf_mrr_projects",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "PORF/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T12:11:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_projects1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trunc_Mrr_Projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_trunc_Mrr_Projects]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Projects",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n\n\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MRR_PROJECTS1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Porf_mrr_projects1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "PORF_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-12T07:10:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Mrr_OSCN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUN_OSCN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_OSCN]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MRR_OSCN",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TRUN_OSCN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OSCN",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_OSCN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-26T10:18:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Mrr_OSCN1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUN_OSCN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_OSCN]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MRR_OSCN",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TRUN_OSCN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_Manuf",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Manuf",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OSCN1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_OSCN1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-07T07:39:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_ScoreCards')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Stg_IQC_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_IQC_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_ScarLog",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_ScarLog",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_Suppliers_Audit_Activities_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Suppliers_Audit_Activities_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_Suppiers_OTD",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Suppiers_OTD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ScoreCards"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Service')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stg_Dim_Product",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Dim_Product",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_ComplaintHeader",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_ComplaintHeader",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_InstallBase",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_InstallBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_Oscl",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_Oscl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_Trending",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_Trending",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_OrdersAndShipments",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_OrdersAndShipments",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_OCReport",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_OCReport",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Dim_User",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Dim_User",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_AWSCalls",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_AWSCalls",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_ServiceFlow",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_ServiceFlow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Service"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T08:26:20Z"
			},
			"dependsOn": []
		}
	]
}