adf-egbi-dev/linkedTemplates/ArmTemplate_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service_Flow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_ServiceFlow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_ServiceFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service_Flow",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Flow",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_ServiceFlow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_serviceflow]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:50:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service_Flow1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_ServiceFlow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_ServiceFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Callid",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ObjId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Sort",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Step",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Startdate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Enddate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DaysInstep",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "StepGoal",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PendingGroup",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service_Flow1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Flow1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_ServiceFlow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_serviceflow]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-04T07:50:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_SrvCenterConfig')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_SrvCenterConfig",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Mrr_SrvCenterConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Location",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Location",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Countries",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Countries",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ReEqp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ReEqp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrvCenterConfig",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_SrvCenterConfig",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Mrr_SrvCenterConfig",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Mrr_SrvCenterConfig]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Srv_Packing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trunc_Mrr_Srv_Packing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_Srv_Packing]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Srv_Packing",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trunc_Mrr_Srv_Packing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DocNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Period",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Instance",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "Instance",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Series",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Series",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Handwrtten",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Handwrtten",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RequestStatus",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "RequestStatus",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Creator",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Creator",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Remark",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Remark",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "U_SO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CustomerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CustomerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_MixPumps",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "U_MixPumps",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SRV_PACKING",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Srv_Packing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T07:49:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Srv_Serials')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trunc_Mrr_Srv_Serials",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_Srv_Serials]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Srv_Serials",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trunc_Mrr_Srv_Serials",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LineId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LineId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "VisOrder",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "VisOrder",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_SerialNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SerialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Rma",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Rma",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SRV_SERIALS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Srv_Serials",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T07:54:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Suppliers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Suppliers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \n\tT0.[CardCode], \n\tIsnull(t0.CardFName, CardName) AS [CardName], \n\tCASE \n\t\tWHEN T0.[GroupCode] = 101 THEN 'Local'\n\t\tWHEN T0.[GroupCode] = 102 THEN 'Abroad'\n\tEND AS [Group],\n\tT2.[CurrName], \n\tT0.E_Mail,  \n\t'' AS [PayMethod], \n\tU_ASLType, \n\tt0.ListNum , \n\tt0.LicTradNum, \n\tDB_NAME() AS [DB_NAME]\n FROM [dbo].[OCRD] AS T0 \n \n LEFT JOIN [dbo].[OCRN] AS T2 \n ON T0.Currency = T2.CurrCode\n \n LEFT JOIN [dbo].[OCTG] AS T3 \n ON T0.GroupNum = T3.GroupNum\n\n WHERE [CardType] = 'S' \n   AND [frozenFor] = 'N'\n   AND [GroupCode] IN (101,102)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "U_ASLType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ASLType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListNum",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "ListNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Suppliers_OCRD_OCRN_OCTG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "porf_Mrr_Suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_Suppliers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[porf].[sp_trunc_Mrr_Suppliers]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-03T07:54:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Suppliers1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Suppliers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Suppliers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \n\tT0.[CardCode], \n\tIsnull(t0.CardFName, CardName) AS [CardName], \n\tCASE \n\t\tWHEN T0.[GroupCode] = 101 THEN 'Local'\n\t\tWHEN T0.[GroupCode] = 102 THEN 'Abroad'\n\tEND AS [Group],\n\tT2.[CurrName], \n\tT0.E_Mail,  \n\t'' AS [PayMethod], \n\t--U_ASLType, \n\tt0.ListNum , \n\tt0.LicTradNum, \n\tDB_NAME() AS [DB_NAME]\n FROM [dbo].[OCRD] AS T0 \n \n LEFT JOIN [dbo].[OCRN] AS T2 \n ON T0.Currency = T2.CurrCode\n \n LEFT JOIN [dbo].[OCTG] AS T3 \n ON T0.GroupNum = T3.GroupNum\n\n WHERE [CardType] = 'S' \n   AND [frozenFor] = 'N'\n   AND [GroupCode] IN (101,102)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "E_Mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PayMethod",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ListNum",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "ListNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Suppliers_OCRD_OCRN_OCTG1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "porf_Mrr_Suppliers1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_Suppliers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[porf].[sp_trunc_Mrr_Suppliers]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T13:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_UFD1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_UFD1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "UFD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_UFD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_UFD1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "[[sap].[sp_trunc_Mrr_@{pipeline().parameters.param_tableName}]",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stream activity - copy",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_UFD1').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_UFD1').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_UFD1').output.rowsSkipped}\n}\n]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "upsert",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "[[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "stream activity - merge",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "upsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "UFD1"
					}
				},
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-15T13:37:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_UFD11')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_UFD1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "IndexID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FldValue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FldDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "UFD11",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_UFD11",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_UFD1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "[[sap].[sp_trunc_Mrr_@{pipeline().parameters.param_tableName}]",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stream activity - copy",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_UFD1').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_UFD1').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_UFD1').output.rowsSkipped}\n}\n]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "upsert",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Mrr_UFD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "[[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "stream activity - merge",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "upsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "UFD1"
					}
				},
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-04T07:49:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_device')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate table EDHR Mrr Device",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[EDHR].[sp_trunc_Mrr_Device]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_device",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate table EDHR Mrr Device",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_Comments",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Comments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_Brand",
											"type": "Int32"
										},
										"sink": {
											"name": "Brand",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_PartNumber",
											"type": "String"
										},
										"sink": {
											"name": "PartNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_OwnerGroup",
											"type": "Int32"
										},
										"sink": {
											"name": "OwnerGroup",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_Device",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "EDHR_MRR_Device",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "Mrr_Device"
					}
				},
				"folder": {
					"name": "EDHR/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T12:11:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_projects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trunc_Mrr_Projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_trunc_Mrr_Projects]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Projects",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n\n\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MRR_PROJECTS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Porf_mrr_projects",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "PORF/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T12:11:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_projects1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trunc_Mrr_Projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_trunc_Mrr_Projects]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_Projects",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n\n\nselect \nPrjCode,      \nPrjName,      \nU_Owner       ,\nU_OwnerMail,  \nU_Secondary,  \nU_SecMail     ,\nU_PORFApp     ,\nU_PorfApp2,\nU_PORF\n\nfrom oprj\nwhere Locked='N' and active = 'Y'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrjName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORFApp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MRR_PROJECTS1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Porf_mrr_projects1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "PORF_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-12T07:10:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Mrr_OSCN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUN_OSCN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_OSCN]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MRR_OSCN",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TRUN_OSCN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OSCN",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_OSCN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-26T10:18:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Mrr_OSCN1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUN_OSCN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_OSCN]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MRR_OSCN",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TRUN_OSCN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_Manuf",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Manuf",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OSCN1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_OSCN1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-07T07:39:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SF_MRR_Account_FromSFExample')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF_MRR_Acoount",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select * from Account",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCity",
											"type": "String"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountryCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingPostalCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStateCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStreet",
											"type": "String"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Industry",
											"type": "String"
										},
										"sink": {
											"name": "Industry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OwnerId",
											"type": "String"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ParentId",
											"type": "String"
										},
										"sink": {
											"name": "ParentId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String"
										},
										"sink": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Set_List_Account__c",
											"type": "String"
										},
										"sink": {
											"name": "Set_List_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceSandBox",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SF_MRR_Account_WayBackExample')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AZURE_Acoount",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Account_External_Id__c",
								"ignoreNullValues": true
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BYD_UK_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_External_Id__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SF_MRR_Account",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SalesforceObject_account",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_ScoreCards')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Stg_IQC_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_IQC_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_ScarLog",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_ScarLog",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_Suppliers_Audit_Activities_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Suppliers_Audit_Activities_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_Suppiers_OTD",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Suppiers_OTD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ScoreCards"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Service')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stg_Dim_Product",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Dim_Product",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_ComplaintHeader",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_ComplaintHeader",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_InstallBase",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_InstallBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_Oscl",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_Oscl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_Trending",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_Trending",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_OrdersAndShipments",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_OrdersAndShipments",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_OCReport",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_OCReport",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Dim_User",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Dim_User",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_AWSCalls",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_AWSCalls",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_ServiceFlow",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_ServiceFlow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Service"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T08:26:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToIntegrator')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[PORF].[sp_getdata_byspid]",
								"storedProcedureParameters": {
									"SPID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.SPID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Created",
											"physicalType": "timestamp"
										},
										"sink": {
											"name": "Created",
											"physicalType": "timestamp"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_PORF_json_parsed",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_PORF_JsonParsed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_set_taken_to_sap_to_1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_set_taken_to_sap_to_1]",
							"storedProcedureParameters": {
								"SPID": {
									"value": {
										"value": "@pipeline().parameters.SPID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RUN Porc at SAP_Integrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_set_taken_to_sap_to_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[Loader_PORF_jason_SAP]"
						},
						"linkedServiceName": {
							"referenceName": "SAP_Integrator_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"SPID": {
						"type": "int"
					}
				},
				"folder": {
					"name": "PORF"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-25T08:24:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToIntegrator1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[PORF_SORREL].[sp_getdata_byspid]",
								"storedProcedureParameters": {
									"SPID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.SPID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Created",
											"physicalType": "timestamp"
										},
										"sink": {
											"name": "Created",
											"physicalType": "timestamp"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_PORF_json_parsed1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_PORF_JsonParsed1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_set_taken_to_sap_to_1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF_SORREL].[sp_set_taken_to_sap_to_1]",
							"storedProcedureParameters": {
								"SPID": {
									"value": {
										"value": "@pipeline().parameters.SPID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RUN Porc at SAP_Integrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_set_taken_to_sap_to_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF_SORREL].[Loader_PORF_jason_SAP]"
						},
						"linkedServiceName": {
							"referenceName": "SAP_Integrator_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"SPID": {
						"type": "int"
					}
				},
				"folder": {
					"name": "PORF_SORREL/TOdelete"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T12:36:26Z"
			},
			"dependsOn": []
		}
	]
}