adf-egbi-dev/linkedTemplates/ArmTemplate_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Suppliers_OCRD_OCRN_OCTG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap_TestNewQcoreDB_05012020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "CardName",
						"type": "nvarchar"
					},
					{
						"name": "CardType",
						"type": "char"
					},
					{
						"name": "GroupCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CmpPrivate",
						"type": "char"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "MailAddres",
						"type": "nvarchar"
					},
					{
						"name": "MailZipCod",
						"type": "nvarchar"
					},
					{
						"name": "Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "CntctPrsn",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ChecksBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNotesBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrdersBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "GroupNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CreditLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DebtLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Discount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "VatStatus",
						"type": "char"
					},
					{
						"name": "LicTradNum",
						"type": "nvarchar"
					},
					{
						"name": "DdctStatus",
						"type": "char"
					},
					{
						"name": "DdctPrcnt",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ValidUntil",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Chrctrstcs",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ListNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DNoteBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNoteBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BalTrnsfrd",
						"type": "char"
					},
					{
						"name": "IntrstRate",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Commission",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CommGrCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Free_Text",
						"type": "ntext"
					},
					{
						"name": "SlpCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYearAc",
						"type": "char"
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "BalanceSys",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BalanceFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "Cellular",
						"type": "nvarchar"
					},
					{
						"name": "AvrageLate",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "MailCity",
						"type": "nvarchar"
					},
					{
						"name": "MailCounty",
						"type": "nvarchar"
					},
					{
						"name": "MailCountr",
						"type": "nvarchar"
					},
					{
						"name": "E_Mail",
						"type": "nvarchar"
					},
					{
						"name": "Picture",
						"type": "nvarchar"
					},
					{
						"name": "DflAccount",
						"type": "nvarchar"
					},
					{
						"name": "DflBranch",
						"type": "nvarchar"
					},
					{
						"name": "BankCode",
						"type": "nvarchar"
					},
					{
						"name": "AddID",
						"type": "nvarchar"
					},
					{
						"name": "Pager",
						"type": "nvarchar"
					},
					{
						"name": "FatherCard",
						"type": "nvarchar"
					},
					{
						"name": "CardFName",
						"type": "nvarchar"
					},
					{
						"name": "FatherType",
						"type": "char"
					},
					{
						"name": "QryGroup1",
						"type": "char"
					},
					{
						"name": "QryGroup2",
						"type": "char"
					},
					{
						"name": "QryGroup3",
						"type": "char"
					},
					{
						"name": "QryGroup4",
						"type": "char"
					},
					{
						"name": "QryGroup5",
						"type": "char"
					},
					{
						"name": "QryGroup6",
						"type": "char"
					},
					{
						"name": "QryGroup7",
						"type": "char"
					},
					{
						"name": "QryGroup8",
						"type": "char"
					},
					{
						"name": "QryGroup9",
						"type": "char"
					},
					{
						"name": "QryGroup10",
						"type": "char"
					},
					{
						"name": "QryGroup11",
						"type": "char"
					},
					{
						"name": "QryGroup12",
						"type": "char"
					},
					{
						"name": "QryGroup13",
						"type": "char"
					},
					{
						"name": "QryGroup14",
						"type": "char"
					},
					{
						"name": "QryGroup15",
						"type": "char"
					},
					{
						"name": "QryGroup16",
						"type": "char"
					},
					{
						"name": "QryGroup17",
						"type": "char"
					},
					{
						"name": "QryGroup18",
						"type": "char"
					},
					{
						"name": "QryGroup19",
						"type": "char"
					},
					{
						"name": "QryGroup20",
						"type": "char"
					},
					{
						"name": "QryGroup21",
						"type": "char"
					},
					{
						"name": "QryGroup22",
						"type": "char"
					},
					{
						"name": "QryGroup23",
						"type": "char"
					},
					{
						"name": "QryGroup24",
						"type": "char"
					},
					{
						"name": "QryGroup25",
						"type": "char"
					},
					{
						"name": "QryGroup26",
						"type": "char"
					},
					{
						"name": "QryGroup27",
						"type": "char"
					},
					{
						"name": "QryGroup28",
						"type": "char"
					},
					{
						"name": "QryGroup29",
						"type": "char"
					},
					{
						"name": "QryGroup30",
						"type": "char"
					},
					{
						"name": "QryGroup31",
						"type": "char"
					},
					{
						"name": "QryGroup32",
						"type": "char"
					},
					{
						"name": "QryGroup33",
						"type": "char"
					},
					{
						"name": "QryGroup34",
						"type": "char"
					},
					{
						"name": "QryGroup35",
						"type": "char"
					},
					{
						"name": "QryGroup36",
						"type": "char"
					},
					{
						"name": "QryGroup37",
						"type": "char"
					},
					{
						"name": "QryGroup38",
						"type": "char"
					},
					{
						"name": "QryGroup39",
						"type": "char"
					},
					{
						"name": "QryGroup40",
						"type": "char"
					},
					{
						"name": "QryGroup41",
						"type": "char"
					},
					{
						"name": "QryGroup42",
						"type": "char"
					},
					{
						"name": "QryGroup43",
						"type": "char"
					},
					{
						"name": "QryGroup44",
						"type": "char"
					},
					{
						"name": "QryGroup45",
						"type": "char"
					},
					{
						"name": "QryGroup46",
						"type": "char"
					},
					{
						"name": "QryGroup47",
						"type": "char"
					},
					{
						"name": "QryGroup48",
						"type": "char"
					},
					{
						"name": "QryGroup49",
						"type": "char"
					},
					{
						"name": "QryGroup50",
						"type": "char"
					},
					{
						"name": "QryGroup51",
						"type": "char"
					},
					{
						"name": "QryGroup52",
						"type": "char"
					},
					{
						"name": "QryGroup53",
						"type": "char"
					},
					{
						"name": "QryGroup54",
						"type": "char"
					},
					{
						"name": "QryGroup55",
						"type": "char"
					},
					{
						"name": "QryGroup56",
						"type": "char"
					},
					{
						"name": "QryGroup57",
						"type": "char"
					},
					{
						"name": "QryGroup58",
						"type": "char"
					},
					{
						"name": "QryGroup59",
						"type": "char"
					},
					{
						"name": "QryGroup60",
						"type": "char"
					},
					{
						"name": "QryGroup61",
						"type": "char"
					},
					{
						"name": "QryGroup62",
						"type": "char"
					},
					{
						"name": "QryGroup63",
						"type": "char"
					},
					{
						"name": "QryGroup64",
						"type": "char"
					},
					{
						"name": "DdctOffice",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "DscntObjct",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DscntRel",
						"type": "char"
					},
					{
						"name": "SPGCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SPPCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdctFileNo",
						"type": "nvarchar"
					},
					{
						"name": "SCNCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MinIntrst",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "OprCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExemptNo",
						"type": "nvarchar"
					},
					{
						"name": "Priority",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditCard",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CrCardNum",
						"type": "nvarchar"
					},
					{
						"name": "CardValid",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "validFor",
						"type": "char"
					},
					{
						"name": "validFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "validTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenFor",
						"type": "char"
					},
					{
						"name": "frozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sEmployed",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdgKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdtKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "chainStore",
						"type": "char"
					},
					{
						"name": "DiscInRet",
						"type": "char"
					},
					{
						"name": "State1",
						"type": "nvarchar"
					},
					{
						"name": "State2",
						"type": "nvarchar"
					},
					{
						"name": "VatGroup",
						"type": "nvarchar"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "Indicator",
						"type": "nvarchar"
					},
					{
						"name": "ShipType",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DebPayAcct",
						"type": "nvarchar"
					},
					{
						"name": "ShipToDef",
						"type": "nvarchar"
					},
					{
						"name": "Block",
						"type": "nvarchar"
					},
					{
						"name": "MailBlock",
						"type": "nvarchar"
					},
					{
						"name": "Password",
						"type": "nvarchar"
					},
					{
						"name": "ECVatGroup",
						"type": "nvarchar"
					},
					{
						"name": "Deleted",
						"type": "char"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FormCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Box1099",
						"type": "nvarchar"
					},
					{
						"name": "PymCode",
						"type": "nvarchar"
					},
					{
						"name": "BackOrder",
						"type": "char"
					},
					{
						"name": "PartDelivr",
						"type": "char"
					},
					{
						"name": "DunnLevel",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DunnDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BlockDunn",
						"type": "char"
					},
					{
						"name": "BankCountr",
						"type": "nvarchar"
					},
					{
						"name": "CollecAuth",
						"type": "char"
					},
					{
						"name": "DME",
						"type": "nvarchar"
					},
					{
						"name": "InstrucKey",
						"type": "nvarchar"
					},
					{
						"name": "SinglePaym",
						"type": "char"
					},
					{
						"name": "ISRBillId",
						"type": "nvarchar"
					},
					{
						"name": "PaymBlock",
						"type": "char"
					},
					{
						"name": "RefDetails",
						"type": "nvarchar"
					},
					{
						"name": "HouseBank",
						"type": "nvarchar"
					},
					{
						"name": "OwnerIdNum",
						"type": "nvarchar"
					},
					{
						"name": "PyBlckDesc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousBnkCry",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkAct",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkBrn",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCod",
						"type": "nvarchar"
					},
					{
						"name": "SysMatchNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VatIdUnCmp",
						"type": "nvarchar"
					},
					{
						"name": "AgentCode",
						"type": "nvarchar"
					},
					{
						"name": "TolrncDays",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SelfInvoic",
						"type": "char"
					},
					{
						"name": "DeferrTax",
						"type": "char"
					},
					{
						"name": "LetterNum",
						"type": "nvarchar"
					},
					{
						"name": "MaxAmount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FromDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ToDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WTLiable",
						"type": "char"
					},
					{
						"name": "CrtfcateNO",
						"type": "nvarchar"
					},
					{
						"name": "ExpireDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "NINum",
						"type": "nvarchar"
					},
					{
						"name": "AccCritria",
						"type": "char"
					},
					{
						"name": "WTCode",
						"type": "nvarchar"
					},
					{
						"name": "Equ",
						"type": "char"
					},
					{
						"name": "HldCode",
						"type": "nvarchar"
					},
					{
						"name": "ConnBP",
						"type": "nvarchar"
					},
					{
						"name": "MltMthNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TypWTReprt",
						"type": "char"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "RepName",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "ntext"
					},
					{
						"name": "Business",
						"type": "ntext"
					},
					{
						"name": "WTTaxCat",
						"type": "ntext"
					},
					{
						"name": "IsDomestic",
						"type": "char"
					},
					{
						"name": "IsResident",
						"type": "char"
					},
					{
						"name": "AutoCalBCG",
						"type": "char"
					},
					{
						"name": "OtrCtlAcct",
						"type": "nvarchar"
					},
					{
						"name": "AliasName",
						"type": "ntext"
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "MailBuildi",
						"type": "ntext"
					},
					{
						"name": "BoEPrsnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEDiscnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEOnClct",
						"type": "nvarchar"
					},
					{
						"name": "UnpaidBoE",
						"type": "nvarchar"
					},
					{
						"name": "ITWTCode",
						"type": "nvarchar"
					},
					{
						"name": "DunTerm",
						"type": "nvarchar"
					},
					{
						"name": "ChannlBP",
						"type": "nvarchar"
					},
					{
						"name": "DfTcnician",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Territory",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToDef",
						"type": "nvarchar"
					},
					{
						"name": "DpmClear",
						"type": "nvarchar"
					},
					{
						"name": "IntrntSite",
						"type": "nvarchar"
					},
					{
						"name": "LangCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousActKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Profession",
						"type": "nvarchar"
					},
					{
						"name": "CDPNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflBankKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BCACode",
						"type": "nvarchar"
					},
					{
						"name": "UseShpdGd",
						"type": "char"
					},
					{
						"name": "RegNum",
						"type": "nvarchar"
					},
					{
						"name": "VerifNum",
						"type": "nvarchar"
					},
					{
						"name": "BankCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "HousCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "InsurOp347",
						"type": "char"
					},
					{
						"name": "MailAddrTy",
						"type": "nvarchar"
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "MailStrNo",
						"type": "nvarchar"
					},
					{
						"name": "TaxRndRule",
						"type": "char"
					},
					{
						"name": "VendTID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ThreshOver",
						"type": "char"
					},
					{
						"name": "SurOver",
						"type": "char"
					},
					{
						"name": "VendorOcup",
						"type": "nvarchar"
					},
					{
						"name": "OpCode347",
						"type": "char"
					},
					{
						"name": "DpmIntAct",
						"type": "nvarchar"
					},
					{
						"name": "ResidenNum",
						"type": "char"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngGroup",
						"type": "nvarchar"
					},
					{
						"name": "VatIDNum",
						"type": "nvarchar"
					},
					{
						"name": "Affiliate",
						"type": "char"
					},
					{
						"name": "MivzExpSts",
						"type": "char"
					},
					{
						"name": "HierchDdct",
						"type": "char"
					},
					{
						"name": "CertWHT",
						"type": "char"
					},
					{
						"name": "CertBKeep",
						"type": "char"
					},
					{
						"name": "WHShaamGrp",
						"type": "char"
					},
					{
						"name": "IndustryC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "GTSRegNum",
						"type": "nvarchar"
					},
					{
						"name": "GTSBankAct",
						"type": "nvarchar"
					},
					{
						"name": "GTSBilAddr",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkSwift",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkIBAN",
						"type": "nvarchar"
					},
					{
						"name": "DflSwift",
						"type": "nvarchar"
					},
					{
						"name": "AutoPost",
						"type": "char"
					},
					{
						"name": "IntrAcc",
						"type": "nvarchar"
					},
					{
						"name": "FeeAcc",
						"type": "nvarchar"
					},
					{
						"name": "CpnNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NTSWebSite",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflIBAN",
						"type": "nvarchar"
					},
					{
						"name": "Series",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EDocExpFrm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxIdIdent",
						"type": "char"
					},
					{
						"name": "Attachment",
						"type": "ntext"
					},
					{
						"name": "AtcEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DiscRel",
						"type": "char"
					},
					{
						"name": "NoDiscount",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "DflAgrmnt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GlblLocNum",
						"type": "nvarchar"
					},
					{
						"name": "SenderID",
						"type": "nvarchar"
					},
					{
						"name": "RcpntID",
						"type": "nvarchar"
					},
					{
						"name": "MainUsage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SefazCheck",
						"type": "char"
					},
					{
						"name": "free312",
						"type": "char"
					},
					{
						"name": "free313",
						"type": "char"
					},
					{
						"name": "DateFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateTill",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RelCode",
						"type": "nvarchar"
					},
					{
						"name": "OKATO",
						"type": "nvarchar"
					},
					{
						"name": "OKTMO",
						"type": "nvarchar"
					},
					{
						"name": "KBKCode",
						"type": "nvarchar"
					},
					{
						"name": "TypeOfOp",
						"type": "char"
					},
					{
						"name": "OwnerCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MandateID",
						"type": "nvarchar"
					},
					{
						"name": "SignDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Remark1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ConCerti",
						"type": "nvarchar"
					},
					{
						"name": "TpCusPres",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RoleTypCod",
						"type": "nvarchar"
					},
					{
						"name": "BlockComm",
						"type": "char"
					},
					{
						"name": "EmplymntCt",
						"type": "nvarchar"
					},
					{
						"name": "ExcptnlEvt",
						"type": "char"
					},
					{
						"name": "ExpnPrfFnd",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EdrsFromBP",
						"type": "char"
					},
					{
						"name": "EdrsToBP",
						"type": "char"
					},
					{
						"name": "CreateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UpdateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_BOY_TB_0",
						"type": "char"
					},
					{
						"name": "U_Revision",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_beas_vsi",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fht",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fkm",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_asp",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLstatus",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLapprovedForType",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_QCCS",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_ADPRTCD",
						"type": "char"
					},
					{
						"name": "U_BS_DigIn",
						"type": "char"
					},
					{
						"name": "U_BS_Email",
						"type": "char"
					},
					{
						"name": "U_BS_Deliv",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_ExpFile",
						"type": "char"
					},
					{
						"name": "U_ScoreCardTotal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_ScoreIn",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLType",
						"type": "nvarchar"
					},
					{
						"name": "U_Critical",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OCRD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Suppliers_OCRD_OCRN_OCTG1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "CardName",
						"type": "nvarchar"
					},
					{
						"name": "CardType",
						"type": "char"
					},
					{
						"name": "GroupCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CmpPrivate",
						"type": "char"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "MailAddres",
						"type": "nvarchar"
					},
					{
						"name": "MailZipCod",
						"type": "nvarchar"
					},
					{
						"name": "Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "CntctPrsn",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ChecksBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNotesBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrdersBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "GroupNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CreditLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DebtLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Discount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "VatStatus",
						"type": "char"
					},
					{
						"name": "LicTradNum",
						"type": "nvarchar"
					},
					{
						"name": "DdctStatus",
						"type": "char"
					},
					{
						"name": "DdctPrcnt",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ValidUntil",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Chrctrstcs",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ListNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DNoteBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNoteBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BalTrnsfrd",
						"type": "char"
					},
					{
						"name": "IntrstRate",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Commission",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CommGrCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Free_Text",
						"type": "ntext"
					},
					{
						"name": "SlpCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYearAc",
						"type": "char"
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "BalanceSys",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BalanceFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "Cellular",
						"type": "nvarchar"
					},
					{
						"name": "AvrageLate",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "MailCity",
						"type": "nvarchar"
					},
					{
						"name": "MailCounty",
						"type": "nvarchar"
					},
					{
						"name": "MailCountr",
						"type": "nvarchar"
					},
					{
						"name": "E_Mail",
						"type": "nvarchar"
					},
					{
						"name": "Picture",
						"type": "nvarchar"
					},
					{
						"name": "DflAccount",
						"type": "nvarchar"
					},
					{
						"name": "DflBranch",
						"type": "nvarchar"
					},
					{
						"name": "BankCode",
						"type": "nvarchar"
					},
					{
						"name": "AddID",
						"type": "nvarchar"
					},
					{
						"name": "Pager",
						"type": "nvarchar"
					},
					{
						"name": "FatherCard",
						"type": "nvarchar"
					},
					{
						"name": "CardFName",
						"type": "nvarchar"
					},
					{
						"name": "FatherType",
						"type": "char"
					},
					{
						"name": "QryGroup1",
						"type": "char"
					},
					{
						"name": "QryGroup2",
						"type": "char"
					},
					{
						"name": "QryGroup3",
						"type": "char"
					},
					{
						"name": "QryGroup4",
						"type": "char"
					},
					{
						"name": "QryGroup5",
						"type": "char"
					},
					{
						"name": "QryGroup6",
						"type": "char"
					},
					{
						"name": "QryGroup7",
						"type": "char"
					},
					{
						"name": "QryGroup8",
						"type": "char"
					},
					{
						"name": "QryGroup9",
						"type": "char"
					},
					{
						"name": "QryGroup10",
						"type": "char"
					},
					{
						"name": "QryGroup11",
						"type": "char"
					},
					{
						"name": "QryGroup12",
						"type": "char"
					},
					{
						"name": "QryGroup13",
						"type": "char"
					},
					{
						"name": "QryGroup14",
						"type": "char"
					},
					{
						"name": "QryGroup15",
						"type": "char"
					},
					{
						"name": "QryGroup16",
						"type": "char"
					},
					{
						"name": "QryGroup17",
						"type": "char"
					},
					{
						"name": "QryGroup18",
						"type": "char"
					},
					{
						"name": "QryGroup19",
						"type": "char"
					},
					{
						"name": "QryGroup20",
						"type": "char"
					},
					{
						"name": "QryGroup21",
						"type": "char"
					},
					{
						"name": "QryGroup22",
						"type": "char"
					},
					{
						"name": "QryGroup23",
						"type": "char"
					},
					{
						"name": "QryGroup24",
						"type": "char"
					},
					{
						"name": "QryGroup25",
						"type": "char"
					},
					{
						"name": "QryGroup26",
						"type": "char"
					},
					{
						"name": "QryGroup27",
						"type": "char"
					},
					{
						"name": "QryGroup28",
						"type": "char"
					},
					{
						"name": "QryGroup29",
						"type": "char"
					},
					{
						"name": "QryGroup30",
						"type": "char"
					},
					{
						"name": "QryGroup31",
						"type": "char"
					},
					{
						"name": "QryGroup32",
						"type": "char"
					},
					{
						"name": "QryGroup33",
						"type": "char"
					},
					{
						"name": "QryGroup34",
						"type": "char"
					},
					{
						"name": "QryGroup35",
						"type": "char"
					},
					{
						"name": "QryGroup36",
						"type": "char"
					},
					{
						"name": "QryGroup37",
						"type": "char"
					},
					{
						"name": "QryGroup38",
						"type": "char"
					},
					{
						"name": "QryGroup39",
						"type": "char"
					},
					{
						"name": "QryGroup40",
						"type": "char"
					},
					{
						"name": "QryGroup41",
						"type": "char"
					},
					{
						"name": "QryGroup42",
						"type": "char"
					},
					{
						"name": "QryGroup43",
						"type": "char"
					},
					{
						"name": "QryGroup44",
						"type": "char"
					},
					{
						"name": "QryGroup45",
						"type": "char"
					},
					{
						"name": "QryGroup46",
						"type": "char"
					},
					{
						"name": "QryGroup47",
						"type": "char"
					},
					{
						"name": "QryGroup48",
						"type": "char"
					},
					{
						"name": "QryGroup49",
						"type": "char"
					},
					{
						"name": "QryGroup50",
						"type": "char"
					},
					{
						"name": "QryGroup51",
						"type": "char"
					},
					{
						"name": "QryGroup52",
						"type": "char"
					},
					{
						"name": "QryGroup53",
						"type": "char"
					},
					{
						"name": "QryGroup54",
						"type": "char"
					},
					{
						"name": "QryGroup55",
						"type": "char"
					},
					{
						"name": "QryGroup56",
						"type": "char"
					},
					{
						"name": "QryGroup57",
						"type": "char"
					},
					{
						"name": "QryGroup58",
						"type": "char"
					},
					{
						"name": "QryGroup59",
						"type": "char"
					},
					{
						"name": "QryGroup60",
						"type": "char"
					},
					{
						"name": "QryGroup61",
						"type": "char"
					},
					{
						"name": "QryGroup62",
						"type": "char"
					},
					{
						"name": "QryGroup63",
						"type": "char"
					},
					{
						"name": "QryGroup64",
						"type": "char"
					},
					{
						"name": "DdctOffice",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "DscntObjct",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DscntRel",
						"type": "char"
					},
					{
						"name": "SPGCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SPPCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdctFileNo",
						"type": "nvarchar"
					},
					{
						"name": "SCNCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MinIntrst",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "OprCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExemptNo",
						"type": "nvarchar"
					},
					{
						"name": "Priority",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditCard",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CrCardNum",
						"type": "nvarchar"
					},
					{
						"name": "CardValid",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "validFor",
						"type": "char"
					},
					{
						"name": "validFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "validTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenFor",
						"type": "char"
					},
					{
						"name": "frozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sEmployed",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdgKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdtKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "chainStore",
						"type": "char"
					},
					{
						"name": "DiscInRet",
						"type": "char"
					},
					{
						"name": "State1",
						"type": "nvarchar"
					},
					{
						"name": "State2",
						"type": "nvarchar"
					},
					{
						"name": "VatGroup",
						"type": "nvarchar"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "Indicator",
						"type": "nvarchar"
					},
					{
						"name": "ShipType",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DebPayAcct",
						"type": "nvarchar"
					},
					{
						"name": "ShipToDef",
						"type": "nvarchar"
					},
					{
						"name": "Block",
						"type": "nvarchar"
					},
					{
						"name": "MailBlock",
						"type": "nvarchar"
					},
					{
						"name": "Password",
						"type": "nvarchar"
					},
					{
						"name": "ECVatGroup",
						"type": "nvarchar"
					},
					{
						"name": "Deleted",
						"type": "char"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FormCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Box1099",
						"type": "nvarchar"
					},
					{
						"name": "PymCode",
						"type": "nvarchar"
					},
					{
						"name": "BackOrder",
						"type": "char"
					},
					{
						"name": "PartDelivr",
						"type": "char"
					},
					{
						"name": "DunnLevel",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DunnDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BlockDunn",
						"type": "char"
					},
					{
						"name": "BankCountr",
						"type": "nvarchar"
					},
					{
						"name": "CollecAuth",
						"type": "char"
					},
					{
						"name": "DME",
						"type": "nvarchar"
					},
					{
						"name": "InstrucKey",
						"type": "nvarchar"
					},
					{
						"name": "SinglePaym",
						"type": "char"
					},
					{
						"name": "ISRBillId",
						"type": "nvarchar"
					},
					{
						"name": "PaymBlock",
						"type": "char"
					},
					{
						"name": "RefDetails",
						"type": "nvarchar"
					},
					{
						"name": "HouseBank",
						"type": "nvarchar"
					},
					{
						"name": "OwnerIdNum",
						"type": "nvarchar"
					},
					{
						"name": "PyBlckDesc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousBnkCry",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkAct",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkBrn",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCod",
						"type": "nvarchar"
					},
					{
						"name": "SysMatchNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VatIdUnCmp",
						"type": "nvarchar"
					},
					{
						"name": "AgentCode",
						"type": "nvarchar"
					},
					{
						"name": "TolrncDays",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SelfInvoic",
						"type": "char"
					},
					{
						"name": "DeferrTax",
						"type": "char"
					},
					{
						"name": "LetterNum",
						"type": "nvarchar"
					},
					{
						"name": "MaxAmount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FromDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ToDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WTLiable",
						"type": "char"
					},
					{
						"name": "CrtfcateNO",
						"type": "nvarchar"
					},
					{
						"name": "ExpireDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "NINum",
						"type": "nvarchar"
					},
					{
						"name": "AccCritria",
						"type": "char"
					},
					{
						"name": "WTCode",
						"type": "nvarchar"
					},
					{
						"name": "Equ",
						"type": "char"
					},
					{
						"name": "HldCode",
						"type": "nvarchar"
					},
					{
						"name": "ConnBP",
						"type": "nvarchar"
					},
					{
						"name": "MltMthNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TypWTReprt",
						"type": "char"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "RepName",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "ntext"
					},
					{
						"name": "Business",
						"type": "ntext"
					},
					{
						"name": "WTTaxCat",
						"type": "ntext"
					},
					{
						"name": "IsDomestic",
						"type": "char"
					},
					{
						"name": "IsResident",
						"type": "char"
					},
					{
						"name": "AutoCalBCG",
						"type": "char"
					},
					{
						"name": "OtrCtlAcct",
						"type": "nvarchar"
					},
					{
						"name": "AliasName",
						"type": "ntext"
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "MailBuildi",
						"type": "ntext"
					},
					{
						"name": "BoEPrsnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEDiscnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEOnClct",
						"type": "nvarchar"
					},
					{
						"name": "UnpaidBoE",
						"type": "nvarchar"
					},
					{
						"name": "ITWTCode",
						"type": "nvarchar"
					},
					{
						"name": "DunTerm",
						"type": "nvarchar"
					},
					{
						"name": "ChannlBP",
						"type": "nvarchar"
					},
					{
						"name": "DfTcnician",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Territory",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToDef",
						"type": "nvarchar"
					},
					{
						"name": "DpmClear",
						"type": "nvarchar"
					},
					{
						"name": "IntrntSite",
						"type": "nvarchar"
					},
					{
						"name": "LangCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousActKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Profession",
						"type": "nvarchar"
					},
					{
						"name": "CDPNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflBankKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BCACode",
						"type": "nvarchar"
					},
					{
						"name": "UseShpdGd",
						"type": "char"
					},
					{
						"name": "RegNum",
						"type": "nvarchar"
					},
					{
						"name": "VerifNum",
						"type": "nvarchar"
					},
					{
						"name": "BankCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "HousCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "InsurOp347",
						"type": "char"
					},
					{
						"name": "MailAddrTy",
						"type": "nvarchar"
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "MailStrNo",
						"type": "nvarchar"
					},
					{
						"name": "TaxRndRule",
						"type": "char"
					},
					{
						"name": "VendTID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ThreshOver",
						"type": "char"
					},
					{
						"name": "SurOver",
						"type": "char"
					},
					{
						"name": "VendorOcup",
						"type": "nvarchar"
					},
					{
						"name": "OpCode347",
						"type": "char"
					},
					{
						"name": "DpmIntAct",
						"type": "nvarchar"
					},
					{
						"name": "ResidenNum",
						"type": "char"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngGroup",
						"type": "nvarchar"
					},
					{
						"name": "VatIDNum",
						"type": "nvarchar"
					},
					{
						"name": "Affiliate",
						"type": "char"
					},
					{
						"name": "MivzExpSts",
						"type": "char"
					},
					{
						"name": "HierchDdct",
						"type": "char"
					},
					{
						"name": "CertWHT",
						"type": "char"
					},
					{
						"name": "CertBKeep",
						"type": "char"
					},
					{
						"name": "WHShaamGrp",
						"type": "char"
					},
					{
						"name": "IndustryC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "GTSRegNum",
						"type": "nvarchar"
					},
					{
						"name": "GTSBankAct",
						"type": "nvarchar"
					},
					{
						"name": "GTSBilAddr",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkSwift",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkIBAN",
						"type": "nvarchar"
					},
					{
						"name": "DflSwift",
						"type": "nvarchar"
					},
					{
						"name": "AutoPost",
						"type": "char"
					},
					{
						"name": "IntrAcc",
						"type": "nvarchar"
					},
					{
						"name": "FeeAcc",
						"type": "nvarchar"
					},
					{
						"name": "CpnNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NTSWebSite",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflIBAN",
						"type": "nvarchar"
					},
					{
						"name": "Series",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EDocExpFrm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxIdIdent",
						"type": "char"
					},
					{
						"name": "Attachment",
						"type": "ntext"
					},
					{
						"name": "AtcEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DiscRel",
						"type": "char"
					},
					{
						"name": "NoDiscount",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "DflAgrmnt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GlblLocNum",
						"type": "nvarchar"
					},
					{
						"name": "SenderID",
						"type": "nvarchar"
					},
					{
						"name": "RcpntID",
						"type": "nvarchar"
					},
					{
						"name": "MainUsage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SefazCheck",
						"type": "char"
					},
					{
						"name": "free312",
						"type": "char"
					},
					{
						"name": "free313",
						"type": "char"
					},
					{
						"name": "DateFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateTill",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RelCode",
						"type": "nvarchar"
					},
					{
						"name": "OKATO",
						"type": "nvarchar"
					},
					{
						"name": "OKTMO",
						"type": "nvarchar"
					},
					{
						"name": "KBKCode",
						"type": "nvarchar"
					},
					{
						"name": "TypeOfOp",
						"type": "char"
					},
					{
						"name": "OwnerCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MandateID",
						"type": "nvarchar"
					},
					{
						"name": "SignDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Remark1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ConCerti",
						"type": "nvarchar"
					},
					{
						"name": "TpCusPres",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RoleTypCod",
						"type": "nvarchar"
					},
					{
						"name": "BlockComm",
						"type": "char"
					},
					{
						"name": "EmplymntCt",
						"type": "nvarchar"
					},
					{
						"name": "ExcptnlEvt",
						"type": "char"
					},
					{
						"name": "ExpnPrfFnd",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EdrsFromBP",
						"type": "char"
					},
					{
						"name": "EdrsToBP",
						"type": "char"
					},
					{
						"name": "CreateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UpdateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_BOY_TB_0",
						"type": "char"
					},
					{
						"name": "U_Revision",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_beas_vsi",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fht",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fkm",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_asp",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLstatus",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLapprovedForType",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_QCCS",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_ADPRTCD",
						"type": "char"
					},
					{
						"name": "U_BS_DigIn",
						"type": "char"
					},
					{
						"name": "U_BS_Email",
						"type": "char"
					},
					{
						"name": "U_BS_Deliv",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_ExpFile",
						"type": "char"
					},
					{
						"name": "U_ScoreCardTotal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_ScoreIn",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLType",
						"type": "nvarchar"
					},
					{
						"name": "U_Critical",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OCRD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Suppliers_OCRD_OCRN_OCTG2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "CardName",
						"type": "nvarchar"
					},
					{
						"name": "CardType",
						"type": "char"
					},
					{
						"name": "GroupCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CmpPrivate",
						"type": "char"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "MailAddres",
						"type": "nvarchar"
					},
					{
						"name": "MailZipCod",
						"type": "nvarchar"
					},
					{
						"name": "Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "CntctPrsn",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ChecksBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNotesBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrdersBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "GroupNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CreditLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DebtLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Discount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "VatStatus",
						"type": "char"
					},
					{
						"name": "LicTradNum",
						"type": "nvarchar"
					},
					{
						"name": "DdctStatus",
						"type": "char"
					},
					{
						"name": "DdctPrcnt",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ValidUntil",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Chrctrstcs",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ListNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DNoteBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNoteBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BalTrnsfrd",
						"type": "char"
					},
					{
						"name": "IntrstRate",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Commission",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CommGrCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Free_Text",
						"type": "ntext"
					},
					{
						"name": "SlpCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYearAc",
						"type": "char"
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "BalanceSys",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BalanceFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "Cellular",
						"type": "nvarchar"
					},
					{
						"name": "AvrageLate",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "MailCity",
						"type": "nvarchar"
					},
					{
						"name": "MailCounty",
						"type": "nvarchar"
					},
					{
						"name": "MailCountr",
						"type": "nvarchar"
					},
					{
						"name": "E_Mail",
						"type": "nvarchar"
					},
					{
						"name": "Picture",
						"type": "nvarchar"
					},
					{
						"name": "DflAccount",
						"type": "nvarchar"
					},
					{
						"name": "DflBranch",
						"type": "nvarchar"
					},
					{
						"name": "BankCode",
						"type": "nvarchar"
					},
					{
						"name": "AddID",
						"type": "nvarchar"
					},
					{
						"name": "Pager",
						"type": "nvarchar"
					},
					{
						"name": "FatherCard",
						"type": "nvarchar"
					},
					{
						"name": "CardFName",
						"type": "nvarchar"
					},
					{
						"name": "FatherType",
						"type": "char"
					},
					{
						"name": "QryGroup1",
						"type": "char"
					},
					{
						"name": "QryGroup2",
						"type": "char"
					},
					{
						"name": "QryGroup3",
						"type": "char"
					},
					{
						"name": "QryGroup4",
						"type": "char"
					},
					{
						"name": "QryGroup5",
						"type": "char"
					},
					{
						"name": "QryGroup6",
						"type": "char"
					},
					{
						"name": "QryGroup7",
						"type": "char"
					},
					{
						"name": "QryGroup8",
						"type": "char"
					},
					{
						"name": "QryGroup9",
						"type": "char"
					},
					{
						"name": "QryGroup10",
						"type": "char"
					},
					{
						"name": "QryGroup11",
						"type": "char"
					},
					{
						"name": "QryGroup12",
						"type": "char"
					},
					{
						"name": "QryGroup13",
						"type": "char"
					},
					{
						"name": "QryGroup14",
						"type": "char"
					},
					{
						"name": "QryGroup15",
						"type": "char"
					},
					{
						"name": "QryGroup16",
						"type": "char"
					},
					{
						"name": "QryGroup17",
						"type": "char"
					},
					{
						"name": "QryGroup18",
						"type": "char"
					},
					{
						"name": "QryGroup19",
						"type": "char"
					},
					{
						"name": "QryGroup20",
						"type": "char"
					},
					{
						"name": "QryGroup21",
						"type": "char"
					},
					{
						"name": "QryGroup22",
						"type": "char"
					},
					{
						"name": "QryGroup23",
						"type": "char"
					},
					{
						"name": "QryGroup24",
						"type": "char"
					},
					{
						"name": "QryGroup25",
						"type": "char"
					},
					{
						"name": "QryGroup26",
						"type": "char"
					},
					{
						"name": "QryGroup27",
						"type": "char"
					},
					{
						"name": "QryGroup28",
						"type": "char"
					},
					{
						"name": "QryGroup29",
						"type": "char"
					},
					{
						"name": "QryGroup30",
						"type": "char"
					},
					{
						"name": "QryGroup31",
						"type": "char"
					},
					{
						"name": "QryGroup32",
						"type": "char"
					},
					{
						"name": "QryGroup33",
						"type": "char"
					},
					{
						"name": "QryGroup34",
						"type": "char"
					},
					{
						"name": "QryGroup35",
						"type": "char"
					},
					{
						"name": "QryGroup36",
						"type": "char"
					},
					{
						"name": "QryGroup37",
						"type": "char"
					},
					{
						"name": "QryGroup38",
						"type": "char"
					},
					{
						"name": "QryGroup39",
						"type": "char"
					},
					{
						"name": "QryGroup40",
						"type": "char"
					},
					{
						"name": "QryGroup41",
						"type": "char"
					},
					{
						"name": "QryGroup42",
						"type": "char"
					},
					{
						"name": "QryGroup43",
						"type": "char"
					},
					{
						"name": "QryGroup44",
						"type": "char"
					},
					{
						"name": "QryGroup45",
						"type": "char"
					},
					{
						"name": "QryGroup46",
						"type": "char"
					},
					{
						"name": "QryGroup47",
						"type": "char"
					},
					{
						"name": "QryGroup48",
						"type": "char"
					},
					{
						"name": "QryGroup49",
						"type": "char"
					},
					{
						"name": "QryGroup50",
						"type": "char"
					},
					{
						"name": "QryGroup51",
						"type": "char"
					},
					{
						"name": "QryGroup52",
						"type": "char"
					},
					{
						"name": "QryGroup53",
						"type": "char"
					},
					{
						"name": "QryGroup54",
						"type": "char"
					},
					{
						"name": "QryGroup55",
						"type": "char"
					},
					{
						"name": "QryGroup56",
						"type": "char"
					},
					{
						"name": "QryGroup57",
						"type": "char"
					},
					{
						"name": "QryGroup58",
						"type": "char"
					},
					{
						"name": "QryGroup59",
						"type": "char"
					},
					{
						"name": "QryGroup60",
						"type": "char"
					},
					{
						"name": "QryGroup61",
						"type": "char"
					},
					{
						"name": "QryGroup62",
						"type": "char"
					},
					{
						"name": "QryGroup63",
						"type": "char"
					},
					{
						"name": "QryGroup64",
						"type": "char"
					},
					{
						"name": "DdctOffice",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "DscntObjct",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DscntRel",
						"type": "char"
					},
					{
						"name": "SPGCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SPPCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdctFileNo",
						"type": "nvarchar"
					},
					{
						"name": "SCNCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MinIntrst",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "OprCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExemptNo",
						"type": "nvarchar"
					},
					{
						"name": "Priority",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditCard",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CrCardNum",
						"type": "nvarchar"
					},
					{
						"name": "CardValid",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "validFor",
						"type": "char"
					},
					{
						"name": "validFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "validTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenFor",
						"type": "char"
					},
					{
						"name": "frozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sEmployed",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdgKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdtKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "chainStore",
						"type": "char"
					},
					{
						"name": "DiscInRet",
						"type": "char"
					},
					{
						"name": "State1",
						"type": "nvarchar"
					},
					{
						"name": "State2",
						"type": "nvarchar"
					},
					{
						"name": "VatGroup",
						"type": "nvarchar"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "Indicator",
						"type": "nvarchar"
					},
					{
						"name": "ShipType",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DebPayAcct",
						"type": "nvarchar"
					},
					{
						"name": "ShipToDef",
						"type": "nvarchar"
					},
					{
						"name": "Block",
						"type": "nvarchar"
					},
					{
						"name": "MailBlock",
						"type": "nvarchar"
					},
					{
						"name": "Password",
						"type": "nvarchar"
					},
					{
						"name": "ECVatGroup",
						"type": "nvarchar"
					},
					{
						"name": "Deleted",
						"type": "char"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FormCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Box1099",
						"type": "nvarchar"
					},
					{
						"name": "PymCode",
						"type": "nvarchar"
					},
					{
						"name": "BackOrder",
						"type": "char"
					},
					{
						"name": "PartDelivr",
						"type": "char"
					},
					{
						"name": "DunnLevel",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DunnDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BlockDunn",
						"type": "char"
					},
					{
						"name": "BankCountr",
						"type": "nvarchar"
					},
					{
						"name": "CollecAuth",
						"type": "char"
					},
					{
						"name": "DME",
						"type": "nvarchar"
					},
					{
						"name": "InstrucKey",
						"type": "nvarchar"
					},
					{
						"name": "SinglePaym",
						"type": "char"
					},
					{
						"name": "ISRBillId",
						"type": "nvarchar"
					},
					{
						"name": "PaymBlock",
						"type": "char"
					},
					{
						"name": "RefDetails",
						"type": "nvarchar"
					},
					{
						"name": "HouseBank",
						"type": "nvarchar"
					},
					{
						"name": "OwnerIdNum",
						"type": "nvarchar"
					},
					{
						"name": "PyBlckDesc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousBnkCry",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkAct",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkBrn",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCod",
						"type": "nvarchar"
					},
					{
						"name": "SysMatchNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VatIdUnCmp",
						"type": "nvarchar"
					},
					{
						"name": "AgentCode",
						"type": "nvarchar"
					},
					{
						"name": "TolrncDays",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SelfInvoic",
						"type": "char"
					},
					{
						"name": "DeferrTax",
						"type": "char"
					},
					{
						"name": "LetterNum",
						"type": "nvarchar"
					},
					{
						"name": "MaxAmount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FromDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ToDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WTLiable",
						"type": "char"
					},
					{
						"name": "CrtfcateNO",
						"type": "nvarchar"
					},
					{
						"name": "ExpireDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "NINum",
						"type": "nvarchar"
					},
					{
						"name": "AccCritria",
						"type": "char"
					},
					{
						"name": "WTCode",
						"type": "nvarchar"
					},
					{
						"name": "Equ",
						"type": "char"
					},
					{
						"name": "HldCode",
						"type": "nvarchar"
					},
					{
						"name": "ConnBP",
						"type": "nvarchar"
					},
					{
						"name": "MltMthNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TypWTReprt",
						"type": "char"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "RepName",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "ntext"
					},
					{
						"name": "Business",
						"type": "ntext"
					},
					{
						"name": "WTTaxCat",
						"type": "ntext"
					},
					{
						"name": "IsDomestic",
						"type": "char"
					},
					{
						"name": "IsResident",
						"type": "char"
					},
					{
						"name": "AutoCalBCG",
						"type": "char"
					},
					{
						"name": "OtrCtlAcct",
						"type": "nvarchar"
					},
					{
						"name": "AliasName",
						"type": "ntext"
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "MailBuildi",
						"type": "ntext"
					},
					{
						"name": "BoEPrsnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEDiscnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEOnClct",
						"type": "nvarchar"
					},
					{
						"name": "UnpaidBoE",
						"type": "nvarchar"
					},
					{
						"name": "ITWTCode",
						"type": "nvarchar"
					},
					{
						"name": "DunTerm",
						"type": "nvarchar"
					},
					{
						"name": "ChannlBP",
						"type": "nvarchar"
					},
					{
						"name": "DfTcnician",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Territory",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToDef",
						"type": "nvarchar"
					},
					{
						"name": "DpmClear",
						"type": "nvarchar"
					},
					{
						"name": "IntrntSite",
						"type": "nvarchar"
					},
					{
						"name": "LangCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousActKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Profession",
						"type": "nvarchar"
					},
					{
						"name": "CDPNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflBankKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BCACode",
						"type": "nvarchar"
					},
					{
						"name": "UseShpdGd",
						"type": "char"
					},
					{
						"name": "RegNum",
						"type": "nvarchar"
					},
					{
						"name": "VerifNum",
						"type": "nvarchar"
					},
					{
						"name": "BankCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "HousCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "InsurOp347",
						"type": "char"
					},
					{
						"name": "MailAddrTy",
						"type": "nvarchar"
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "MailStrNo",
						"type": "nvarchar"
					},
					{
						"name": "TaxRndRule",
						"type": "char"
					},
					{
						"name": "VendTID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ThreshOver",
						"type": "char"
					},
					{
						"name": "SurOver",
						"type": "char"
					},
					{
						"name": "VendorOcup",
						"type": "nvarchar"
					},
					{
						"name": "OpCode347",
						"type": "char"
					},
					{
						"name": "DpmIntAct",
						"type": "nvarchar"
					},
					{
						"name": "ResidenNum",
						"type": "char"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngGroup",
						"type": "nvarchar"
					},
					{
						"name": "VatIDNum",
						"type": "nvarchar"
					},
					{
						"name": "Affiliate",
						"type": "char"
					},
					{
						"name": "MivzExpSts",
						"type": "char"
					},
					{
						"name": "HierchDdct",
						"type": "char"
					},
					{
						"name": "CertWHT",
						"type": "char"
					},
					{
						"name": "CertBKeep",
						"type": "char"
					},
					{
						"name": "WHShaamGrp",
						"type": "char"
					},
					{
						"name": "IndustryC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "GTSRegNum",
						"type": "nvarchar"
					},
					{
						"name": "GTSBankAct",
						"type": "nvarchar"
					},
					{
						"name": "GTSBilAddr",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkSwift",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkIBAN",
						"type": "nvarchar"
					},
					{
						"name": "DflSwift",
						"type": "nvarchar"
					},
					{
						"name": "AutoPost",
						"type": "char"
					},
					{
						"name": "IntrAcc",
						"type": "nvarchar"
					},
					{
						"name": "FeeAcc",
						"type": "nvarchar"
					},
					{
						"name": "CpnNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NTSWebSite",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflIBAN",
						"type": "nvarchar"
					},
					{
						"name": "Series",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EDocExpFrm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxIdIdent",
						"type": "char"
					},
					{
						"name": "Attachment",
						"type": "ntext"
					},
					{
						"name": "AtcEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DiscRel",
						"type": "char"
					},
					{
						"name": "NoDiscount",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "DflAgrmnt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GlblLocNum",
						"type": "nvarchar"
					},
					{
						"name": "SenderID",
						"type": "nvarchar"
					},
					{
						"name": "RcpntID",
						"type": "nvarchar"
					},
					{
						"name": "MainUsage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SefazCheck",
						"type": "char"
					},
					{
						"name": "free312",
						"type": "char"
					},
					{
						"name": "free313",
						"type": "char"
					},
					{
						"name": "DateFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateTill",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RelCode",
						"type": "nvarchar"
					},
					{
						"name": "OKATO",
						"type": "nvarchar"
					},
					{
						"name": "OKTMO",
						"type": "nvarchar"
					},
					{
						"name": "KBKCode",
						"type": "nvarchar"
					},
					{
						"name": "TypeOfOp",
						"type": "char"
					},
					{
						"name": "OwnerCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MandateID",
						"type": "nvarchar"
					},
					{
						"name": "SignDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Remark1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ConCerti",
						"type": "nvarchar"
					},
					{
						"name": "TpCusPres",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RoleTypCod",
						"type": "nvarchar"
					},
					{
						"name": "BlockComm",
						"type": "char"
					},
					{
						"name": "EmplymntCt",
						"type": "nvarchar"
					},
					{
						"name": "ExcptnlEvt",
						"type": "char"
					},
					{
						"name": "ExpnPrfFnd",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EdrsFromBP",
						"type": "char"
					},
					{
						"name": "EdrsToBP",
						"type": "char"
					},
					{
						"name": "CreateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UpdateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_BOY_TB_0",
						"type": "char"
					},
					{
						"name": "U_Revision",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_beas_vsi",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fht",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fkm",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_asp",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLstatus",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLapprovedForType",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_QCCS",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_ADPRTCD",
						"type": "char"
					},
					{
						"name": "U_BS_DigIn",
						"type": "char"
					},
					{
						"name": "U_BS_Email",
						"type": "char"
					},
					{
						"name": "U_BS_Deliv",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_ExpFile",
						"type": "char"
					},
					{
						"name": "U_ScoreCardTotal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_ScoreIn",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLType",
						"type": "nvarchar"
					},
					{
						"name": "U_Critical",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OCRD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UFD1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap_TestNewQcoreDB_05012020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TableID",
						"type": "nvarchar"
					},
					{
						"name": "FieldID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "IndexID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FldValue",
						"type": "nvarchar"
					},
					{
						"name": "Descr",
						"type": "nvarchar"
					},
					{
						"name": "FldDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "UFD1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UFD11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TableID",
						"type": "nvarchar"
					},
					{
						"name": "FieldID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "IndexID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FldValue",
						"type": "nvarchar"
					},
					{
						"name": "Descr",
						"type": "nvarchar"
					},
					{
						"name": "FldDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "UFD1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/User')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fGroupID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsTrainingUser",
						"type": "bit"
					},
					{
						"name": "IsAdminUser",
						"type": "bit"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "fPositionID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Position",
						"type": "nvarchar"
					},
					{
						"name": "fStateID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "fCountryID",
						"type": "nvarchar"
					},
					{
						"name": "fTrainerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fServiceCenterID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Organization",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "UserName",
						"type": "nvarchar"
					},
					{
						"name": "UserPassword",
						"type": "nvarchar"
					},
					{
						"name": "UserDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "fStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fNewUserStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RegistrationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsBlockUser",
						"type": "bit"
					},
					{
						"name": "UserCertificationRenewDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ApproveTermsConditions",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsNeedApproveTermsAgain",
						"type": "bit"
					},
					{
						"name": "__Location",
						"type": "char"
					},
					{
						"name": "fLocationID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtLocationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__sync_to_sap_fields",
						"type": "nvarchar"
					},
					{
						"name": "IsToExport",
						"type": "bit"
					},
					{
						"name": "dtLastExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__fDistributorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "_fServiceCenterID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_sys_User"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/parm_CallCategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "IsFreeText",
						"type": "bit"
					},
					{
						"name": "SortOrder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "parm_CallCategory"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/parm_CallStatus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "parm_CallStatus"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/parm_CallSubCategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "fCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsFreeText",
						"type": "bit"
					},
					{
						"name": "DefaultTitle",
						"type": "nvarchar"
					},
					{
						"name": "DefaultCallDesc",
						"type": "nvarchar"
					},
					{
						"name": "SortOrder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "parm_CallSubCategory"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/parm_CallUrgency')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "parm_CallUrgency"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prof_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_Call')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fSerialNumber",
						"type": "nvarchar"
					},
					{
						"name": "callID",
						"type": "nvarchar"
					},
					{
						"name": "fTemplateID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CategoryOther",
						"type": "nvarchar"
					},
					{
						"name": "fSubCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SubCategoryOther",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "CallDesc",
						"type": "nvarchar"
					},
					{
						"name": "fUrgencyID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fMainAssetID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "___office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Call"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_City')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_City"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_Country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Code",
						"type": "nvarchar"
					},
					{
						"name": "PhoneCode",
						"type": "nvarchar"
					},
					{
						"name": "dtUpdated_FromSAP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Country"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_State')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Code",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_State"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_SF_MRR_Account_FromSFExample')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF_MRR_Acoount",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate SF_Mrr_Account",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "select * from Account\nWHERE LastModifiedDate >= '@{activity('get watermark').output.firstRow.highValue}'",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MasterRecordId",
											"type": "String"
										},
										"sink": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ParentId",
											"type": "String"
										},
										"sink": {
											"name": "ParentId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStreet",
											"type": "String"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCity",
											"type": "String"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingState",
											"type": "String"
										},
										"sink": {
											"name": "BillingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingPostalCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountry",
											"type": "String"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStateCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountryCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLatitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "BillingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLongitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "BillingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStreet",
											"type": "String"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCity",
											"type": "String"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingState",
											"type": "String"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingPostalCode",
											"type": "String"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountry",
											"type": "String"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStateCode",
											"type": "String"
										},
										"sink": {
											"name": "ShippingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountryCode",
											"type": "String"
										},
										"sink": {
											"name": "ShippingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLatitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "ShippingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLongitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "ShippingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String"
										},
										"sink": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Website",
											"type": "String"
										},
										"sink": {
											"name": "Website",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Industry",
											"type": "String"
										},
										"sink": {
											"name": "Industry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NumberOfEmployees",
											"type": "Int32"
										},
										"sink": {
											"name": "NumberOfEmployees",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OwnerId",
											"type": "String"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "String"
										},
										"sink": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastModifiedById",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SystemModstamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastActivityDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastActivityDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastViewedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastReferencedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Jigsaw",
											"type": "String"
										},
										"sink": {
											"name": "Jigsaw",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JigsawCompanyId",
											"type": "String"
										},
										"sink": {
											"name": "JigsawCompanyId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountSource",
											"type": "String"
										},
										"sink": {
											"name": "AccountSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SicDesc",
											"type": "String"
										},
										"sink": {
											"name": "SicDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State__c",
											"type": "String"
										},
										"sink": {
											"name": "State__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Company_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Company_Type__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_External_Id__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pump_Fleet_Size__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Pump_Fleet_Size__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Epidural__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sapphire_Epidural__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Plus__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sapphire_Plus__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_MT__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sapphire_MT__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City__c",
											"type": "String"
										},
										"sink": {
											"name": "City__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street_Address__c",
											"type": "String"
										},
										"sink": {
											"name": "Street_Address__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Extended_Service__c",
											"type": "String"
										},
										"sink": {
											"name": "Extended_Service__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Contacts__c",
											"type": "String"
										},
										"sink": {
											"name": "Contacts__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quickbooks_account__c",
											"type": "String"
										},
										"sink": {
											"name": "Quickbooks_account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country__c",
											"type": "String"
										},
										"sink": {
											"name": "Country__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Inital_String__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Name_Inital_String__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region__c",
											"type": "String"
										},
										"sink": {
											"name": "Region__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Copy__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Name_Copy__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Id_18_Digits__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Id_18_Digits__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Billing_Account__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Billing_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ERP_Account_ID__c",
											"type": "String"
										},
										"sink": {
											"name": "ERP_Account_ID__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String"
										},
										"sink": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Set_List_Account__c",
											"type": "String"
										},
										"sink": {
											"name": "Set_List_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Owner_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Owner_Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceSandBox",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate SF_Mrr_Account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[trunc_Mrr_SF_Account]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [highValue]\nFROM [watermarks].[highValues]\nWHERE [tableName] = 'Mrr_SF_Account_Replica'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "upsert SF_MRR_Acoount_Replica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SF_MRR_Acoount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[Merge_Mrr_Account_Replica]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "upsert SF_MRR_Acoount_Replica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[watermarks].[sp_set_watermark]",
							"storedProcedureParameters": {
								"columnName": {
									"value": "LastModifiedDate",
									"type": "String"
								},
								"schemaName": {
									"value": "sf",
									"type": "String"
								},
								"tableName": {
									"value": "Mrr_SF_Account_Replica",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SF/ACCOUNTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_SF_MRR_Contacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF_MRR_Contacts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate SF_Mrr_contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "select * from Contact\nWHERE LastModifiedDate >= '@{activity('get watermark').output.firstRow.highValue}'",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MasterRecordId",
											"type": "String"
										},
										"sink": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountId",
											"type": "String"
										},
										"sink": {
											"name": "AccountId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Salutation",
											"type": "String"
										},
										"sink": {
											"name": "Salutation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MiddleName",
											"type": "String"
										},
										"sink": {
											"name": "MiddleName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Suffix",
											"type": "String"
										},
										"sink": {
											"name": "Suffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStreet",
											"type": "String"
										},
										"sink": {
											"name": "MailingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingState",
											"type": "String"
										},
										"sink": {
											"name": "MailingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCountry",
											"type": "String"
										},
										"sink": {
											"name": "MailingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCountryCode",
											"type": "String"
										},
										"sink": {
											"name": "MailingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingLatitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "MailingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingLongitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "MailingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingGeocodeAccuracy",
											"type": "String"
										},
										"sink": {
											"name": "MailingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Fax",
											"type": "String"
										},
										"sink": {
											"name": "Fax",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MobilePhone",
											"type": "String"
										},
										"sink": {
											"name": "MobilePhone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReportsToId",
											"type": "String"
										},
										"sink": {
											"name": "ReportsToId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceSandBox",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_Contacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate SF_Mrr_contacts",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[trunc_Mrr_SF_Contacts]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [highValue]\nFROM [watermarks].[highValues]\nWHERE [tableName] = 'Mrr_SF_Contacts_Replica'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "upsert SF_MRR_Contacts_Replica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SF_MRR_Contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[Merge_Mrr_Contacts_Replica]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "upsert SF_MRR_Contacts_Replica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[watermarks].[sp_set_watermark]",
							"storedProcedureParameters": {
								"columnName": {
									"value": "LastModifiedDate",
									"type": "String"
								},
								"schemaName": {
									"value": "sf",
									"type": "String"
								},
								"tableName": {
									"value": "Mrr_SF_Contacts_Replica",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SF/CONTACTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_ToIntegrator_SF_accounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy datato SAP integrator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT   [Id]\n      ,[IsDeleted]\n      ,[MasterRecordId]\n      ,[Name]\n      ,[Type]\n      ,[ParentId]\n      ,[BillingStreet]\n      ,[BillingCity]\n      ,[BillingState]\n      ,[BillingPostalCode]\n      ,[BillingCountry]\n      ,[BillingStateCode]\n      ,[BillingCountryCode]\n      ,[BillingLatitude]\n      ,[BillingLongitude]\n      ,[BillingGeocodeAccurcy]\n      ,[ShippingStreet]\n      ,[ShippingCity]\n      ,[ShippingState]\n      ,[ShippingPostalCode]\n      ,[ShippingCountry]\n      ,[ShippingStateCode]\n      ,[ShippingCountryCode]\n      ,[ShippingLatitude]\n      ,[ShippingLongitude]\n      ,[ShippingGeocodeAccuracy]\n      ,[Phone]\n      ,[Website]\n      ,[Industry]\n      ,[NumberOfEmployees]\n      ,[Description]\n      ,[OwnerId]\n      ,[CreatedDate]\n      ,[CreatedById]\n      ,[LastModifiedDate]\n      ,[LastModifiedById]\n      ,[SystemModstamp]\n      ,[LastActivityDate]\n      ,[LastViewedDate]\n      ,[LastReferencedDate]\n      ,[Jigsaw]\n      ,[JigsawCompanyId]\n      ,[AccountSource]\n      ,[SicDesc]\n      ,[State__c]\n      ,[Company_Type__c]\n      ,[Account_External_Id__c]\n      ,[Pump_Fleet_Size__c]\n      ,[Sapphire_Epidural__c]\n      ,[Sapphire_Plus__c]\n      ,[Sapphire_MT__c]\n      ,[City__c]\n      ,[Street_Address__c]\n      ,[Extended_Service__c]\n      ,[Contacts__c]\n      ,[Quickbooks_account__c]\n      ,[Country__c]\n      ,[Account_Name_Inital_String__c]\n      ,[Region__c]\n      ,[Account_Name_Copy__c]\n      ,[Account_Id_18_Digits__c]\n      ,[Billing_Account__c]\n      ,[ETL_ID]\n      ,[ETL_datetime]\n      ,[ETL_Action]\n      ,[ETL_TargetUpdated]\n      ,[ERP_Account_ID__c]\n      ,[AnnualRevenue]\n      ,[signed_a_set_commitment_agreement__c]\n      ,[Set_List_Account__c]\n      ,[dtUpdated]\n      ,[BYD_id]\n      ,[BYD_CompanyID]\n      ,[BYD_dtUpdated]\n      ,[CustomerType]\n      ,[Account_Owner_Email]\n \n  FROM [SF].[Mrr_SF_Account_Replica] where \n [ETL_TargetUpdated] = 0 \n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ParentId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ParentId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCity",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingState",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingGeocodeAccurcy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BillingGeocodeAccurcy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCity",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingState",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Website",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Website",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Industry",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Industry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NumberOfEmployees",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NumberOfEmployees",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastActivityDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastActivityDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Jigsaw",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Jigsaw",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JigsawCompanyId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "JigsawCompanyId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountSource",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SicDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SicDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Company_Type__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Company_Type__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pump_Fleet_Size__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pump_Fleet_Size__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Epidural__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sapphire_Epidural__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Plus__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sapphire_Plus__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_MT__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sapphire_MT__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street_Address__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Street_Address__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Extended_Service__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Extended_Service__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Contacts__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Contacts__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quickbooks_account__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Quickbooks_account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Inital_String__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Name_Inital_String__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Region__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Copy__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Name_Copy__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Id_18_Digits__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Id_18_Digits__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Billing_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Billing_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ETL_datetime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ETL_datetime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ETL_Action",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ETL_Action",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ETL_TargetUpdated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ETL_TargetUpdated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ERP_Account_ID__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ERP_Account_ID__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnnualRevenue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnnualRevenue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Set_List_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Set_List_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "BYD_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BYD_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BYD_CompanyID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BYD_CompanyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BYD_dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "BYD_dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Owner_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_Owner_Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SFDC_Adccounts_Replica",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_integrator_dev_Account_replica",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_Loader_account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy datato SAP integrator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[Loader_Mrr_SF_Account_Replica]"
						},
						"linkedServiceName": {
							"referenceName": "SAP_Integrator_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SF/ACCOUNTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-25T08:24:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_SF_MRR_Account_WayBackExample')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AZURE_Acoount",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "  select * from sf.Mrr_sf_account_replica \nwhere \n Type = 'A' and \n[ETL_TargetUpdated] = 1 \nand ERP_account_Id__c is not null\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Account_External_Id__c",
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_External_Id__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BYD_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ERP_Account_ID__c",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SF_MRR_Account",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SalesforceObject_account",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SF/ACCOUNTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Call')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Call",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "callID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "callID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fTemplateID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fTemplateID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fCategoryID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCategoryID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fSubCategoryID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fSubCategoryID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SubCategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SubCategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CallDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CallDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fUrgencyID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUrgencyID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fMainAssetID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fMainAssetID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "tbl_Call",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Call",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Call",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Call]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tbl_Call')]"
			]
		}
	]
}