adf-egbi-dev/linkedTemplates/ArmTemplate_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Fact_Trending')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Stg_Fact_Trending",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Stg_Fact_Trending",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[srv].[sp_Stg_Fact_Trending]",
								"storedProcedureParameters": {
									"Date": {
										"type": "DateTime",
										"value": "2017-01-01"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PortalID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PortalID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CMR#",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CMR#",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DNR#",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DNR#",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Awareness Date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Awareness Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "P/N",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "P/N",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "P/N Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "P/N Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Code Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Code Error Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code Error Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Error Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Error Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Code Analysis Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code Analysis Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Analysis Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Analysis Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Code Analysis Error Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code Analysis Error Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Analysis Error Codes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Analysis Error Codes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Quantity",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Date closed",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Date closed",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "KnownID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RepairLevel",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Level3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Level3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "internalSN",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "internalSN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PortalServiceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_PortalServiceID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ServiceStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ServiceStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SC_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SC_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastUserIssue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastUserIssue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastUserDiagnostic",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastUserDiagnostic",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sp_Stg_Fact_Trending",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stg_Fact_Trending",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Stg_Fact_Trending",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Stg_Fact_Trending]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Stg"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:32:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_IQC_Followup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Stg_IQC_Followup",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Stg_IQC_Followup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\nYEAR([End date (end of IQC)]) Year\n,DATEPART(week,[End date (end of IQC)]) WeeK\n,cast([Date of receipt] as date) DateReciept\n,cast([End date (end of IQC)] as date) EndDateIQC\n,[MRB #] as Itemcode\n,[Product belongs to] ProductType\n,[Supplier Cod] SupplierID\n,[Supplier] as SupplierName\n--,[Lot Source_Supplier /_Q Core] as SourceLot\n,[Total Qty. Received] TotalRecQty\n,[Sample Size] as SampleSize\n,Case when [Batch Disposition (Pass/Fail)]='PAss'\t\t then '1'\n\t  when [Batch Disposition (Pass/Fail)]='Fail'\t\t then '0'\n\t  when ISNULL([Batch Disposition (Pass/Fail)],'')='' then Null end  as 'Pass/Fail',\n[Batch #] [Batch Number],\n[Rev number ]\n from [ScoreCards].[Mrr_IQC_Followup]\n where YEAR([End date (end of IQC)])>='2015' \n and supplier<>'In house'\n and ([Total Qty. Received] not LIKE '%+%'\n and  [Total Qty. Received]  not LIKE '%(%')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "WeeK",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "WeeK",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "EndDateIQC",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "EndDateIQC",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SupplierID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DateReciept",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateReciept",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Itemcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Itemcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TotalRecQty",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TotalRecQty",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Pass/Fail",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Pass/Fail",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Rev number ",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Rev number ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Batch Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Batch Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_IQC_Followup",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stg_IQC_Followup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Stg_IQC_Followup",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[trunc_Stg_IQC_Followup]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Stg"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_ScarLog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Stg_ScarLog",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Stg_ScarLog",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select YEAR(ScarSendingDate) as 'Year', DATEPART(WEEK,ScarSendingDate) as 'Week' , SupplierName,SupplierNo,PartDescription,PN,MRBNo,Descriptionofdeviation,ScarSendingDate,\nAllowedReturnDate,ReminderDate,ScarReturningDate\n\n from ScoreCards.Mrr_ScarLog\n where YEAR(ScarSendingDate)>='2016'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Week",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Week",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PartDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PartDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PN",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MRBNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MRBNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descriptionofdeviation",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DescriptionofDeviation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ScarSendingDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ScarSendingDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "AllowedReturnDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AllowedReturnDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ReminderDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReminderDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ScarReturningDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ScarReturningDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_ScarLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stg_ScarLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Stg_ScarLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[trunc_Stg_ScarLog]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Stg"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-08T09:04:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Suppiers_OTD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Stg_SuppliersOTD",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Stg_SuppliersOTD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[ScoreCards].[sp_Stg_SuppliersOTD]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cardcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "cardcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "cardname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "cardname",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QcorePO",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "QcorePO",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PO Line Num",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PO Line Num",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "VendorRef#",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VendorRef#",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PN",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Item Group Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Group Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "OpenQuantity",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "OpenQuantity",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "ShippedQuantity",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "ShippedQuantity",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "LastShipDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastShipDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Requested Date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Requested Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_Suppliers_Audit_Activities_Followup",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stg_Suppliers_OTD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Stg_SuppliersOTD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Stg_SuppliersOTD]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Stg"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Suppliers_Audit_Activities_Followup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Stg_Suppliers_Audit_Activities_Followup",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Stg_Suppliers_Audit_Activities_Followup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select YEAR(ActualAuditDate) as 'Year',DATEPART(WEEK,ActualAuditDate) as 'Week', *\n from [ScoreCards].[Mrr_Suppliers_Audit_Activities_Followup]\n where SupplierName<>'Supplier Name'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Week",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Week",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Location",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Location",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EAN #",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EAN #",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AuditPerfom",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AuditPerfom",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActualAuditDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ActualAuditDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "AuditDurationDays",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AuditDurationDays",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LeadAuditorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LeadAuditorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Audit Team",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Audit Team",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AuditType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AuditType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Findings_Critical",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Findings_Critical",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Findings_Major",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Findings_Major",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Findings_Moderate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Findings_Moderate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Findings_Observ",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Findings_Observ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AuditResults",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AuditResults",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AuditorScore",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AuditorScore",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_Suppliers_Audit_Activities_Followup",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stg_Suppliers_Audit_Activities_Followup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Stg_Suppliers_Audit_Activities_Followup",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[trunc_Stg_Suppliers_Audit_Activities_Followup]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Stg"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Training_Quality_Plan')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy vw_Training_Quality_Plan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "exec trunc_Calc_Training_Quality_Plan_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "vw_Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Calc_Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "exec trunc_Calc_Training_Quality_Plan_Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[training].[sp_trunc_Calc_Training_Quality_Plan]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SharepointToBlobStorage_Training",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "exec trunc_Calc_Training_Quality_Plan_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-14.northeurope.logic.azure.com:443/workflows/c06e19b5fc074fdeb4aedbe7c16efe6b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8Kh91tZRdYot8y7B2fGmL60l0W25slqXdXOaPuwIh-Y",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}"
							}
						}
					},
					{
						"name": "Copy Training_Quality_Plan_Xls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SharepointToBlobStorage_Training",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "NeedDocument",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Calc_Training_Quality_Plan_Xls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "exec sp_Merge_Calc_Training_Quality_Plan",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Training_Quality_Plan_Xls",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy vw_Training_Quality_Plan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[training].[sp_Merge_Calc_Training_Quality_Plan]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Export to CSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "exec sp_Merge_Calc_Training_Quality_Plan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "NeedDocument",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Calc_Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Training_Quality_Plan_New",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Training"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-15T07:48:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sp_BP_FinalScore')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get param 1 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'1 prev Q' [name]\n, YEAR(dateadd(Quarter,-1,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-1,getdate())) [q]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "get param 2 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'2 prev Q' [name]\n, YEAR(dateadd(Quarter,-2,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-2,getdate())) [q]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 1 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 1 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 1 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 2 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 2 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 2 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get param 3 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'3 prev Q' [name]\n, YEAR(dateadd(Quarter,-3,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-3,getdate())) [q]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Stored procedure3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 3 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 3 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 3 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get param 4 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'4 prev Q' [name]\n, YEAR(dateadd(Quarter,-4,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-4,getdate())) [q]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Stored procedure4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 4 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 4 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 4 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Dwh"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Group')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupName",
						"type": "nvarchar"
					},
					{
						"name": "IsTraining",
						"type": "bit"
					},
					{
						"name": "IsActive",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_sys_Group"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_ServiceCenter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ServiceCenterName",
						"type": "nvarchar"
					},
					{
						"name": "ServiceCenterSAPIdentity",
						"type": "nvarchar"
					},
					{
						"name": "fServiceCenterTypeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ServiceCenterLogo",
						"type": "nvarchar"
					},
					{
						"name": "IntakeFormEmail",
						"type": "nvarchar"
					},
					{
						"name": "IntakeFormSAMA",
						"type": "nvarchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "IsQcore",
						"type": "bit"
					},
					{
						"name": "IsICU",
						"type": "bit"
					},
					{
						"name": "IsAltera",
						"type": "bit"
					},
					{
						"name": "DistributorNumSuitable",
						"type": "nvarchar"
					},
					{
						"name": "dtUpdated_FromSAP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsSyncToSAP",
						"type": "bit"
					},
					{
						"name": "CompHandlerMail",
						"type": "nvarchar"
					},
					{
						"name": "__Office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_ServiceCenter"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Accounts_OACT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap_TestNewQcoreDB_05012020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AcctCode",
						"type": "nvarchar"
					},
					{
						"name": "AcctName",
						"type": "nvarchar"
					},
					{
						"name": "CurrTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EndTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Finanse",
						"type": "char"
					},
					{
						"name": "Groups",
						"type": "nvarchar"
					},
					{
						"name": "Budget",
						"type": "char"
					},
					{
						"name": "Frozen",
						"type": "char"
					},
					{
						"name": "Free_2",
						"type": "char"
					},
					{
						"name": "Postable",
						"type": "char"
					},
					{
						"name": "Fixed",
						"type": "char"
					},
					{
						"name": "Levels",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "GrpLine",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FatherNum",
						"type": "nvarchar"
					},
					{
						"name": "AccntntCod",
						"type": "nvarchar"
					},
					{
						"name": "CashBox",
						"type": "char"
					},
					{
						"name": "GroupMask",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RateTrans",
						"type": "char"
					},
					{
						"name": "TaxIncome",
						"type": "char"
					},
					{
						"name": "ExmIncome",
						"type": "char"
					},
					{
						"name": "ExtrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IntrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ActType",
						"type": "char"
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BlncTrnsfr",
						"type": "char"
					},
					{
						"name": "OverType",
						"type": "char"
					},
					{
						"name": "OverCode",
						"type": "nvarchar"
					},
					{
						"name": "SysMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYear",
						"type": "char"
					},
					{
						"name": "ActCurr",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "SysTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FcTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "RealAcct",
						"type": "char"
					},
					{
						"name": "Advance",
						"type": "char"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrgnName",
						"type": "nvarchar"
					},
					{
						"name": "Details",
						"type": "nvarchar"
					},
					{
						"name": "ExtraSum",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Project",
						"type": "nvarchar"
					},
					{
						"name": "RevalMatch",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocManTran",
						"type": "char"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "ValidFor",
						"type": "char"
					},
					{
						"name": "ValidFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenFor",
						"type": "char"
					},
					{
						"name": "FrozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "Counter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Segment_0",
						"type": "nvarchar"
					},
					{
						"name": "Segment_1",
						"type": "nvarchar"
					},
					{
						"name": "Segment_2",
						"type": "nvarchar"
					},
					{
						"name": "Segment_3",
						"type": "nvarchar"
					},
					{
						"name": "Segment_4",
						"type": "nvarchar"
					},
					{
						"name": "Segment_5",
						"type": "nvarchar"
					},
					{
						"name": "Segment_6",
						"type": "nvarchar"
					},
					{
						"name": "Segment_7",
						"type": "nvarchar"
					},
					{
						"name": "Segment_8",
						"type": "nvarchar"
					},
					{
						"name": "Segment_9",
						"type": "nvarchar"
					},
					{
						"name": "FormatCode",
						"type": "nvarchar"
					},
					{
						"name": "CfwRlvnt",
						"type": "char"
					},
					{
						"name": "ExchRate",
						"type": "char"
					},
					{
						"name": "RevalAcct",
						"type": "nvarchar"
					},
					{
						"name": "LastRevBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LastRevDat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DfltVat",
						"type": "nvarchar"
					},
					{
						"name": "VatChange",
						"type": "char"
					},
					{
						"name": "Category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TransCode",
						"type": "nvarchar"
					},
					{
						"name": "OverCode5",
						"type": "nvarchar"
					},
					{
						"name": "OverCode2",
						"type": "nvarchar"
					},
					{
						"name": "OverCode3",
						"type": "nvarchar"
					},
					{
						"name": "OverCode4",
						"type": "nvarchar"
					},
					{
						"name": "DfltTax",
						"type": "nvarchar"
					},
					{
						"name": "TaxPostAcc",
						"type": "char"
					},
					{
						"name": "AcctStrLe",
						"type": "nvarchar"
					},
					{
						"name": "MeaUnit",
						"type": "nvarchar"
					},
					{
						"name": "BalDirect",
						"type": "nvarchar"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngLevel",
						"type": "nvarchar"
					},
					{
						"name": "MultiLink",
						"type": "char"
					},
					{
						"name": "PrjRelvnt",
						"type": "char"
					},
					{
						"name": "Dim1Relvnt",
						"type": "char"
					},
					{
						"name": "Dim2Relvnt",
						"type": "char"
					},
					{
						"name": "Dim3Relvnt",
						"type": "char"
					},
					{
						"name": "Dim4Relvnt",
						"type": "char"
					},
					{
						"name": "Dim5Relvnt",
						"type": "char"
					},
					{
						"name": "AccrualTyp",
						"type": "char"
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAutoA",
						"type": "char"
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "SnapShotId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PCN874Rpt",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "BPLId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BPLName",
						"type": "nvarchar"
					},
					{
						"name": "SubLedgerN",
						"type": "nvarchar"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "ActId",
						"type": "nvarchar"
					},
					{
						"name": "ClosingAcc",
						"type": "nvarchar"
					},
					{
						"name": "PurpCode",
						"type": "nvarchar"
					},
					{
						"name": "RefCode",
						"type": "nvarchar"
					},
					{
						"name": "BlocManPos",
						"type": "char"
					},
					{
						"name": "U_beas_wip",
						"type": "char"
					},
					{
						"name": "U_Bnk",
						"type": "nvarchar"
					},
					{
						"name": "U_Brnc",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_Acct",
						"type": "nvarchar"
					},
					{
						"name": "U_LicTr",
						"type": "nvarchar"
					},
					{
						"name": "U_MasavDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OACT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Accounts_OACT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AcctCode",
						"type": "nvarchar"
					},
					{
						"name": "AcctName",
						"type": "nvarchar"
					},
					{
						"name": "CurrTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EndTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Finanse",
						"type": "char"
					},
					{
						"name": "Groups",
						"type": "nvarchar"
					},
					{
						"name": "Budget",
						"type": "char"
					},
					{
						"name": "Frozen",
						"type": "char"
					},
					{
						"name": "Free_2",
						"type": "char"
					},
					{
						"name": "Postable",
						"type": "char"
					},
					{
						"name": "Fixed",
						"type": "char"
					},
					{
						"name": "Levels",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "GrpLine",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FatherNum",
						"type": "nvarchar"
					},
					{
						"name": "AccntntCod",
						"type": "nvarchar"
					},
					{
						"name": "CashBox",
						"type": "char"
					},
					{
						"name": "GroupMask",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RateTrans",
						"type": "char"
					},
					{
						"name": "TaxIncome",
						"type": "char"
					},
					{
						"name": "ExmIncome",
						"type": "char"
					},
					{
						"name": "ExtrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IntrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ActType",
						"type": "char"
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BlncTrnsfr",
						"type": "char"
					},
					{
						"name": "OverType",
						"type": "char"
					},
					{
						"name": "OverCode",
						"type": "nvarchar"
					},
					{
						"name": "SysMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYear",
						"type": "char"
					},
					{
						"name": "ActCurr",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "SysTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FcTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "RealAcct",
						"type": "char"
					},
					{
						"name": "Advance",
						"type": "char"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrgnName",
						"type": "nvarchar"
					},
					{
						"name": "Details",
						"type": "nvarchar"
					},
					{
						"name": "ExtraSum",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Project",
						"type": "nvarchar"
					},
					{
						"name": "RevalMatch",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocManTran",
						"type": "char"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "ValidFor",
						"type": "char"
					},
					{
						"name": "ValidFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenFor",
						"type": "char"
					},
					{
						"name": "FrozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "Counter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Segment_0",
						"type": "nvarchar"
					},
					{
						"name": "Segment_1",
						"type": "nvarchar"
					},
					{
						"name": "Segment_2",
						"type": "nvarchar"
					},
					{
						"name": "Segment_3",
						"type": "nvarchar"
					},
					{
						"name": "Segment_4",
						"type": "nvarchar"
					},
					{
						"name": "Segment_5",
						"type": "nvarchar"
					},
					{
						"name": "Segment_6",
						"type": "nvarchar"
					},
					{
						"name": "Segment_7",
						"type": "nvarchar"
					},
					{
						"name": "Segment_8",
						"type": "nvarchar"
					},
					{
						"name": "Segment_9",
						"type": "nvarchar"
					},
					{
						"name": "FormatCode",
						"type": "nvarchar"
					},
					{
						"name": "CfwRlvnt",
						"type": "char"
					},
					{
						"name": "ExchRate",
						"type": "char"
					},
					{
						"name": "RevalAcct",
						"type": "nvarchar"
					},
					{
						"name": "LastRevBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LastRevDat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DfltVat",
						"type": "nvarchar"
					},
					{
						"name": "VatChange",
						"type": "char"
					},
					{
						"name": "Category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TransCode",
						"type": "nvarchar"
					},
					{
						"name": "OverCode5",
						"type": "nvarchar"
					},
					{
						"name": "OverCode2",
						"type": "nvarchar"
					},
					{
						"name": "OverCode3",
						"type": "nvarchar"
					},
					{
						"name": "OverCode4",
						"type": "nvarchar"
					},
					{
						"name": "DfltTax",
						"type": "nvarchar"
					},
					{
						"name": "TaxPostAcc",
						"type": "char"
					},
					{
						"name": "AcctStrLe",
						"type": "nvarchar"
					},
					{
						"name": "MeaUnit",
						"type": "nvarchar"
					},
					{
						"name": "BalDirect",
						"type": "nvarchar"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngLevel",
						"type": "nvarchar"
					},
					{
						"name": "MultiLink",
						"type": "char"
					},
					{
						"name": "PrjRelvnt",
						"type": "char"
					},
					{
						"name": "Dim1Relvnt",
						"type": "char"
					},
					{
						"name": "Dim2Relvnt",
						"type": "char"
					},
					{
						"name": "Dim3Relvnt",
						"type": "char"
					},
					{
						"name": "Dim4Relvnt",
						"type": "char"
					},
					{
						"name": "Dim5Relvnt",
						"type": "char"
					},
					{
						"name": "AccrualTyp",
						"type": "char"
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAutoA",
						"type": "char"
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "SnapShotId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PCN874Rpt",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "BPLId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BPLName",
						"type": "nvarchar"
					},
					{
						"name": "SubLedgerN",
						"type": "nvarchar"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "ActId",
						"type": "nvarchar"
					},
					{
						"name": "ClosingAcc",
						"type": "nvarchar"
					},
					{
						"name": "PurpCode",
						"type": "nvarchar"
					},
					{
						"name": "RefCode",
						"type": "nvarchar"
					},
					{
						"name": "BlocManPos",
						"type": "char"
					},
					{
						"name": "U_beas_wip",
						"type": "char"
					},
					{
						"name": "U_Bnk",
						"type": "nvarchar"
					},
					{
						"name": "U_Brnc",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_Acct",
						"type": "nvarchar"
					},
					{
						"name": "U_LicTr",
						"type": "nvarchar"
					},
					{
						"name": "U_MasavDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OACT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Accounts_OACT2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AcctCode",
						"type": "nvarchar"
					},
					{
						"name": "AcctName",
						"type": "nvarchar"
					},
					{
						"name": "CurrTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EndTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Finanse",
						"type": "char"
					},
					{
						"name": "Groups",
						"type": "nvarchar"
					},
					{
						"name": "Budget",
						"type": "char"
					},
					{
						"name": "Frozen",
						"type": "char"
					},
					{
						"name": "Free_2",
						"type": "char"
					},
					{
						"name": "Postable",
						"type": "char"
					},
					{
						"name": "Fixed",
						"type": "char"
					},
					{
						"name": "Levels",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "GrpLine",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FatherNum",
						"type": "nvarchar"
					},
					{
						"name": "AccntntCod",
						"type": "nvarchar"
					},
					{
						"name": "CashBox",
						"type": "char"
					},
					{
						"name": "GroupMask",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RateTrans",
						"type": "char"
					},
					{
						"name": "TaxIncome",
						"type": "char"
					},
					{
						"name": "ExmIncome",
						"type": "char"
					},
					{
						"name": "ExtrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IntrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ActType",
						"type": "char"
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BlncTrnsfr",
						"type": "char"
					},
					{
						"name": "OverType",
						"type": "char"
					},
					{
						"name": "OverCode",
						"type": "nvarchar"
					},
					{
						"name": "SysMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYear",
						"type": "char"
					},
					{
						"name": "ActCurr",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "SysTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FcTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "RealAcct",
						"type": "char"
					},
					{
						"name": "Advance",
						"type": "char"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrgnName",
						"type": "nvarchar"
					},
					{
						"name": "Details",
						"type": "nvarchar"
					},
					{
						"name": "ExtraSum",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Project",
						"type": "nvarchar"
					},
					{
						"name": "RevalMatch",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocManTran",
						"type": "char"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "ValidFor",
						"type": "char"
					},
					{
						"name": "ValidFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenFor",
						"type": "char"
					},
					{
						"name": "FrozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "Counter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Segment_0",
						"type": "nvarchar"
					},
					{
						"name": "Segment_1",
						"type": "nvarchar"
					},
					{
						"name": "Segment_2",
						"type": "nvarchar"
					},
					{
						"name": "Segment_3",
						"type": "nvarchar"
					},
					{
						"name": "Segment_4",
						"type": "nvarchar"
					},
					{
						"name": "Segment_5",
						"type": "nvarchar"
					},
					{
						"name": "Segment_6",
						"type": "nvarchar"
					},
					{
						"name": "Segment_7",
						"type": "nvarchar"
					},
					{
						"name": "Segment_8",
						"type": "nvarchar"
					},
					{
						"name": "Segment_9",
						"type": "nvarchar"
					},
					{
						"name": "FormatCode",
						"type": "nvarchar"
					},
					{
						"name": "CfwRlvnt",
						"type": "char"
					},
					{
						"name": "ExchRate",
						"type": "char"
					},
					{
						"name": "RevalAcct",
						"type": "nvarchar"
					},
					{
						"name": "LastRevBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LastRevDat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DfltVat",
						"type": "nvarchar"
					},
					{
						"name": "VatChange",
						"type": "char"
					},
					{
						"name": "Category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TransCode",
						"type": "nvarchar"
					},
					{
						"name": "OverCode5",
						"type": "nvarchar"
					},
					{
						"name": "OverCode2",
						"type": "nvarchar"
					},
					{
						"name": "OverCode3",
						"type": "nvarchar"
					},
					{
						"name": "OverCode4",
						"type": "nvarchar"
					},
					{
						"name": "DfltTax",
						"type": "nvarchar"
					},
					{
						"name": "TaxPostAcc",
						"type": "char"
					},
					{
						"name": "AcctStrLe",
						"type": "nvarchar"
					},
					{
						"name": "MeaUnit",
						"type": "nvarchar"
					},
					{
						"name": "BalDirect",
						"type": "nvarchar"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngLevel",
						"type": "nvarchar"
					},
					{
						"name": "MultiLink",
						"type": "char"
					},
					{
						"name": "PrjRelvnt",
						"type": "char"
					},
					{
						"name": "Dim1Relvnt",
						"type": "char"
					},
					{
						"name": "Dim2Relvnt",
						"type": "char"
					},
					{
						"name": "Dim3Relvnt",
						"type": "char"
					},
					{
						"name": "Dim4Relvnt",
						"type": "char"
					},
					{
						"name": "Dim5Relvnt",
						"type": "char"
					},
					{
						"name": "AccrualTyp",
						"type": "char"
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAutoA",
						"type": "char"
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "SnapShotId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PCN874Rpt",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "BPLId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BPLName",
						"type": "nvarchar"
					},
					{
						"name": "SubLedgerN",
						"type": "nvarchar"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "ActId",
						"type": "nvarchar"
					},
					{
						"name": "ClosingAcc",
						"type": "nvarchar"
					},
					{
						"name": "PurpCode",
						"type": "nvarchar"
					},
					{
						"name": "RefCode",
						"type": "nvarchar"
					},
					{
						"name": "BlocManPos",
						"type": "char"
					},
					{
						"name": "U_beas_wip",
						"type": "char"
					},
					{
						"name": "U_Bnk",
						"type": "nvarchar"
					},
					{
						"name": "U_Brnc",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_Acct",
						"type": "nvarchar"
					},
					{
						"name": "U_LicTr",
						"type": "nvarchar"
					},
					{
						"name": "U_MasavDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OACT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BP_SCORE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap_TestNewQcoreDB_05012020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDB-EGBI-DEV/ScoreCards/Mrr"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Code",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Canceled",
						"type": "char"
					},
					{
						"name": "Object",
						"type": "nvarchar"
					},
					{
						"name": "LogInst",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreateTime",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateTime",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "U_Year",
						"type": "nvarchar"
					},
					{
						"name": "U_Quarter",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@@BP_SCORE",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BP_SCORE1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap_TestNewQcoreDB_05012020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDB-EGBI-DEV/ScoreCards/Mrr"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Code",
						"type": "nvarchar"
					},
					{
						"name": "LineId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Object",
						"type": "nvarchar"
					},
					{
						"name": "LogInst",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_CardCode",
						"type": "nvarchar"
					},
					{
						"name": "U_CardName",
						"type": "nvarchar"
					},
					{
						"name": "U_Score",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Total",
						"type": "nvarchar"
					},
					{
						"name": "U_TotalPer",
						"type": "nvarchar"
					},
					{
						"name": "U_Critical",
						"type": "nvarchar"
					},
					{
						"name": "U_ScoreScaleType",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@@BP_SCORE1",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRD1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "Block",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "LicTradNum",
						"type": "nvarchar"
					},
					{
						"name": "LineNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxCode",
						"type": "nvarchar"
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "AdresType",
						"type": "char"
					},
					{
						"name": "Address2",
						"type": "nvarchar"
					},
					{
						"name": "Address3",
						"type": "nvarchar"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "AltCrdName",
						"type": "nvarchar"
					},
					{
						"name": "AltTaxId",
						"type": "nvarchar"
					},
					{
						"name": "TaxOffice",
						"type": "nvarchar"
					},
					{
						"name": "GlblLocNum",
						"type": "nvarchar"
					},
					{
						"name": "Ntnlty",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CRD1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRD11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "Block",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "LicTradNum",
						"type": "nvarchar"
					},
					{
						"name": "LineNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxCode",
						"type": "nvarchar"
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "AdresType",
						"type": "char"
					},
					{
						"name": "Address2",
						"type": "nvarchar"
					},
					{
						"name": "Address3",
						"type": "nvarchar"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "AltCrdName",
						"type": "nvarchar"
					},
					{
						"name": "AltTaxId",
						"type": "nvarchar"
					},
					{
						"name": "TaxOffice",
						"type": "nvarchar"
					},
					{
						"name": "GlblLocNum",
						"type": "nvarchar"
					},
					{
						"name": "Ntnlty",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CRD1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CUFD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap_TestNewQcoreDB_05012020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TableID",
						"type": "nvarchar"
					},
					{
						"name": "FieldID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AliasID",
						"type": "nvarchar"
					},
					{
						"name": "Descr",
						"type": "nvarchar"
					},
					{
						"name": "TypeID",
						"type": "char"
					},
					{
						"name": "EditType",
						"type": "char"
					},
					{
						"name": "SizeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EditSize",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Dflt",
						"type": "nvarchar"
					},
					{
						"name": "NotNull",
						"type": "char"
					},
					{
						"name": "IndexID",
						"type": "char"
					},
					{
						"name": "RTable",
						"type": "nvarchar"
					},
					{
						"name": "RField",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Action",
						"type": "char"
					},
					{
						"name": "Sys",
						"type": "char"
					},
					{
						"name": "DfltDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RelUDO",
						"type": "nvarchar"
					},
					{
						"name": "ValidRule",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CUFD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CUFD1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TableID",
						"type": "nvarchar"
					},
					{
						"name": "FieldID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AliasID",
						"type": "nvarchar"
					},
					{
						"name": "Descr",
						"type": "nvarchar"
					},
					{
						"name": "TypeID",
						"type": "char"
					},
					{
						"name": "EditType",
						"type": "char"
					},
					{
						"name": "SizeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EditSize",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Dflt",
						"type": "nvarchar"
					},
					{
						"name": "NotNull",
						"type": "char"
					},
					{
						"name": "IndexID",
						"type": "char"
					},
					{
						"name": "RTable",
						"type": "nvarchar"
					},
					{
						"name": "RField",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Action",
						"type": "char"
					},
					{
						"name": "Sys",
						"type": "char"
					},
					{
						"name": "DfltDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RelUDO",
						"type": "nvarchar"
					},
					{
						"name": "ValidRule",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CUFD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Complaint')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fSerialNumber",
						"type": "nvarchar"
					},
					{
						"name": "callID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "u_ootbfail",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Descr",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StatusDesc",
						"type": "nvarchar"
					},
					{
						"name": "U_Fixapproval",
						"type": "nvarchar"
					},
					{
						"name": "U_WhoExperienced",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_SwVer",
						"type": "nvarchar"
					},
					{
						"name": "U_SendToHSPGSC",
						"type": "nvarchar"
					},
					{
						"name": "U_ReportedBy",
						"type": "nvarchar"
					},
					{
						"name": "U_RepByTitle",
						"type": "nvarchar"
					},
					{
						"name": "U_RecordId",
						"type": "nvarchar"
					},
					{
						"name": "U_Quantity",
						"type": "float",
						"precision": 15
					},
					{
						"name": "U_QBupdate",
						"type": "nvarchar"
					},
					{
						"name": "U_ProductNotes",
						"type": "nvarchar"
					},
					{
						"name": "U_ProblemObserved",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_PatientInv",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_PatInvDet",
						"type": "nvarchar"
					},
					{
						"name": "U_OotbOtherDetails",
						"type": "nvarchar"
					},
					{
						"name": "U_OccuredAt",
						"type": "nvarchar"
					},
					{
						"name": "U_IntakeFilledBy",
						"type": "nvarchar"
					},
					{
						"name": "U_HumanHarmDet",
						"type": "nvarchar"
					},
					{
						"name": "U_HumanHarm",
						"type": "nvarchar"
					},
					{
						"name": "U_HotList",
						"type": "nvarchar"
					},
					{
						"name": "U_Finalevaluletter",
						"type": "nvarchar"
					},
					{
						"name": "U_Event_Log_Req",
						"type": "nvarchar"
					},
					{
						"name": "U_EqReturnReq",
						"type": "nvarchar"
					},
					{
						"name": "U_Description",
						"type": "nvarchar"
					},
					{
						"name": "U_Date_Event_Log",
						"type": "nvarchar"
					},
					{
						"name": "U_CustomerType",
						"type": "nvarchar"
					},
					{
						"name": "U_CPTitle",
						"type": "nvarchar"
					},
					{
						"name": "U_CP_Phone",
						"type": "nvarchar"
					},
					{
						"name": "U_CP_Email",
						"type": "nvarchar"
					},
					{
						"name": "U_CP",
						"type": "nvarchar"
					},
					{
						"name": "U_CompDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_CaseNo",
						"type": "nvarchar"
					},
					{
						"name": "U_Batch",
						"type": "nvarchar"
					},
					{
						"name": "U_Arrival_Event_Log",
						"type": "nvarchar"
					},
					{
						"name": "U_AppBy1Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_AppBy1",
						"type": "nvarchar"
					},
					{
						"name": "U_AckDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Subject",
						"type": "nvarchar"
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Room",
						"type": "nvarchar"
					},
					{
						"name": "U_Date_Pump_Req",
						"type": "nvarchar"
					},
					{
						"name": "closeDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "itemName",
						"type": "nvarchar"
					},
					{
						"name": "itemCode",
						"type": "nvarchar"
					},
					{
						"name": "internalSN__NoUse",
						"type": "nvarchar"
					},
					{
						"name": "Descrption",
						"type": "nvarchar"
					},
					{
						"name": "Customer",
						"type": "float",
						"precision": 15
					},
					{
						"name": "custmrName",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "callType",
						"type": "float",
						"precision": 15
					},
					{
						"name": "U_FixInstructiField",
						"type": "nvarchar"
					},
					{
						"name": "U_FixDesc",
						"type": "nvarchar"
					},
					{
						"name": "U_cp_fax",
						"type": "nvarchar"
					},
					{
						"name": "U_WhoExperiencedOth",
						"type": "nvarchar"
					},
					{
						"name": "U_DistLogedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "u_unresponse",
						"type": "nvarchar"
					},
					{
						"name": "dtUpdated_FromSAP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "___NEW_FIELDS",
						"type": "nchar"
					},
					{
						"name": "_FieldsNotQB",
						"type": "char"
					},
					{
						"name": "U_RepByPhone",
						"type": "nvarchar"
					},
					{
						"name": "U_OccuredAt_Other",
						"type": "nvarchar"
					},
					{
						"name": "U_AckDate_Unknown",
						"type": "bit"
					},
					{
						"name": "U_Delay_Therapy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Delay_TherapyDetails",
						"type": "nvarchar"
					},
					{
						"name": "U_Medical_Intervention",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Medical_InterventionDetails",
						"type": "nvarchar"
					},
					{
						"name": "U_Alarm_Settings",
						"type": "nvarchar"
					},
					{
						"name": "U_Type_Of_Drug",
						"type": "nvarchar"
					},
					{
						"name": "U_Prime_Performed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Portal_Description",
						"type": "nvarchar"
					},
					{
						"name": "U_Product_Customer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DistributerNum",
						"type": "nvarchar"
					},
					{
						"name": "DistributerName",
						"type": "nvarchar"
					},
					{
						"name": "U_AckDate_Hour",
						"type": "nvarchar"
					},
					{
						"name": "SWVersion",
						"type": "nvarchar"
					},
					{
						"name": "U_SendToQCoreDesc",
						"type": "nvarchar"
					},
					{
						"name": "fProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fServiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ComplaintSource",
						"type": "nvarchar"
					},
					{
						"name": "IsCompleted",
						"type": "bit"
					},
					{
						"name": "IsReleasePump",
						"type": "bit"
					},
					{
						"name": "___office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__sync_to_sap_fields",
						"type": "nvarchar"
					},
					{
						"name": "dtExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dtQuickBaseExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Complaint"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Complaint_Issue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ComplaintIssueSource",
						"type": "nvarchar"
					},
					{
						"name": "fComplaintID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fKnownIssueID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "KnownIssueMain",
						"type": "nvarchar"
					},
					{
						"name": "fStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsComplaintRelated",
						"type": "bit"
					},
					{
						"name": "DateReported",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "KnownUnique",
						"type": "nvarchar"
					},
					{
						"name": "__KnownIssueFields",
						"type": "char"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Error",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "SWVersion",
						"type": "nvarchar"
					},
					{
						"name": "___SAP",
						"type": "char"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LineID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdated_FromSAP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "___office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__sync_to_sap_fields",
						"type": "nvarchar"
					},
					{
						"name": "dtExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Complaint_Issues"
				}
			},
			"dependsOn": []
		}
	]
}