adf-egbi-dev/linkedTemplates/ArmTemplate_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Mrr_OSCN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUN_OSCN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_OSCN]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MRR_OSCN",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TRUN_OSCN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OSCN",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_OSCN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-26T10:18:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Mrr_OSCN1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUN_OSCN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_OSCN]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MRR_OSCN",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TRUN_OSCN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Substitute",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign2",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ShowSCN",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_Manuf",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Manuf",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OSCN1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_OSCN1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-07T07:39:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_ScoreCards')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Stg_IQC_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_IQC_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_ScarLog",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_ScarLog",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_Suppliers_Audit_Activities_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Suppliers_Audit_Activities_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_Suppiers_OTD",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Suppiers_OTD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ScoreCards"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Service')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stg_Dim_Product",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Dim_Product",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_ComplaintHeader",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_ComplaintHeader",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_InstallBase",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_InstallBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_Oscl",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_Oscl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_Trending",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_Trending",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_OrdersAndShipments",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_OrdersAndShipments",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_OCReport",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_OCReport",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Dim_User",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Dim_User",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_AWSCalls",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_AWSCalls",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_ServiceFlow",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_ServiceFlow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Service"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T08:26:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToIntegrator')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[PORF].[sp_getdata_byspid]",
								"storedProcedureParameters": {
									"SPID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.SPID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Created",
											"physicalType": "timestamp"
										},
										"sink": {
											"name": "Created",
											"physicalType": "timestamp"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_PORF_json_parsed",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_PORF_JsonParsed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_set_taken_to_sap_to_1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_set_taken_to_sap_to_1]",
							"storedProcedureParameters": {
								"SPID": {
									"value": {
										"value": "@pipeline().parameters.SPID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RUN Porc at SAP_Integrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_set_taken_to_sap_to_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[Loader_PORF_jason_SAP]"
						},
						"linkedServiceName": {
							"referenceName": "SAP_Integrator_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"SPID": {
						"type": "int"
					}
				},
				"folder": {
					"name": "PORF"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-25T08:24:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToIntegrator1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[PORF_SORREL].[sp_getdata_byspid]",
								"storedProcedureParameters": {
									"SPID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.SPID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Created",
											"physicalType": "timestamp"
										},
										"sink": {
											"name": "Created",
											"physicalType": "timestamp"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_PORF_json_parsed1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_PORF_JsonParsed1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_set_taken_to_sap_to_1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF_SORREL].[sp_set_taken_to_sap_to_1]",
							"storedProcedureParameters": {
								"SPID": {
									"value": {
										"value": "@pipeline().parameters.SPID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RUN Porc at SAP_Integrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_set_taken_to_sap_to_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF_SORREL].[Loader_PORF_jason_SAP]"
						},
						"linkedServiceName": {
							"referenceName": "SAP_Integrator_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"SPID": {
						"type": "int"
					}
				},
				"folder": {
					"name": "PORF_SORREL/TOdelete"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T12:36:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToIntegrator2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[PORF].[sp_getdata_byspid]",
								"storedProcedureParameters": {
									"SPID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.SPID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ETL_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ETL_Timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Item_key",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Item_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_key",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Account_data",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_LineNumber",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_GL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Qty",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_UnitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_Currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_ExchangeRate",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "json_RefPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "json_RefCurrency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "json_RequestedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Created",
											"physicalType": "timestamp"
										},
										"sink": {
											"name": "Created",
											"physicalType": "timestamp"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDepartment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserCompany",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsProjectRelated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Project",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DepartmentCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCodeCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PaymentMethod",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RequestedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QMS",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Mech",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ASL",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MP",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IMTE",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Items",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMaster",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SecondaryOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SecondaryOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "VPDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VPComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceOwnerDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceOwnerComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FinanceMasterDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FinanceMasterComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurrentApproval",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InternalStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CreatorComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MPName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ViewPORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Total",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "TotalNis",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ReadyForSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "TakenToSap",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Requestor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_PORF_json_parsed2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_PORF_JsonParsed2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_set_taken_to_sap_to_1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_set_taken_to_sap_to_1]",
							"storedProcedureParameters": {
								"SPID": {
									"value": {
										"value": "@pipeline().parameters.SPID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RUN Porc at SAP_Integrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_set_taken_to_sap_to_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[Loader_PORF_jason_SAP]"
						},
						"linkedServiceName": {
							"referenceName": "Is_Sorrel_integration",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"SPID": {
						"type": "int"
					}
				},
				"folder": {
					"name": "PORF_SORREL"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T12:36:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Training_Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_SF_Employee",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Employee",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Curriculum",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Curriculum",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Job_Function_Curriculum_Relation",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Job_Function_Curriculum_Relation",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Job_Function",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Job_Function",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Master_Document",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Master_Document",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Job_Function_Employee_Relations",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Job_Function_Employee_Relations",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Curriculum_Requirement_Relations",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Curriculum_Requirement_Relations",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Departments",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Departments",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Record_Type",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Record_Type",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_States",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_States",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Training_Assignment",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Training_Assignment",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Requirement_Header",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Requirement_Header",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SF_Classroom",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SF_Classroom",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Training"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_FirstOfMonth')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "sp_BP_FinalScore",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2020-07-13T07:17:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							],
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDHR_Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Device",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Device",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_DeviceProcedureData",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_DeviceProcedureData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_ProcedureType",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ProcedureType",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_DeviceMovement",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_DeviceMovement",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Location",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Result",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Result",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Rework",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Rework",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Fact_Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Mrr_DeviceMovement",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_Location",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_ProcedureType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_DeviceProcedureData",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_Device",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_Result",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_Rework",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_PumpProductionLine",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_Pump",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_DHR_Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_EntranceReason",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_DHR_Assembly",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_PumpType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_DHR_Failure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Fact_Data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_PumpProductionLine",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_PumpProductionLine",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Pump",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Pump",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_DHR_Failure",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_DHR_Failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_DHR_Assembly",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_DHR_Assembly",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_EntranceReason",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_EntranceReason",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_PumpType",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_PumpType",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_DHR_Failure1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_DHR_Failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "EDHR"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T12:11:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_ScoreCards')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Mrr_OPOR",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OPOR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_IQC_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_QUAL_4000_0000776_Rev_3_0_Receiving_Log",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_OSCN",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OSCN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_Suppliers_Audit_Activities_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Suppliers_Audit_Activities_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_PDN1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_PDN1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_POR1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_POR1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_PCH1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_PCH1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_SCAR_Log",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SCAR_Log",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_OPDN",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OPDN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_BP_SCORE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_BP_SCORE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute BP_SCORE1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_BP_SCORE1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_SCORE_CONFIG_LINES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SCORE_CONFIG_LINES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_SCORE_CONFIG",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SCORE_CONFIG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_Fact_SuppliersPN",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Fact_SuppliersPN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_Oscl",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Oscl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_Oclg",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Oclg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_SrvCenterConfig",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SrvCenterConfig",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_Issues_Service",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Issues_Service",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_ServiceFlow",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ServiceFlow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_ServiceCenters",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ServiceCenters",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ScoreCards"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-30T09:37:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Service')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AWS_Complaint",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Complaint",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_Complaint_Issue",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Complaint_Issue",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_Service",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Service",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_Service_Activites",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Service_Activites",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_KnownIssues",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_KnownIssues",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_User",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_User",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_parm_CallCategory",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_parm_CallCategory",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_Call",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Call",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_parm_CallSubCategory",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_parm_CallSubCategory",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_City",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_City",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_Country",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_Country",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_parm_CallStatus",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_parm_CallStatus",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_parm_CallUrgency",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_parm_CallUrgency",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_State",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_State",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AWS_ServiceCenter",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AWS_ServiceCenter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Service"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PORF_Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Accounts",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Accounts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_CostCenter",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_CostCenter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Items",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Items",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Rates",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Rates",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Suppliers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Suppliers",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Projects",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_projects",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "PORF"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T12:11:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PORF_Main1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Accounts",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Accounts1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_CostCenter",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_CostCenter1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Items",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Items1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Rates",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Rates1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Suppliers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Suppliers1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Projects",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_projects1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "PORF_SORREL/TOdelete"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T12:36:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PORF_Main2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Accounts",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Accounts1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_CostCenter",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_CostCenter1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Items",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Items1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Suppliers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Suppliers1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Projects",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_projects1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MRR_RATES1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Rates1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "PORF_SORREL"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-07T07:52:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_ORDR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Mrr_RDR1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mrr_RDR12",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ORDR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_RDR1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_RDR1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OITM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OITM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OITB",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OITB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OCRY",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OCRY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OCRD",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OCRD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_RDR12",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_RDR12",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_CUFD",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_CUFD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_UFD1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_UFD1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MRR_OSCN",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAP_Mrr_OSCN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_ODLN",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ODLN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Dln1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_DLN1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Oinv",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OINV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_inv1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_INV1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Orin",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ORIN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_SapObjectCode",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_SapObjectCode",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_RIN1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_RIN1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Ordn",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ORDN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Rdn1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_RDN1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Oitw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Oitw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OINS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OINS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_ITM1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ITM1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_CRD1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_CRD1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_ITT1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ITT1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OITT",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OITT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OINM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OINM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"param_tableName": ""
							}
						}
					},
					{
						"name": "Mrr_Issue_Service",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Issue_Service",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Service_Flow",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Service_Flow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Service_Center",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Service_Center",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Ki_Config_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Ki_Config_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_OSCS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_OSCS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Srv_Packing",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Srv_Packing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_Srv_Serials",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Srv_Serials",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Mrr_ServiceGoal",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ServiceGoal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "SAP"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T07:54:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAP_Mrr_OSCN')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_Main1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SAP_MRR_OSCN_1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAP_Mrr_OSCN1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "SAP_SORREL"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-07T07:45:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAP_Mrr_OSCN1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_qa_every10m')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Mrr_Items1",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Intgrator To  Azure2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2020-08-17T07:24:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainScoreCards')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SharepointToBlobStorage",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SharepointToBlobStorage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Mrr_ScoreCards",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SharepointToBlobStorage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_ScoreCards",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Stg_ScoreCards",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Mrr_ScoreCards",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_ScoreCards",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Dwh_ScoreCards",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Stg_ScoreCards",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Dwh_ScoreCards",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "stream activity - ScoreCards",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Dwh_ScoreCards",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": [
								{
									"Timestamp": "@{utcnow()}",
									"Factory Name": "@{pipeline().DataFactory}",
									"Pipeline Name": "@{pipeline().Pipeline}",
									"Pipeline Run Id": "@{pipeline().RunId}",
									"Activity Name": "Execute MainScoreCards Pipeline",
									"Copy Activity - Rows Read": 999,
									"Copy Activity - Rows Written": 999,
									"Copy Activity - Rows Skipped": 0
								}
							]
						}
					},
					{
						"name": "SendEmailNotification-Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Dwh_ScoreCards",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Execute Stg_ScoreCards",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Execute Mrr_ScoreCards",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Execute SharepointToBlobStorage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-63.northeurope.logic.azure.com:443/workflows/820378097fd14cf6bb058c2dde474d95/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=X6EEM-5om1n88dstvBtdfDZeYsime2jFG7w33AbkIm4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "nathalie.mayzlits@qcore.com;liron.aperman@qcore.com;jana.cohen@qcore.com"
							}
						}
					}
				],
				"folder": {
					"name": "ScoreCards"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-06T09:23:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Mrr_ScoreCards')]",
				"[concat(variables('factoryId'), '/pipelines/Stg_ScoreCards')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainService')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Service",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mrr_Service",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stg_Service",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Mrr_Service",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stg_Service",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Service"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-06T07:57:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Mrr_Service')]",
				"[concat(variables('factoryId'), '/pipelines/Stg_Service')]"
			]
		}
	]
}