adf-egbi-dev/linkedTemplates/ArmTemplate_14.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Fact_SuppliersPN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Fact_SuppliersPN",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Mrr_Fact_SuppliersPN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select distinct ItemCode,T0.CardCode,T1.CardName,U_ScoreCard from sap.Mrr_OSCN T0\nleft join sap.Mrr_OCRD_replica T1 on T0.cardcode=T1.cardcode",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ScoreCard",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mrr_Fact_SuppliersPN",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dwh_fact_supplierspn",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Mrr_Fact_SuppliersPN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Dwh_Fact_SuppliersPN]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-08T12:34:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sp_BP_FinalScore')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get param 1 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'1 prev Q' [name]\n, YEAR(dateadd(Quarter,-1,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-1,getdate())) [q]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "get param 2 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'2 prev Q' [name]\n, YEAR(dateadd(Quarter,-2,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-2,getdate())) [q]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 1 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 1 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 1 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 2 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 2 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 2 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get param 3 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'3 prev Q' [name]\n, YEAR(dateadd(Quarter,-3,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-3,getdate())) [q]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Stored procedure3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 3 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 3 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 3 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get param 4 previous quarters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \n'4 prev Q' [name]\n, YEAR(dateadd(Quarter,-4,getdate())) [y]\n, DATEPART(Q,dateadd(Quarter,-4,getdate())) [q]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Stored procedure4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get param 4 previous quarters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_BP_FinalScore]",
							"storedProcedureParameters": {
								"cardcode": {
									"value": {
										"value": "@''",
										"type": "Expression"
									},
									"type": "String"
								},
								"q": {
									"value": {
										"value": "@activity('get param 4 previous quarters').output.firstRow.q",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"year": {
									"value": {
										"value": "@activity('get param 4 previous quarters').output.firstRow.y",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Dwh"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_QUAL_4000_0000776_Rev_3_0_Receiving_Log')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "File Name Changed to \"QUAL_4000_0000776_Rev_3_0_Receiving_Log\"",
				"activities": [
					{
						"name": "Mrr_QUAL_4000_0000776_Rev_3_0_Receiving_Log",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Mrr_IQC_Followup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Part Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Part Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier Cod",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Lot Source\nSupplier /\nQ Core",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Lot Source Supplier / Q Core",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Drawing Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Drawing Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Rev number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rev number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product it belongs to",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product belongs to",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Date of receipt [dd/mm/yyyy]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date of receipt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Y/M Receipt",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Y/M Receipt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Archive Location",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Archive Location",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Batch #",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Batch #",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Total  Qty. Received",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Qty. Received",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Rule [Normal, Reduced, Tightened]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rule (Normal, Reduced, Tightened)",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sampling method change request\n [Normal, Reduced, Tightened",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sampling method change request",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sample size visual ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sample Size",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "End date (end of IQC) [dd/mm/yyyy]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "End date (end of IQC)",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Y/M End",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Y/M End",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Time from receipt to release [days]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Time from receipt to release (days)",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Batch Disposition [Pass/Fail]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Batch Disposition (Pass/Fail)",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Comments ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MRB #\n[YYYY-XXXX]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MRB #",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QUAL_4000_0000776_Rev3_0_Receiving_Log",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_IQC_Followup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Mrr_IQC_Followup",
						"description": "File Name Changed to \"QUAL_4000_0000776_Rev_3_0_Receiving_Log\"",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[trunc_Mrr_IQC_Followup]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Training_Quality_Plan')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy vw_Training_Quality_Plan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "exec trunc_Calc_Training_Quality_Plan_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "vw_Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Calc_Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "exec trunc_Calc_Training_Quality_Plan_Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[training].[sp_trunc_Calc_Training_Quality_Plan]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SharepointToBlobStorage_Training",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "exec trunc_Calc_Training_Quality_Plan_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-14.northeurope.logic.azure.com:443/workflows/c06e19b5fc074fdeb4aedbe7c16efe6b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8Kh91tZRdYot8y7B2fGmL60l0W25slqXdXOaPuwIh-Y",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}"
							}
						}
					},
					{
						"name": "Copy Training_Quality_Plan_Xls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SharepointToBlobStorage_Training",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "NeedDocument",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Calc_Training_Quality_Plan_Xls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "exec sp_Merge_Calc_Training_Quality_Plan",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Training_Quality_Plan_Xls",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy vw_Training_Quality_Plan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[training].[sp_Merge_Calc_Training_Quality_Plan]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Export to CSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "exec sp_Merge_Calc_Training_Quality_Plan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MasterDocumentName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "DocumentOwnerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "NeedDocument",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "JobFunctionName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "CurriculumName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Calc_Training_Quality_Plan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Training_Quality_Plan_New",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Training"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-15T07:48:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OITW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ItemCode",
						"type": "nvarchar"
					},
					{
						"name": "WhsCode",
						"type": "nvarchar"
					},
					{
						"name": "OnHand",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "IsCommited",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OnOrder",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Consig",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Counted",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "WasCounted",
						"type": "char"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MinStock",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "MaxStock",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "MinOrder",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "AvgPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Locked",
						"type": "char"
					},
					{
						"name": "BalInvntAc",
						"type": "nvarchar"
					},
					{
						"name": "SaleCostAc",
						"type": "nvarchar"
					},
					{
						"name": "TransferAc",
						"type": "nvarchar"
					},
					{
						"name": "RevenuesAc",
						"type": "nvarchar"
					},
					{
						"name": "VarianceAc",
						"type": "nvarchar"
					},
					{
						"name": "DecreasAc",
						"type": "nvarchar"
					},
					{
						"name": "IncreasAc",
						"type": "nvarchar"
					},
					{
						"name": "ReturnAc",
						"type": "nvarchar"
					},
					{
						"name": "ExpensesAc",
						"type": "nvarchar"
					},
					{
						"name": "EURevenuAc",
						"type": "nvarchar"
					},
					{
						"name": "EUExpensAc",
						"type": "nvarchar"
					},
					{
						"name": "FrRevenuAc",
						"type": "nvarchar"
					},
					{
						"name": "FrExpensAc",
						"type": "nvarchar"
					},
					{
						"name": "ExmptIncom",
						"type": "nvarchar"
					},
					{
						"name": "PriceDifAc",
						"type": "nvarchar"
					},
					{
						"name": "ExchangeAc",
						"type": "nvarchar"
					},
					{
						"name": "BalanceAcc",
						"type": "nvarchar"
					},
					{
						"name": "PurchaseAc",
						"type": "nvarchar"
					},
					{
						"name": "PAReturnAc",
						"type": "nvarchar"
					},
					{
						"name": "PurchOfsAc",
						"type": "nvarchar"
					},
					{
						"name": "ShpdGdsAct",
						"type": "nvarchar"
					},
					{
						"name": "VatRevAct",
						"type": "nvarchar"
					},
					{
						"name": "StockValue",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DecresGlAc",
						"type": "nvarchar"
					},
					{
						"name": "IncresGlAc",
						"type": "nvarchar"
					},
					{
						"name": "StokRvlAct",
						"type": "nvarchar"
					},
					{
						"name": "StkOffsAct",
						"type": "nvarchar"
					},
					{
						"name": "WipAcct",
						"type": "nvarchar"
					},
					{
						"name": "WipVarAcct",
						"type": "nvarchar"
					},
					{
						"name": "CostRvlAct",
						"type": "nvarchar"
					},
					{
						"name": "CstOffsAct",
						"type": "nvarchar"
					},
					{
						"name": "ExpClrAct",
						"type": "nvarchar"
					},
					{
						"name": "ExpOfstAct",
						"type": "nvarchar"
					},
					{
						"name": "Object",
						"type": "nvarchar"
					},
					{
						"name": "logInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "createDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "userSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "updateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ARCMAct",
						"type": "nvarchar"
					},
					{
						"name": "ARCMFrnAct",
						"type": "nvarchar"
					},
					{
						"name": "ARCMEUAct",
						"type": "nvarchar"
					},
					{
						"name": "ARCMExpAct",
						"type": "nvarchar"
					},
					{
						"name": "APCMAct",
						"type": "nvarchar"
					},
					{
						"name": "APCMFrnAct",
						"type": "nvarchar"
					},
					{
						"name": "APCMEUAct",
						"type": "nvarchar"
					},
					{
						"name": "RevRetAct",
						"type": "nvarchar"
					},
					{
						"name": "NegStckAct",
						"type": "nvarchar"
					},
					{
						"name": "StkInTnAct",
						"type": "nvarchar"
					},
					{
						"name": "PurBalAct",
						"type": "nvarchar"
					},
					{
						"name": "WhICenAct",
						"type": "nvarchar"
					},
					{
						"name": "WhOCenAct",
						"type": "nvarchar"
					},
					{
						"name": "WipOffset",
						"type": "nvarchar"
					},
					{
						"name": "StockOffst",
						"type": "nvarchar"
					},
					{
						"name": "DftBinAbs",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DftBinEnfd",
						"type": "char"
					},
					{
						"name": "Freezed",
						"type": "char"
					},
					{
						"name": "FreezeDoc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FreeChrgSA",
						"type": "nvarchar"
					},
					{
						"name": "FreeChrgPU",
						"type": "nvarchar"
					},
					{
						"name": "U_Location",
						"type": "nvarchar"
					},
					{
						"name": "U_Quanta",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_KanbanQty",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OITW"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ITM1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ItemCode",
						"type": "nvarchar"
					},
					{
						"name": "PriceList",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "Ovrwritten",
						"type": "char"
					},
					{
						"name": "Factor",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "AddPrice1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Currency1",
						"type": "nvarchar"
					},
					{
						"name": "AddPrice2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Currency2",
						"type": "nvarchar"
					},
					{
						"name": "Ovrwrite1",
						"type": "char"
					},
					{
						"name": "Ovrwrite2",
						"type": "char"
					},
					{
						"name": "BasePLNum",
						"type": "smallint",
						"precision": 5
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ITM1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRD1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "Block",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "LicTradNum",
						"type": "nvarchar"
					},
					{
						"name": "LineNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxCode",
						"type": "nvarchar"
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "AdresType",
						"type": "char"
					},
					{
						"name": "Address2",
						"type": "nvarchar"
					},
					{
						"name": "Address3",
						"type": "nvarchar"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "AltCrdName",
						"type": "nvarchar"
					},
					{
						"name": "AltTaxId",
						"type": "nvarchar"
					},
					{
						"name": "TaxOffice",
						"type": "nvarchar"
					},
					{
						"name": "GlblLocNum",
						"type": "nvarchar"
					},
					{
						"name": "Ntnlty",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CRD1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ITT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Father",
						"type": "nvarchar"
					},
					{
						"name": "ChildNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Code",
						"type": "nvarchar"
					},
					{
						"name": "Quantity",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Warehouse",
						"type": "nvarchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "PriceList",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OrigPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrigCurr",
						"type": "nvarchar"
					},
					{
						"name": "IssueMthd",
						"type": "char"
					},
					{
						"name": "Uom",
						"type": "nvarchar"
					},
					{
						"name": "Comment",
						"type": "nvarchar"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Object",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode2",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode3",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode4",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode5",
						"type": "nvarchar"
					},
					{
						"name": "PrncpInput",
						"type": "char"
					},
					{
						"name": "Project",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WipActCode",
						"type": "nvarchar"
					},
					{
						"name": "AddQuantit",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LineText",
						"type": "ntext"
					},
					{
						"name": "U_pos",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ITT1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OITT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Code",
						"type": "nvarchar"
					},
					{
						"name": "TreeType",
						"type": "char"
					},
					{
						"name": "PriceList",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Qauntity",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "UseFthrWhs",
						"type": "char"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SCNCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DispCurr",
						"type": "nvarchar"
					},
					{
						"name": "ToWH",
						"type": "nvarchar"
					},
					{
						"name": "Object",
						"type": "nvarchar"
					},
					{
						"name": "LogInstac",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OcrCode",
						"type": "nvarchar"
					},
					{
						"name": "HideComp",
						"type": "char"
					},
					{
						"name": "OcrCode2",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode3",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode4",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode5",
						"type": "nvarchar"
					},
					{
						"name": "UpdateTime",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Project",
						"type": "nvarchar"
					},
					{
						"name": "U_Active",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_Lang",
						"type": "nvarchar"
					},
					{
						"name": "U_Mode",
						"type": "nvarchar"
					},
					{
						"name": "U_Lang1",
						"type": "nvarchar"
					},
					{
						"name": "U_BomRev",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OITT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OINS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "insID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer",
						"type": "nvarchar"
					},
					{
						"name": "custmrName",
						"type": "nvarchar"
					},
					{
						"name": "contactCod",
						"type": "int",
						"precision": 10
					},
					{
						"name": "directCsmr",
						"type": "nvarchar"
					},
					{
						"name": "drctCsmNam",
						"type": "nvarchar"
					},
					{
						"name": "manufSN",
						"type": "nvarchar"
					},
					{
						"name": "internalSN",
						"type": "nvarchar"
					},
					{
						"name": "warranty",
						"type": "char"
					},
					{
						"name": "wrrntyStrt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "wrrntyEnd",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "responsVal",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "responsUnt",
						"type": "char"
					},
					{
						"name": "itemCode",
						"type": "nvarchar"
					},
					{
						"name": "itemName",
						"type": "nvarchar"
					},
					{
						"name": "itemGroup",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "manufDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "delivery",
						"type": "int",
						"precision": 10
					},
					{
						"name": "deliveryNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "invoice",
						"type": "int",
						"precision": 10
					},
					{
						"name": "invoiceNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dlvryDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "cntctPhone",
						"type": "nvarchar"
					},
					{
						"name": "street",
						"type": "nvarchar"
					},
					{
						"name": "block",
						"type": "nvarchar"
					},
					{
						"name": "zip",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "county",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "instLction",
						"type": "nvarchar"
					},
					{
						"name": "contract",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cntrctStrt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "cntrctEnd",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "attachment",
						"type": "ntext"
					},
					{
						"name": "objType",
						"type": "nvarchar"
					},
					{
						"name": "logInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "userSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "createDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "userSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "updateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "status",
						"type": "char"
					},
					{
						"name": "replcIns",
						"type": "int",
						"precision": 10
					},
					{
						"name": "repByIns",
						"type": "int",
						"precision": 10
					},
					{
						"name": "technician",
						"type": "int",
						"precision": 10
					},
					{
						"name": "territory",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AtcEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "Instance",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "U_SwVer",
						"type": "ntext"
					},
					{
						"name": "U_ShipDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_ISW_ItemCode",
						"type": "nvarchar"
					},
					{
						"name": "U_ISW_ItemName",
						"type": "nvarchar"
					},
					{
						"name": "U_FA",
						"type": "nvarchar"
					},
					{
						"name": "U_Last_Arrival_Pump",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_QBupdate",
						"type": "char"
					},
					{
						"name": "U_ExistInQB",
						"type": "char"
					},
					{
						"name": "U_ExpireDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_InitializationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_ChangeSet",
						"type": "nvarchar"
					},
					{
						"name": "U_BattSN",
						"type": "nvarchar"
					},
					{
						"name": "U_SwUpDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_PlacementCus",
						"type": "nvarchar"
					},
					{
						"name": "U_PlacementCode",
						"type": "nvarchar"
					},
					{
						"name": "U_PlacementDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_InternalUse",
						"type": "nvarchar"
					},
					{
						"name": "U_SWSource",
						"type": "nvarchar"
					},
					{
						"name": "U_LastACK",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_AgeAug15",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_FreezAgedT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_FreezeCMR",
						"type": "nvarchar"
					},
					{
						"name": "U_CustomerCode",
						"type": "nvarchar"
					},
					{
						"name": "U_CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "U_Global",
						"type": "nvarchar"
					},
					{
						"name": "U_PlaceCity",
						"type": "nvarchar"
					},
					{
						"name": "U_PlaceState",
						"type": "nvarchar"
					},
					{
						"name": "U_PlaceZip",
						"type": "nvarchar"
					},
					{
						"name": "U_MacAddress1",
						"type": "nvarchar"
					},
					{
						"name": "U_MacAddress2",
						"type": "nvarchar"
					},
					{
						"name": "U_MacAddress3",
						"type": "nvarchar"
					},
					{
						"name": "U_MacAddress4",
						"type": "nvarchar"
					},
					{
						"name": "U_MacAddress5",
						"type": "nvarchar"
					},
					{
						"name": "U_ECO",
						"type": "nvarchar"
					},
					{
						"name": "U_InsID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_ManfDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_HumenUse",
						"type": "nvarchar"
					},
					{
						"name": "U_WaitingFor",
						"type": "nvarchar"
					},
					{
						"name": "U_WarrentyEnddate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_attest",
						"type": "ntext"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OINS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OINM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TransNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TransType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BASE_REF",
						"type": "nvarchar"
					},
					{
						"name": "DocLineNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DocDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DocDueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "CardName",
						"type": "nvarchar"
					},
					{
						"name": "Ref1",
						"type": "nvarchar"
					},
					{
						"name": "Ref2",
						"type": "nvarchar"
					},
					{
						"name": "Comments",
						"type": "nvarchar"
					},
					{
						"name": "JrnlMemo",
						"type": "nvarchar"
					},
					{
						"name": "DocTime",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ItemCode",
						"type": "nvarchar"
					},
					{
						"name": "Dscription",
						"type": "nvarchar"
					},
					{
						"name": "InQty",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OutQty",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "Rate",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "VendorNum",
						"type": "nvarchar"
					},
					{
						"name": "SerialNum",
						"type": "nvarchar"
					},
					{
						"name": "Warehouse",
						"type": "nvarchar"
					},
					{
						"name": "TreeType",
						"type": "char"
					},
					{
						"name": "SlpCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "PrjCode",
						"type": "nvarchar"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BlockNum",
						"type": "nvarchar"
					},
					{
						"name": "ImportLog",
						"type": "nvarchar"
					},
					{
						"name": "UseDocPric",
						"type": "char"
					},
					{
						"name": "Location",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CalcPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OpenQty",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Instance",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LastInst",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RevalTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BaseCurr",
						"type": "nvarchar"
					},
					{
						"name": "ApplObj",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AppObjAbs",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AppObjType",
						"type": "char"
					},
					{
						"name": "StockAct",
						"type": "nvarchar"
					},
					{
						"name": "TrnsfrAct",
						"type": "nvarchar"
					},
					{
						"name": "PriceDifAc",
						"type": "nvarchar"
					},
					{
						"name": "VarianceAc",
						"type": "nvarchar"
					},
					{
						"name": "ReturnAct",
						"type": "nvarchar"
					},
					{
						"name": "ExcRateAct",
						"type": "nvarchar"
					},
					{
						"name": "ClearAct",
						"type": "nvarchar"
					},
					{
						"name": "CostAct",
						"type": "nvarchar"
					},
					{
						"name": "WipAct",
						"type": "nvarchar"
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BaseLine",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TransValue",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "PriceDiff",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "TransSeq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvntAct",
						"type": "nvarchar"
					},
					{
						"name": "RemMethod",
						"type": "nvarchar"
					},
					{
						"name": "OpenValue",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SubLineNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AppObjLine",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Expenses",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OpenExp",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Allocation",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OpenAlloc",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ExpAlloc",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OExpAlloc",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OpenPDiff",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ExchDiff",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OpenEDiff",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "NegInvAdjs",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OpenNegInv",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "NegStckAct",
						"type": "nvarchar"
					},
					{
						"name": "BTransVal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VarVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BExpVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CogsVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BNegAVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "IOffIncAcc",
						"type": "nvarchar"
					},
					{
						"name": "IOffIncVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DOffDecAcc",
						"type": "nvarchar"
					},
					{
						"name": "DOffDecVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DecAcc",
						"type": "nvarchar"
					},
					{
						"name": "DecVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "WipVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "WipVarAcc",
						"type": "nvarchar"
					},
					{
						"name": "WipVarVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "IncAct",
						"type": "nvarchar"
					},
					{
						"name": "IncVal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ExpCAcc",
						"type": "nvarchar"
					},
					{
						"name": "CostMethod",
						"type": "char"
					},
					{
						"name": "OcrCode",
						"type": "nvarchar"
					},
					{
						"name": "BaseQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevTrans",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HTransSeq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OcrCode2",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode3",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode4",
						"type": "nvarchar"
					},
					{
						"name": "OcrCode5",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OINM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceSandBox')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SalesforceSandBox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Complaint')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fSerialNumber",
						"type": "nvarchar"
					},
					{
						"name": "callID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "u_ootbfail",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Descr",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StatusDesc",
						"type": "nvarchar"
					},
					{
						"name": "U_Fixapproval",
						"type": "nvarchar"
					},
					{
						"name": "U_WhoExperienced",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_SwVer",
						"type": "nvarchar"
					},
					{
						"name": "U_SendToHSPGSC",
						"type": "nvarchar"
					},
					{
						"name": "U_ReportedBy",
						"type": "nvarchar"
					},
					{
						"name": "U_RepByTitle",
						"type": "nvarchar"
					},
					{
						"name": "U_RecordId",
						"type": "nvarchar"
					},
					{
						"name": "U_Quantity",
						"type": "float",
						"precision": 15
					},
					{
						"name": "U_QBupdate",
						"type": "nvarchar"
					},
					{
						"name": "U_ProductNotes",
						"type": "nvarchar"
					},
					{
						"name": "U_ProblemObserved",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_PatientInv",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_PatInvDet",
						"type": "nvarchar"
					},
					{
						"name": "U_OotbOtherDetails",
						"type": "nvarchar"
					},
					{
						"name": "U_OccuredAt",
						"type": "nvarchar"
					},
					{
						"name": "U_IntakeFilledBy",
						"type": "nvarchar"
					},
					{
						"name": "U_HumanHarmDet",
						"type": "nvarchar"
					},
					{
						"name": "U_HumanHarm",
						"type": "nvarchar"
					},
					{
						"name": "U_HotList",
						"type": "nvarchar"
					},
					{
						"name": "U_Finalevaluletter",
						"type": "nvarchar"
					},
					{
						"name": "U_Event_Log_Req",
						"type": "nvarchar"
					},
					{
						"name": "U_EqReturnReq",
						"type": "nvarchar"
					},
					{
						"name": "U_Description",
						"type": "nvarchar"
					},
					{
						"name": "U_Date_Event_Log",
						"type": "nvarchar"
					},
					{
						"name": "U_CustomerType",
						"type": "nvarchar"
					},
					{
						"name": "U_CPTitle",
						"type": "nvarchar"
					},
					{
						"name": "U_CP_Phone",
						"type": "nvarchar"
					},
					{
						"name": "U_CP_Email",
						"type": "nvarchar"
					},
					{
						"name": "U_CP",
						"type": "nvarchar"
					},
					{
						"name": "U_CompDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_CaseNo",
						"type": "nvarchar"
					},
					{
						"name": "U_Batch",
						"type": "nvarchar"
					},
					{
						"name": "U_Arrival_Event_Log",
						"type": "nvarchar"
					},
					{
						"name": "U_AppBy1Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_AppBy1",
						"type": "nvarchar"
					},
					{
						"name": "U_AckDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Subject",
						"type": "nvarchar"
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Room",
						"type": "nvarchar"
					},
					{
						"name": "U_Date_Pump_Req",
						"type": "nvarchar"
					},
					{
						"name": "closeDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "itemName",
						"type": "nvarchar"
					},
					{
						"name": "itemCode",
						"type": "nvarchar"
					},
					{
						"name": "internalSN__NoUse",
						"type": "nvarchar"
					},
					{
						"name": "Descrption",
						"type": "nvarchar"
					},
					{
						"name": "Customer",
						"type": "float",
						"precision": 15
					},
					{
						"name": "custmrName",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "callType",
						"type": "float",
						"precision": 15
					},
					{
						"name": "U_FixInstructiField",
						"type": "nvarchar"
					},
					{
						"name": "U_FixDesc",
						"type": "nvarchar"
					},
					{
						"name": "U_cp_fax",
						"type": "nvarchar"
					},
					{
						"name": "U_WhoExperiencedOth",
						"type": "nvarchar"
					},
					{
						"name": "U_DistLogedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "u_unresponse",
						"type": "nvarchar"
					},
					{
						"name": "dtUpdated_FromSAP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "___NEW_FIELDS",
						"type": "nchar"
					},
					{
						"name": "_FieldsNotQB",
						"type": "char"
					},
					{
						"name": "U_RepByPhone",
						"type": "nvarchar"
					},
					{
						"name": "U_OccuredAt_Other",
						"type": "nvarchar"
					},
					{
						"name": "U_AckDate_Unknown",
						"type": "bit"
					},
					{
						"name": "U_Delay_Therapy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Delay_TherapyDetails",
						"type": "nvarchar"
					},
					{
						"name": "U_Medical_Intervention",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Medical_InterventionDetails",
						"type": "nvarchar"
					},
					{
						"name": "U_Alarm_Settings",
						"type": "nvarchar"
					},
					{
						"name": "U_Type_Of_Drug",
						"type": "nvarchar"
					},
					{
						"name": "U_Prime_Performed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Portal_Description",
						"type": "nvarchar"
					},
					{
						"name": "U_Product_Customer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DistributerNum",
						"type": "nvarchar"
					},
					{
						"name": "DistributerName",
						"type": "nvarchar"
					},
					{
						"name": "U_AckDate_Hour",
						"type": "nvarchar"
					},
					{
						"name": "SWVersion",
						"type": "nvarchar"
					},
					{
						"name": "U_SendToQCoreDesc",
						"type": "nvarchar"
					},
					{
						"name": "fProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fServiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ComplaintSource",
						"type": "nvarchar"
					},
					{
						"name": "IsCompleted",
						"type": "bit"
					},
					{
						"name": "IsReleasePump",
						"type": "bit"
					},
					{
						"name": "___office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__sync_to_sap_fields",
						"type": "nvarchar"
					},
					{
						"name": "dtExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dtQuickBaseExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Complaint"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Complaint_Issue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ComplaintIssueSource",
						"type": "nvarchar"
					},
					{
						"name": "fComplaintID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fKnownIssueID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "KnownIssueMain",
						"type": "nvarchar"
					},
					{
						"name": "fStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsComplaintRelated",
						"type": "bit"
					},
					{
						"name": "DateReported",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "KnownUnique",
						"type": "nvarchar"
					},
					{
						"name": "__KnownIssueFields",
						"type": "char"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Error",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "SWVersion",
						"type": "nvarchar"
					},
					{
						"name": "___SAP",
						"type": "char"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LineID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdated_FromSAP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "___office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "__sync_to_sap_fields",
						"type": "nvarchar"
					},
					{
						"name": "dtExportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Complaint_Issues"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MRR_PROJECTS1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLDB-EGBI-DEV/PORF"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "PrjCode",
						"type": "nvarchar"
					},
					{
						"name": "PrjName",
						"type": "nvarchar"
					},
					{
						"name": "Locked",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ValidFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Active",
						"type": "char"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_beas_status",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_template",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_cardcode",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_belnr_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_beas_belpos_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_Owner",
						"type": "nvarchar"
					},
					{
						"name": "U_OwnerMail",
						"type": "nvarchar"
					},
					{
						"name": "U_Secondary",
						"type": "nvarchar"
					},
					{
						"name": "U_SecMail",
						"type": "nvarchar"
					},
					{
						"name": "U_PORFApp",
						"type": "nvarchar"
					},
					{
						"name": "U_PorfApp2",
						"type": "nvarchar"
					},
					{
						"name": "U_PORF",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OPRJ"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Suppliers_OCRD_OCRN_OCTG1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "CardName",
						"type": "nvarchar"
					},
					{
						"name": "CardType",
						"type": "char"
					},
					{
						"name": "GroupCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CmpPrivate",
						"type": "char"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "MailAddres",
						"type": "nvarchar"
					},
					{
						"name": "MailZipCod",
						"type": "nvarchar"
					},
					{
						"name": "Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "CntctPrsn",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ChecksBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNotesBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrdersBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "GroupNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CreditLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DebtLine",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Discount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "VatStatus",
						"type": "char"
					},
					{
						"name": "LicTradNum",
						"type": "nvarchar"
					},
					{
						"name": "DdctStatus",
						"type": "char"
					},
					{
						"name": "DdctPrcnt",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ValidUntil",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Chrctrstcs",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InMatchNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ListNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DNoteBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNoteBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OrderBalSy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BalTrnsfrd",
						"type": "char"
					},
					{
						"name": "IntrstRate",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Commission",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CommGrCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Free_Text",
						"type": "ntext"
					},
					{
						"name": "SlpCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYearAc",
						"type": "char"
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "BalanceSys",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BalanceFC",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "Cellular",
						"type": "nvarchar"
					},
					{
						"name": "AvrageLate",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "MailCity",
						"type": "nvarchar"
					},
					{
						"name": "MailCounty",
						"type": "nvarchar"
					},
					{
						"name": "MailCountr",
						"type": "nvarchar"
					},
					{
						"name": "E_Mail",
						"type": "nvarchar"
					},
					{
						"name": "Picture",
						"type": "nvarchar"
					},
					{
						"name": "DflAccount",
						"type": "nvarchar"
					},
					{
						"name": "DflBranch",
						"type": "nvarchar"
					},
					{
						"name": "BankCode",
						"type": "nvarchar"
					},
					{
						"name": "AddID",
						"type": "nvarchar"
					},
					{
						"name": "Pager",
						"type": "nvarchar"
					},
					{
						"name": "FatherCard",
						"type": "nvarchar"
					},
					{
						"name": "CardFName",
						"type": "nvarchar"
					},
					{
						"name": "FatherType",
						"type": "char"
					},
					{
						"name": "QryGroup1",
						"type": "char"
					},
					{
						"name": "QryGroup2",
						"type": "char"
					},
					{
						"name": "QryGroup3",
						"type": "char"
					},
					{
						"name": "QryGroup4",
						"type": "char"
					},
					{
						"name": "QryGroup5",
						"type": "char"
					},
					{
						"name": "QryGroup6",
						"type": "char"
					},
					{
						"name": "QryGroup7",
						"type": "char"
					},
					{
						"name": "QryGroup8",
						"type": "char"
					},
					{
						"name": "QryGroup9",
						"type": "char"
					},
					{
						"name": "QryGroup10",
						"type": "char"
					},
					{
						"name": "QryGroup11",
						"type": "char"
					},
					{
						"name": "QryGroup12",
						"type": "char"
					},
					{
						"name": "QryGroup13",
						"type": "char"
					},
					{
						"name": "QryGroup14",
						"type": "char"
					},
					{
						"name": "QryGroup15",
						"type": "char"
					},
					{
						"name": "QryGroup16",
						"type": "char"
					},
					{
						"name": "QryGroup17",
						"type": "char"
					},
					{
						"name": "QryGroup18",
						"type": "char"
					},
					{
						"name": "QryGroup19",
						"type": "char"
					},
					{
						"name": "QryGroup20",
						"type": "char"
					},
					{
						"name": "QryGroup21",
						"type": "char"
					},
					{
						"name": "QryGroup22",
						"type": "char"
					},
					{
						"name": "QryGroup23",
						"type": "char"
					},
					{
						"name": "QryGroup24",
						"type": "char"
					},
					{
						"name": "QryGroup25",
						"type": "char"
					},
					{
						"name": "QryGroup26",
						"type": "char"
					},
					{
						"name": "QryGroup27",
						"type": "char"
					},
					{
						"name": "QryGroup28",
						"type": "char"
					},
					{
						"name": "QryGroup29",
						"type": "char"
					},
					{
						"name": "QryGroup30",
						"type": "char"
					},
					{
						"name": "QryGroup31",
						"type": "char"
					},
					{
						"name": "QryGroup32",
						"type": "char"
					},
					{
						"name": "QryGroup33",
						"type": "char"
					},
					{
						"name": "QryGroup34",
						"type": "char"
					},
					{
						"name": "QryGroup35",
						"type": "char"
					},
					{
						"name": "QryGroup36",
						"type": "char"
					},
					{
						"name": "QryGroup37",
						"type": "char"
					},
					{
						"name": "QryGroup38",
						"type": "char"
					},
					{
						"name": "QryGroup39",
						"type": "char"
					},
					{
						"name": "QryGroup40",
						"type": "char"
					},
					{
						"name": "QryGroup41",
						"type": "char"
					},
					{
						"name": "QryGroup42",
						"type": "char"
					},
					{
						"name": "QryGroup43",
						"type": "char"
					},
					{
						"name": "QryGroup44",
						"type": "char"
					},
					{
						"name": "QryGroup45",
						"type": "char"
					},
					{
						"name": "QryGroup46",
						"type": "char"
					},
					{
						"name": "QryGroup47",
						"type": "char"
					},
					{
						"name": "QryGroup48",
						"type": "char"
					},
					{
						"name": "QryGroup49",
						"type": "char"
					},
					{
						"name": "QryGroup50",
						"type": "char"
					},
					{
						"name": "QryGroup51",
						"type": "char"
					},
					{
						"name": "QryGroup52",
						"type": "char"
					},
					{
						"name": "QryGroup53",
						"type": "char"
					},
					{
						"name": "QryGroup54",
						"type": "char"
					},
					{
						"name": "QryGroup55",
						"type": "char"
					},
					{
						"name": "QryGroup56",
						"type": "char"
					},
					{
						"name": "QryGroup57",
						"type": "char"
					},
					{
						"name": "QryGroup58",
						"type": "char"
					},
					{
						"name": "QryGroup59",
						"type": "char"
					},
					{
						"name": "QryGroup60",
						"type": "char"
					},
					{
						"name": "QryGroup61",
						"type": "char"
					},
					{
						"name": "QryGroup62",
						"type": "char"
					},
					{
						"name": "QryGroup63",
						"type": "char"
					},
					{
						"name": "QryGroup64",
						"type": "char"
					},
					{
						"name": "DdctOffice",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "DscntObjct",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DscntRel",
						"type": "char"
					},
					{
						"name": "SPGCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SPPCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdctFileNo",
						"type": "nvarchar"
					},
					{
						"name": "SCNCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MinIntrst",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "OprCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExemptNo",
						"type": "nvarchar"
					},
					{
						"name": "Priority",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditCard",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CrCardNum",
						"type": "nvarchar"
					},
					{
						"name": "CardValid",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "validFor",
						"type": "char"
					},
					{
						"name": "validFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "validTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenFor",
						"type": "char"
					},
					{
						"name": "frozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sEmployed",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdgKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DdtKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "chainStore",
						"type": "char"
					},
					{
						"name": "DiscInRet",
						"type": "char"
					},
					{
						"name": "State1",
						"type": "nvarchar"
					},
					{
						"name": "State2",
						"type": "nvarchar"
					},
					{
						"name": "VatGroup",
						"type": "nvarchar"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "Indicator",
						"type": "nvarchar"
					},
					{
						"name": "ShipType",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DebPayAcct",
						"type": "nvarchar"
					},
					{
						"name": "ShipToDef",
						"type": "nvarchar"
					},
					{
						"name": "Block",
						"type": "nvarchar"
					},
					{
						"name": "MailBlock",
						"type": "nvarchar"
					},
					{
						"name": "Password",
						"type": "nvarchar"
					},
					{
						"name": "ECVatGroup",
						"type": "nvarchar"
					},
					{
						"name": "Deleted",
						"type": "char"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FormCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Box1099",
						"type": "nvarchar"
					},
					{
						"name": "PymCode",
						"type": "nvarchar"
					},
					{
						"name": "BackOrder",
						"type": "char"
					},
					{
						"name": "PartDelivr",
						"type": "char"
					},
					{
						"name": "DunnLevel",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DunnDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BlockDunn",
						"type": "char"
					},
					{
						"name": "BankCountr",
						"type": "nvarchar"
					},
					{
						"name": "CollecAuth",
						"type": "char"
					},
					{
						"name": "DME",
						"type": "nvarchar"
					},
					{
						"name": "InstrucKey",
						"type": "nvarchar"
					},
					{
						"name": "SinglePaym",
						"type": "char"
					},
					{
						"name": "ISRBillId",
						"type": "nvarchar"
					},
					{
						"name": "PaymBlock",
						"type": "char"
					},
					{
						"name": "RefDetails",
						"type": "nvarchar"
					},
					{
						"name": "HouseBank",
						"type": "nvarchar"
					},
					{
						"name": "OwnerIdNum",
						"type": "nvarchar"
					},
					{
						"name": "PyBlckDesc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousBnkCry",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkAct",
						"type": "nvarchar"
					},
					{
						"name": "HousBnkBrn",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCod",
						"type": "nvarchar"
					},
					{
						"name": "SysMatchNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VatIdUnCmp",
						"type": "nvarchar"
					},
					{
						"name": "AgentCode",
						"type": "nvarchar"
					},
					{
						"name": "TolrncDays",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SelfInvoic",
						"type": "char"
					},
					{
						"name": "DeferrTax",
						"type": "char"
					},
					{
						"name": "LetterNum",
						"type": "nvarchar"
					},
					{
						"name": "MaxAmount",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FromDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ToDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WTLiable",
						"type": "char"
					},
					{
						"name": "CrtfcateNO",
						"type": "nvarchar"
					},
					{
						"name": "ExpireDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "NINum",
						"type": "nvarchar"
					},
					{
						"name": "AccCritria",
						"type": "char"
					},
					{
						"name": "WTCode",
						"type": "nvarchar"
					},
					{
						"name": "Equ",
						"type": "char"
					},
					{
						"name": "HldCode",
						"type": "nvarchar"
					},
					{
						"name": "ConnBP",
						"type": "nvarchar"
					},
					{
						"name": "MltMthNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TypWTReprt",
						"type": "char"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "RepName",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "ntext"
					},
					{
						"name": "Business",
						"type": "ntext"
					},
					{
						"name": "WTTaxCat",
						"type": "ntext"
					},
					{
						"name": "IsDomestic",
						"type": "char"
					},
					{
						"name": "IsResident",
						"type": "char"
					},
					{
						"name": "AutoCalBCG",
						"type": "char"
					},
					{
						"name": "OtrCtlAcct",
						"type": "nvarchar"
					},
					{
						"name": "AliasName",
						"type": "ntext"
					},
					{
						"name": "Building",
						"type": "ntext"
					},
					{
						"name": "MailBuildi",
						"type": "ntext"
					},
					{
						"name": "BoEPrsnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEDiscnt",
						"type": "nvarchar"
					},
					{
						"name": "BoEOnClct",
						"type": "nvarchar"
					},
					{
						"name": "UnpaidBoE",
						"type": "nvarchar"
					},
					{
						"name": "ITWTCode",
						"type": "nvarchar"
					},
					{
						"name": "DunTerm",
						"type": "nvarchar"
					},
					{
						"name": "ChannlBP",
						"type": "nvarchar"
					},
					{
						"name": "DfTcnician",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Territory",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToDef",
						"type": "nvarchar"
					},
					{
						"name": "DpmClear",
						"type": "nvarchar"
					},
					{
						"name": "IntrntSite",
						"type": "nvarchar"
					},
					{
						"name": "LangCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "HousActKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Profession",
						"type": "nvarchar"
					},
					{
						"name": "CDPNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflBankKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BCACode",
						"type": "nvarchar"
					},
					{
						"name": "UseShpdGd",
						"type": "char"
					},
					{
						"name": "RegNum",
						"type": "nvarchar"
					},
					{
						"name": "VerifNum",
						"type": "nvarchar"
					},
					{
						"name": "BankCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "HousCtlKey",
						"type": "nvarchar"
					},
					{
						"name": "AddrType",
						"type": "nvarchar"
					},
					{
						"name": "InsurOp347",
						"type": "char"
					},
					{
						"name": "MailAddrTy",
						"type": "nvarchar"
					},
					{
						"name": "StreetNo",
						"type": "nvarchar"
					},
					{
						"name": "MailStrNo",
						"type": "nvarchar"
					},
					{
						"name": "TaxRndRule",
						"type": "char"
					},
					{
						"name": "VendTID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ThreshOver",
						"type": "char"
					},
					{
						"name": "SurOver",
						"type": "char"
					},
					{
						"name": "VendorOcup",
						"type": "nvarchar"
					},
					{
						"name": "OpCode347",
						"type": "char"
					},
					{
						"name": "DpmIntAct",
						"type": "nvarchar"
					},
					{
						"name": "ResidenNum",
						"type": "char"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngGroup",
						"type": "nvarchar"
					},
					{
						"name": "VatIDNum",
						"type": "nvarchar"
					},
					{
						"name": "Affiliate",
						"type": "char"
					},
					{
						"name": "MivzExpSts",
						"type": "char"
					},
					{
						"name": "HierchDdct",
						"type": "char"
					},
					{
						"name": "CertWHT",
						"type": "char"
					},
					{
						"name": "CertBKeep",
						"type": "char"
					},
					{
						"name": "WHShaamGrp",
						"type": "char"
					},
					{
						"name": "IndustryC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "GTSRegNum",
						"type": "nvarchar"
					},
					{
						"name": "GTSBankAct",
						"type": "nvarchar"
					},
					{
						"name": "GTSBilAddr",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkSwift",
						"type": "nvarchar"
					},
					{
						"name": "HsBnkIBAN",
						"type": "nvarchar"
					},
					{
						"name": "DflSwift",
						"type": "nvarchar"
					},
					{
						"name": "AutoPost",
						"type": "char"
					},
					{
						"name": "IntrAcc",
						"type": "nvarchar"
					},
					{
						"name": "FeeAcc",
						"type": "nvarchar"
					},
					{
						"name": "CpnNo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NTSWebSite",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DflIBAN",
						"type": "nvarchar"
					},
					{
						"name": "Series",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EDocExpFrm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TaxIdIdent",
						"type": "char"
					},
					{
						"name": "Attachment",
						"type": "ntext"
					},
					{
						"name": "AtcEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DiscRel",
						"type": "char"
					},
					{
						"name": "NoDiscount",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "DflAgrmnt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GlblLocNum",
						"type": "nvarchar"
					},
					{
						"name": "SenderID",
						"type": "nvarchar"
					},
					{
						"name": "RcpntID",
						"type": "nvarchar"
					},
					{
						"name": "MainUsage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SefazCheck",
						"type": "char"
					},
					{
						"name": "free312",
						"type": "char"
					},
					{
						"name": "free313",
						"type": "char"
					},
					{
						"name": "DateFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateTill",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RelCode",
						"type": "nvarchar"
					},
					{
						"name": "OKATO",
						"type": "nvarchar"
					},
					{
						"name": "OKTMO",
						"type": "nvarchar"
					},
					{
						"name": "KBKCode",
						"type": "nvarchar"
					},
					{
						"name": "TypeOfOp",
						"type": "char"
					},
					{
						"name": "OwnerCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MandateID",
						"type": "nvarchar"
					},
					{
						"name": "SignDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Remark1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ConCerti",
						"type": "nvarchar"
					},
					{
						"name": "TpCusPres",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RoleTypCod",
						"type": "nvarchar"
					},
					{
						"name": "BlockComm",
						"type": "char"
					},
					{
						"name": "EmplymntCt",
						"type": "nvarchar"
					},
					{
						"name": "ExcptnlEvt",
						"type": "char"
					},
					{
						"name": "ExpnPrfFnd",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EdrsFromBP",
						"type": "char"
					},
					{
						"name": "EdrsToBP",
						"type": "char"
					},
					{
						"name": "CreateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UpdateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_BOY_TB_0",
						"type": "char"
					},
					{
						"name": "U_Revision",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_beas_vsi",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fht",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_fkm",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_asp",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLstatus",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLapprovedForType",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_QCCS",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_23_ADPRTCD",
						"type": "char"
					},
					{
						"name": "U_BS_DigIn",
						"type": "char"
					},
					{
						"name": "U_BS_Email",
						"type": "char"
					},
					{
						"name": "U_BS_Deliv",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_ExpFile",
						"type": "char"
					},
					{
						"name": "U_ScoreCardTotal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_ScoreIn",
						"type": "nvarchar"
					},
					{
						"name": "U_ASLType",
						"type": "nvarchar"
					},
					{
						"name": "U_Critical",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OCRD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CostCenter_OPRC1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "PrcCode",
						"type": "nvarchar"
					},
					{
						"name": "PrcName",
						"type": "nvarchar"
					},
					{
						"name": "GrpCode",
						"type": "nvarchar"
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Locked",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DimCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CCTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "ValidFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Active",
						"type": "char"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OPRC"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Rates_ORTT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "RateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "Rate",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ORTT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Items_OITM1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ItemCode",
						"type": "nvarchar"
					},
					{
						"name": "ItemName",
						"type": "nvarchar"
					},
					{
						"name": "FrgnName",
						"type": "nvarchar"
					},
					{
						"name": "ItmsGrpCod",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CstGrpCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "VatGourpSa",
						"type": "nvarchar"
					},
					{
						"name": "CodeBars",
						"type": "nvarchar"
					},
					{
						"name": "VATLiable",
						"type": "char"
					},
					{
						"name": "PrchseItem",
						"type": "char"
					},
					{
						"name": "SellItem",
						"type": "char"
					},
					{
						"name": "InvntItem",
						"type": "char"
					},
					{
						"name": "OnHand",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "IsCommited",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OnOrder",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "IncomeAcct",
						"type": "nvarchar"
					},
					{
						"name": "ExmptIncom",
						"type": "nvarchar"
					},
					{
						"name": "MaxLevel",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DfltWH",
						"type": "nvarchar"
					},
					{
						"name": "CardCode",
						"type": "nvarchar"
					},
					{
						"name": "SuppCatNum",
						"type": "nvarchar"
					},
					{
						"name": "BuyUnitMsr",
						"type": "nvarchar"
					},
					{
						"name": "NumInBuy",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ReorderQty",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "MinLevel",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LstEvlPric",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LstEvlDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CustomPer",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Canceled",
						"type": "char"
					},
					{
						"name": "MnufctTime",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WholSlsTax",
						"type": "char"
					},
					{
						"name": "RetilrTax",
						"type": "char"
					},
					{
						"name": "SpcialDisc",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DscountCod",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "TrackSales",
						"type": "char"
					},
					{
						"name": "SalUnitMsr",
						"type": "nvarchar"
					},
					{
						"name": "NumInSale",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Consig",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "QueryGroup",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Counted",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "OpenBlnc",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EvalSystem",
						"type": "char"
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FREE",
						"type": "char"
					},
					{
						"name": "PicturName",
						"type": "nvarchar"
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BlncTrnsfr",
						"type": "char"
					},
					{
						"name": "UserText",
						"type": "ntext"
					},
					{
						"name": "SerialNum",
						"type": "nvarchar"
					},
					{
						"name": "CommisPcnt",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CommisSum",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "CommisGrp",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "TreeType",
						"type": "char"
					},
					{
						"name": "TreeQty",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LastPurPrc",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LastPurCur",
						"type": "nvarchar"
					},
					{
						"name": "LastPurDat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExitCur",
						"type": "nvarchar"
					},
					{
						"name": "ExitPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "ExitWH",
						"type": "nvarchar"
					},
					{
						"name": "AssetItem",
						"type": "char"
					},
					{
						"name": "WasCounted",
						"type": "char"
					},
					{
						"name": "ManSerNum",
						"type": "char"
					},
					{
						"name": "SHeight1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SHght1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SHeight2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SHght2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SWidth1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SWdth1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SWidth2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SWdth2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SLength1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SLen1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Slength2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SLen2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SVolume",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SVolUnit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SWeight1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SWght1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SWeight2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SWght2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BHeight1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BHght1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BHeight2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BHght2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BWidth1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BWdth1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BWidth2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BWdth2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BLength1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BLen1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Blength2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BLen2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BVolume",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BVolUnit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BWeight1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BWght1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "BWeight2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "BWght2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FixCurrCms",
						"type": "nvarchar"
					},
					{
						"name": "FirmCode",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LstSalDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "QryGroup1",
						"type": "char"
					},
					{
						"name": "QryGroup2",
						"type": "char"
					},
					{
						"name": "QryGroup3",
						"type": "char"
					},
					{
						"name": "QryGroup4",
						"type": "char"
					},
					{
						"name": "QryGroup5",
						"type": "char"
					},
					{
						"name": "QryGroup6",
						"type": "char"
					},
					{
						"name": "QryGroup7",
						"type": "char"
					},
					{
						"name": "QryGroup8",
						"type": "char"
					},
					{
						"name": "QryGroup9",
						"type": "char"
					},
					{
						"name": "QryGroup10",
						"type": "char"
					},
					{
						"name": "QryGroup11",
						"type": "char"
					},
					{
						"name": "QryGroup12",
						"type": "char"
					},
					{
						"name": "QryGroup13",
						"type": "char"
					},
					{
						"name": "QryGroup14",
						"type": "char"
					},
					{
						"name": "QryGroup15",
						"type": "char"
					},
					{
						"name": "QryGroup16",
						"type": "char"
					},
					{
						"name": "QryGroup17",
						"type": "char"
					},
					{
						"name": "QryGroup18",
						"type": "char"
					},
					{
						"name": "QryGroup19",
						"type": "char"
					},
					{
						"name": "QryGroup20",
						"type": "char"
					},
					{
						"name": "QryGroup21",
						"type": "char"
					},
					{
						"name": "QryGroup22",
						"type": "char"
					},
					{
						"name": "QryGroup23",
						"type": "char"
					},
					{
						"name": "QryGroup24",
						"type": "char"
					},
					{
						"name": "QryGroup25",
						"type": "char"
					},
					{
						"name": "QryGroup26",
						"type": "char"
					},
					{
						"name": "QryGroup27",
						"type": "char"
					},
					{
						"name": "QryGroup28",
						"type": "char"
					},
					{
						"name": "QryGroup29",
						"type": "char"
					},
					{
						"name": "QryGroup30",
						"type": "char"
					},
					{
						"name": "QryGroup31",
						"type": "char"
					},
					{
						"name": "QryGroup32",
						"type": "char"
					},
					{
						"name": "QryGroup33",
						"type": "char"
					},
					{
						"name": "QryGroup34",
						"type": "char"
					},
					{
						"name": "QryGroup35",
						"type": "char"
					},
					{
						"name": "QryGroup36",
						"type": "char"
					},
					{
						"name": "QryGroup37",
						"type": "char"
					},
					{
						"name": "QryGroup38",
						"type": "char"
					},
					{
						"name": "QryGroup39",
						"type": "char"
					},
					{
						"name": "QryGroup40",
						"type": "char"
					},
					{
						"name": "QryGroup41",
						"type": "char"
					},
					{
						"name": "QryGroup42",
						"type": "char"
					},
					{
						"name": "QryGroup43",
						"type": "char"
					},
					{
						"name": "QryGroup44",
						"type": "char"
					},
					{
						"name": "QryGroup45",
						"type": "char"
					},
					{
						"name": "QryGroup46",
						"type": "char"
					},
					{
						"name": "QryGroup47",
						"type": "char"
					},
					{
						"name": "QryGroup48",
						"type": "char"
					},
					{
						"name": "QryGroup49",
						"type": "char"
					},
					{
						"name": "QryGroup50",
						"type": "char"
					},
					{
						"name": "QryGroup51",
						"type": "char"
					},
					{
						"name": "QryGroup52",
						"type": "char"
					},
					{
						"name": "QryGroup53",
						"type": "char"
					},
					{
						"name": "QryGroup54",
						"type": "char"
					},
					{
						"name": "QryGroup55",
						"type": "char"
					},
					{
						"name": "QryGroup56",
						"type": "char"
					},
					{
						"name": "QryGroup57",
						"type": "char"
					},
					{
						"name": "QryGroup58",
						"type": "char"
					},
					{
						"name": "QryGroup59",
						"type": "char"
					},
					{
						"name": "QryGroup60",
						"type": "char"
					},
					{
						"name": "QryGroup61",
						"type": "char"
					},
					{
						"name": "QryGroup62",
						"type": "char"
					},
					{
						"name": "QryGroup63",
						"type": "char"
					},
					{
						"name": "QryGroup64",
						"type": "char"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "SalFactor1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SalFactor2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SalFactor3",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SalFactor4",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "PurFactor1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "PurFactor2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "PurFactor3",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "PurFactor4",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SalFormula",
						"type": "nvarchar"
					},
					{
						"name": "PurFormula",
						"type": "nvarchar"
					},
					{
						"name": "VatGroupPu",
						"type": "nvarchar"
					},
					{
						"name": "AvgPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "PurPackMsr",
						"type": "nvarchar"
					},
					{
						"name": "PurPackUn",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SalPackMsr",
						"type": "nvarchar"
					},
					{
						"name": "SalPackUn",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "SCNCounter",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ManBtchNum",
						"type": "char"
					},
					{
						"name": "ManOutOnly",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "validFor",
						"type": "char"
					},
					{
						"name": "validFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "validTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenFor",
						"type": "char"
					},
					{
						"name": "frozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "frozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BlockOut",
						"type": "char"
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "SWW",
						"type": "nvarchar"
					},
					{
						"name": "Deleted",
						"type": "char"
					},
					{
						"name": "DocEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExpensAcct",
						"type": "nvarchar"
					},
					{
						"name": "FrgnInAcct",
						"type": "nvarchar"
					},
					{
						"name": "ShipType",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "GLMethod",
						"type": "char"
					},
					{
						"name": "ECInAcct",
						"type": "nvarchar"
					},
					{
						"name": "FrgnExpAcc",
						"type": "nvarchar"
					},
					{
						"name": "ECExpAcc",
						"type": "nvarchar"
					},
					{
						"name": "TaxType",
						"type": "char"
					},
					{
						"name": "ByWh",
						"type": "char"
					},
					{
						"name": "WTLiable",
						"type": "char"
					},
					{
						"name": "ItemType",
						"type": "char"
					},
					{
						"name": "WarrntTmpl",
						"type": "nvarchar"
					},
					{
						"name": "BaseUnit",
						"type": "nvarchar"
					},
					{
						"name": "CountryOrg",
						"type": "nvarchar"
					},
					{
						"name": "StockValue",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Phantom",
						"type": "char"
					},
					{
						"name": "IssueMthd",
						"type": "char"
					},
					{
						"name": "FREE1",
						"type": "char"
					},
					{
						"name": "PricingPrc",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "MngMethod",
						"type": "char"
					},
					{
						"name": "ReorderPnt",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "InvntryUom",
						"type": "nvarchar"
					},
					{
						"name": "PlaningSys",
						"type": "char"
					},
					{
						"name": "PrcrmntMtd",
						"type": "char"
					},
					{
						"name": "OrdrIntrvl",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OrdrMulti",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "MinOrdrQty",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LeadTime",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IndirctTax",
						"type": "char"
					},
					{
						"name": "TaxCodeAR",
						"type": "nvarchar"
					},
					{
						"name": "TaxCodeAP",
						"type": "nvarchar"
					},
					{
						"name": "OSvcCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ISvcCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ServiceGrp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NCMCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MatType",
						"type": "nvarchar"
					},
					{
						"name": "MatGrp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductSrc",
						"type": "nvarchar"
					},
					{
						"name": "ServiceCtg",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ItemClass",
						"type": "char"
					},
					{
						"name": "Excisable",
						"type": "char"
					},
					{
						"name": "ChapterID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NotifyASN",
						"type": "nvarchar"
					},
					{
						"name": "ProAssNum",
						"type": "nvarchar"
					},
					{
						"name": "AssblValue",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DNFEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Spec",
						"type": "nvarchar"
					},
					{
						"name": "TaxCtg",
						"type": "nvarchar"
					},
					{
						"name": "Series",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FuelCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BeverTblC",
						"type": "nvarchar"
					},
					{
						"name": "BeverGrpC",
						"type": "nvarchar"
					},
					{
						"name": "BeverTM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Attachment",
						"type": "ntext"
					},
					{
						"name": "AtcEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ToleranDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UgpEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PUoMEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SUoMEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IUoMEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IssuePriBy",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AssetClass",
						"type": "nvarchar"
					},
					{
						"name": "AssetGroup",
						"type": "nvarchar"
					},
					{
						"name": "InventryNo",
						"type": "nvarchar"
					},
					{
						"name": "Technician",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Employee",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Location",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StatAsset",
						"type": "char"
					},
					{
						"name": "Cession",
						"type": "char"
					},
					{
						"name": "DeacAftUL",
						"type": "char"
					},
					{
						"name": "AsstStatus",
						"type": "char"
					},
					{
						"name": "CapDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AcqDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RetDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "GLPickMeth",
						"type": "char"
					},
					{
						"name": "NoDiscount",
						"type": "char"
					},
					{
						"name": "MgrByQty",
						"type": "char"
					},
					{
						"name": "AssetRmk1",
						"type": "nvarchar"
					},
					{
						"name": "AssetRmk2",
						"type": "nvarchar"
					},
					{
						"name": "AssetAmnt1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "AssetAmnt2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "DeprGroup",
						"type": "nvarchar"
					},
					{
						"name": "AssetSerNo",
						"type": "nvarchar"
					},
					{
						"name": "CntUnitMsr",
						"type": "nvarchar"
					},
					{
						"name": "NumInCnt",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "INUoMEntry",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OneBOneRec",
						"type": "char"
					},
					{
						"name": "RuleCode",
						"type": "nvarchar"
					},
					{
						"name": "ScsCode",
						"type": "nvarchar"
					},
					{
						"name": "SpProdType",
						"type": "nvarchar"
					},
					{
						"name": "IWeight1",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "IWght1Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "IWeight2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "IWght2Unit",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompoWH",
						"type": "char"
					},
					{
						"name": "CreateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UpdateTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_location_2",
						"type": "nvarchar"
					},
					{
						"name": "U_SCmovAvgPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_ProductType",
						"type": "nvarchar"
					},
					{
						"name": "U_BOMnotes",
						"type": "nvarchar"
					},
					{
						"name": "U_BOY_TB_0",
						"type": "char"
					},
					{
						"name": "U_FromSerial",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_ToSerial",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_HosPN",
						"type": "nvarchar"
					},
					{
						"name": "U_USTariff",
						"type": "nvarchar"
					},
					{
						"name": "U_EUTariff",
						"type": "nvarchar"
					},
					{
						"name": "U_kzbuchng",
						"type": "char"
					},
					{
						"name": "U_kzdruck",
						"type": "char"
					},
					{
						"name": "U_aussch",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_din",
						"type": "nvarchar"
					},
					{
						"name": "U_me_lager",
						"type": "nvarchar"
					},
					{
						"name": "U_me_verbr",
						"type": "nvarchar"
					},
					{
						"name": "U_losgr",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_match",
						"type": "nvarchar"
					},
					{
						"name": "U_sachb_id",
						"type": "nvarchar"
					},
					{
						"name": "U_wbz",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_wst_id",
						"type": "nvarchar"
					},
					{
						"name": "U_znr",
						"type": "nvarchar"
					},
					{
						"name": "U_kalk_pr",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_dispo",
						"type": "char"
					},
					{
						"name": "U_ke",
						"type": "char"
					},
					{
						"name": "U_gruppe",
						"type": "nvarchar"
					},
					{
						"name": "U_picture2",
						"type": "nvarchar"
					},
					{
						"name": "U_picture3",
						"type": "nvarchar"
					},
					{
						"name": "U_bestellt",
						"type": "ntext"
					},
					{
						"name": "U_text_d",
						"type": "ntext"
					},
					{
						"name": "U_text_eng",
						"type": "ntext"
					},
					{
						"name": "U_sa",
						"type": "char"
					},
					{
						"name": "U_form",
						"type": "char"
					},
					{
						"name": "U_un_nr",
						"type": "nvarchar"
					},
					{
						"name": "U_vg",
						"type": "nvarchar"
					},
					{
						"name": "U_nag",
						"type": "nvarchar"
					},
					{
						"name": "U_nag_eng",
						"type": "nvarchar"
					},
					{
						"name": "U_zollt",
						"type": "nvarchar"
					},
					{
						"name": "U_spezgew",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_verschn",
						"type": "nvarchar"
					},
					{
						"name": "U_brgew",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_batchroh",
						"type": "char"
					},
					{
						"name": "U_prccode",
						"type": "nvarchar"
					},
					{
						"name": "U_bereitst",
						"type": "char"
					},
					{
						"name": "U_verfb",
						"type": "ntext"
					},
					{
						"name": "U_uland",
						"type": "nvarchar"
					},
					{
						"name": "U_losgr_ka",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_kalksche",
						"type": "nvarchar"
					},
					{
						"name": "U_beasprio",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_haltbark",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_haltbar2",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_beas_vri",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_beas_ver",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_caf",
						"type": "ntext"
					},
					{
						"name": "U_beas_kumulierung",
						"type": "nvarchar"
					},
					{
						"name": "U_beas_shortvariantd",
						"type": "ntext"
					},
					{
						"name": "U_beas_prodrelease",
						"type": "char"
					},
					{
						"name": "U_beas_mps",
						"type": "char"
					},
					{
						"name": "U_DLN",
						"type": "nvarchar"
					},
					{
						"name": "U_510K",
						"type": "nvarchar"
					},
					{
						"name": "U_FDA",
						"type": "nvarchar"
					},
					{
						"name": "U_PrdLblPath",
						"type": "ntext"
					},
					{
						"name": "U_SPckLblPath",
						"type": "ntext"
					},
					{
						"name": "U_MPckLblPath",
						"type": "ntext"
					},
					{
						"name": "U_NextSN",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_QBupdate",
						"type": "char"
					},
					{
						"name": "U_SW_Item_Version",
						"type": "nvarchar"
					},
					{
						"name": "U_ChangeSet",
						"type": "nvarchar"
					},
					{
						"name": "U_MaPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_MaPriceU",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "U_ExistInQB",
						"type": "char"
					},
					{
						"name": "U_TargetMarket",
						"type": "nvarchar"
					},
					{
						"name": "U_IssuingAgency",
						"type": "nvarchar"
					},
					{
						"name": "U_PrimaryDINumber",
						"type": "nvarchar"
					},
					{
						"name": "U_DeviceCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_UnitofUseDINum",
						"type": "nvarchar"
					},
					{
						"name": "U_LabelerDUNSNumbe",
						"type": "nvarchar"
					},
					{
						"name": "U_BrandName",
						"type": "nvarchar"
					},
					{
						"name": "U_VersionoModel",
						"type": "nvarchar"
					},
					{
						"name": "U_CatalogNumber",
						"type": "nvarchar"
					},
					{
						"name": "U_DIRecordPublish",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_CoDistribuEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_DMDINumber",
						"type": "nvarchar"
					},
					{
						"name": "U_SeconIssuingAgency",
						"type": "nvarchar"
					},
					{
						"name": "U_SecondaryDINumber",
						"type": "nvarchar"
					},
					{
						"name": "U_PackageDINumber",
						"type": "nvarchar"
					},
					{
						"name": "U_QtyperPackage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_ContainsDIPackage",
						"type": "nvarchar"
					},
					{
						"name": "U_PackageType",
						"type": "nvarchar"
					},
					{
						"name": "U_PackDiscontinueDat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_CustContactPhone",
						"type": "nvarchar"
					},
					{
						"name": "U_DeviceDesc",
						"type": "ntext"
					},
					{
						"name": "U_DevSubDirMarking",
						"type": "nvarchar"
					},
					{
						"name": "U_DMDIDifferfromPr",
						"type": "nvarchar"
					},
					{
						"name": "U_CustcontactEmail",
						"type": "nvarchar"
					},
					{
						"name": "U_HumanCellTissue",
						"type": "nvarchar"
					},
					{
						"name": "U_Kit",
						"type": "nvarchar"
					},
					{
						"name": "U_CombinationProduct",
						"type": "nvarchar"
					},
					{
						"name": "U_DeviceExePreSub",
						"type": "nvarchar"
					},
					{
						"name": "U_FDAPreSubNum",
						"type": "nvarchar"
					},
					{
						"name": "U_SupplementNum",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_ProductCode",
						"type": "nvarchar"
					},
					{
						"name": "U_FDAListingNum",
						"type": "nvarchar"
					},
					{
						"name": "U_Code",
						"type": "nvarchar"
					},
					{
						"name": "U_ForSingleUse",
						"type": "nvarchar"
					},
					{
						"name": "U_LotorBatchNum",
						"type": "nvarchar"
					},
					{
						"name": "U_ManufacturingDate",
						"type": "nvarchar"
					},
					{
						"name": "U_SerialNum",
						"type": "nvarchar"
					},
					{
						"name": "U_ExpirationDate",
						"type": "nvarchar"
					},
					{
						"name": "U_DonationIdenNum",
						"type": "nvarchar"
					},
					{
						"name": "U_LabelLatex",
						"type": "nvarchar"
					},
					{
						"name": "U_Labeledasnotlatex",
						"type": "nvarchar"
					},
					{
						"name": "U_PrescriptionUse",
						"type": "nvarchar"
					},
					{
						"name": "U_OvertheCounter",
						"type": "nvarchar"
					},
					{
						"name": "U_SizeType",
						"type": "nvarchar"
					},
					{
						"name": "U_SizeValue",
						"type": "int",
						"precision": 10
					},
					{
						"name": "U_SizeuniMeasure",
						"type": "nvarchar"
					},
					{
						"name": "U_SizeTypeText",
						"type": "nvarchar"
					},
					{
						"name": "U_StorageHandling",
						"type": "nvarchar"
					},
					{
						"name": "U_LowValue",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_HighValue",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_UnitMeasure",
						"type": "nvarchar"
					},
					{
						"name": "U_SpecialStorCondi",
						"type": "nvarchar"
					},
					{
						"name": "U_DevPackSterile",
						"type": "nvarchar"
					},
					{
						"name": "U_ReqSterillization",
						"type": "nvarchar"
					},
					{
						"name": "U_SterllizationMeth",
						"type": "nvarchar"
					},
					{
						"name": "U_MRI",
						"type": "nvarchar"
					},
					{
						"name": "U_PCBShape",
						"type": "nvarchar"
					},
					{
						"name": "U_DSLink",
						"type": "nvarchar"
					},
					{
						"name": "U_Value",
						"type": "nvarchar"
					},
					{
						"name": "U_Planner",
						"type": "nvarchar"
					},
					{
						"name": "U_ItemGroup",
						"type": "nvarchar"
					},
					{
						"name": "U_OrcadSymbol",
						"type": "nvarchar"
					},
					{
						"name": "U_ServiceReoDesc",
						"type": "nvarchar"
					},
					{
						"name": "U_RepairLevel",
						"type": "nvarchar"
					},
					{
						"name": "U_CriticalComp",
						"type": "nvarchar"
					},
					{
						"name": "U_SPComments",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					},
					{
						"name": "U_GroupType",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_MaterialNum",
						"type": "nvarchar"
					},
					{
						"name": "U_MaterialDesc",
						"type": "nvarchar"
					},
					{
						"name": "U_Buyer",
						"type": "nvarchar"
					},
					{
						"name": "U_KitLabel",
						"type": "nvarchar"
					},
					{
						"name": "U_BoxLabel",
						"type": "nvarchar"
					},
					{
						"name": "U_Kit_Rev",
						"type": "nvarchar"
					},
					{
						"name": "U_Box_Rev",
						"type": "nvarchar"
					},
					{
						"name": "U_PrintTest",
						"type": "char"
					},
					{
						"name": "U_QA_App",
						"type": "char"
					},
					{
						"name": "U_SingleLabel",
						"type": "nvarchar"
					},
					{
						"name": "U_MultiLabel",
						"type": "nvarchar"
					},
					{
						"name": "U_Single_Rev",
						"type": "nvarchar"
					},
					{
						"name": "U_Multi_Rev",
						"type": "nvarchar"
					},
					{
						"name": "U_DeviceLabel",
						"type": "nvarchar"
					},
					{
						"name": "U_Device_Rev",
						"type": "nvarchar"
					},
					{
						"name": "U_EOL",
						"type": "nvarchar"
					},
					{
						"name": "U_EolFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_SWEOL",
						"type": "nvarchar"
					},
					{
						"name": "U_SWEolFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OITM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Accounts_OACT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TESTSorrelDB_25022020",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AcctCode",
						"type": "nvarchar"
					},
					{
						"name": "AcctName",
						"type": "nvarchar"
					},
					{
						"name": "CurrTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "EndTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Finanse",
						"type": "char"
					},
					{
						"name": "Groups",
						"type": "nvarchar"
					},
					{
						"name": "Budget",
						"type": "char"
					},
					{
						"name": "Frozen",
						"type": "char"
					},
					{
						"name": "Free_2",
						"type": "char"
					},
					{
						"name": "Postable",
						"type": "char"
					},
					{
						"name": "Fixed",
						"type": "char"
					},
					{
						"name": "Levels",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ExportCode",
						"type": "nvarchar"
					},
					{
						"name": "GrpLine",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FatherNum",
						"type": "nvarchar"
					},
					{
						"name": "AccntntCod",
						"type": "nvarchar"
					},
					{
						"name": "CashBox",
						"type": "char"
					},
					{
						"name": "GroupMask",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RateTrans",
						"type": "char"
					},
					{
						"name": "TaxIncome",
						"type": "char"
					},
					{
						"name": "ExmIncome",
						"type": "char"
					},
					{
						"name": "ExtrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IntrMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ActType",
						"type": "char"
					},
					{
						"name": "Transfered",
						"type": "char"
					},
					{
						"name": "BlncTrnsfr",
						"type": "char"
					},
					{
						"name": "OverType",
						"type": "char"
					},
					{
						"name": "OverCode",
						"type": "nvarchar"
					},
					{
						"name": "SysMatch",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrevYear",
						"type": "char"
					},
					{
						"name": "ActCurr",
						"type": "nvarchar"
					},
					{
						"name": "RateDifAct",
						"type": "nvarchar"
					},
					{
						"name": "SysTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "FcTotal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Protected",
						"type": "char"
					},
					{
						"name": "RealAcct",
						"type": "char"
					},
					{
						"name": "Advance",
						"type": "char"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrgnName",
						"type": "nvarchar"
					},
					{
						"name": "Details",
						"type": "nvarchar"
					},
					{
						"name": "ExtraSum",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "Project",
						"type": "nvarchar"
					},
					{
						"name": "RevalMatch",
						"type": "char"
					},
					{
						"name": "DataSource",
						"type": "char"
					},
					{
						"name": "LocMth",
						"type": "char"
					},
					{
						"name": "MTHCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BNKCounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSign",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "LocManTran",
						"type": "char"
					},
					{
						"name": "LogInstanc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObjType",
						"type": "nvarchar"
					},
					{
						"name": "ValidFor",
						"type": "char"
					},
					{
						"name": "ValidFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ValidComm",
						"type": "nvarchar"
					},
					{
						"name": "FrozenFor",
						"type": "char"
					},
					{
						"name": "FrozenFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FrozenComm",
						"type": "nvarchar"
					},
					{
						"name": "Counter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Segment_0",
						"type": "nvarchar"
					},
					{
						"name": "Segment_1",
						"type": "nvarchar"
					},
					{
						"name": "Segment_2",
						"type": "nvarchar"
					},
					{
						"name": "Segment_3",
						"type": "nvarchar"
					},
					{
						"name": "Segment_4",
						"type": "nvarchar"
					},
					{
						"name": "Segment_5",
						"type": "nvarchar"
					},
					{
						"name": "Segment_6",
						"type": "nvarchar"
					},
					{
						"name": "Segment_7",
						"type": "nvarchar"
					},
					{
						"name": "Segment_8",
						"type": "nvarchar"
					},
					{
						"name": "Segment_9",
						"type": "nvarchar"
					},
					{
						"name": "FormatCode",
						"type": "nvarchar"
					},
					{
						"name": "CfwRlvnt",
						"type": "char"
					},
					{
						"name": "ExchRate",
						"type": "char"
					},
					{
						"name": "RevalAcct",
						"type": "nvarchar"
					},
					{
						"name": "LastRevBal",
						"type": "decimal",
						"precision": 19,
						"scale": 6
					},
					{
						"name": "LastRevDat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DfltVat",
						"type": "nvarchar"
					},
					{
						"name": "VatChange",
						"type": "char"
					},
					{
						"name": "Category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TransCode",
						"type": "nvarchar"
					},
					{
						"name": "OverCode5",
						"type": "nvarchar"
					},
					{
						"name": "OverCode2",
						"type": "nvarchar"
					},
					{
						"name": "OverCode3",
						"type": "nvarchar"
					},
					{
						"name": "OverCode4",
						"type": "nvarchar"
					},
					{
						"name": "DfltTax",
						"type": "nvarchar"
					},
					{
						"name": "TaxPostAcc",
						"type": "char"
					},
					{
						"name": "AcctStrLe",
						"type": "nvarchar"
					},
					{
						"name": "MeaUnit",
						"type": "nvarchar"
					},
					{
						"name": "BalDirect",
						"type": "nvarchar"
					},
					{
						"name": "UserSign2",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PlngLevel",
						"type": "nvarchar"
					},
					{
						"name": "MultiLink",
						"type": "char"
					},
					{
						"name": "PrjRelvnt",
						"type": "char"
					},
					{
						"name": "Dim1Relvnt",
						"type": "char"
					},
					{
						"name": "Dim2Relvnt",
						"type": "char"
					},
					{
						"name": "Dim3Relvnt",
						"type": "char"
					},
					{
						"name": "Dim4Relvnt",
						"type": "char"
					},
					{
						"name": "Dim5Relvnt",
						"type": "char"
					},
					{
						"name": "AccrualTyp",
						"type": "char"
					},
					{
						"name": "DatevAcct",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatevAutoA",
						"type": "char"
					},
					{
						"name": "DatevFirst",
						"type": "char"
					},
					{
						"name": "SnapShotId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PCN874Rpt",
						"type": "char"
					},
					{
						"name": "SCAdjust",
						"type": "char"
					},
					{
						"name": "BPLId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BPLName",
						"type": "nvarchar"
					},
					{
						"name": "SubLedgerN",
						"type": "nvarchar"
					},
					{
						"name": "VATRegNum",
						"type": "nvarchar"
					},
					{
						"name": "ActId",
						"type": "nvarchar"
					},
					{
						"name": "ClosingAcc",
						"type": "nvarchar"
					},
					{
						"name": "PurpCode",
						"type": "nvarchar"
					},
					{
						"name": "RefCode",
						"type": "nvarchar"
					},
					{
						"name": "BlocManPos",
						"type": "char"
					},
					{
						"name": "U_beas_wip",
						"type": "char"
					},
					{
						"name": "U_Bnk",
						"type": "nvarchar"
					},
					{
						"name": "U_Brnc",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "U_Acct",
						"type": "nvarchar"
					},
					{
						"name": "U_LicTr",
						"type": "nvarchar"
					},
					{
						"name": "U_MasavDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "U_BS_Scan",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_Suffix",
						"type": "nvarchar"
					},
					{
						"name": "U_BS_StickXpress",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OACT"
				}
			},
			"dependsOn": []
		}
	]
}