adf-egbi-dev/linkedTemplates/ArmTemplate_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/prof_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlsrv_sap",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQLSRV-SAP/NewQcoreDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Complaint')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Complaint",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Complaint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "callID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "callID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "u_ootbfail",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "u_ootbfail",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Fixapproval",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Fixapproval",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_WhoExperienced",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_WhoExperienced",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_SwVer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SwVer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SendToHSPGSC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SendToHSPGSC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ReportedBy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ReportedBy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_RepByTitle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_RepByTitle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_RecordId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_RecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Quantity",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "U_Quantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "U_QBupdate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_QBupdate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ProductNotes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ProductNotes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ProblemObserved",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_ProblemObserved",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_PatientInv",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_PatientInv",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_PatInvDet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PatInvDet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OotbOtherDetails",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OotbOtherDetails",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OccuredAt",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OccuredAt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IntakeFilledBy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IntakeFilledBy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HumanHarmDet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HumanHarmDet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HumanHarm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HumanHarm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HotList",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HotList",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Finalevaluletter",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Finalevaluletter",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Event_Log_Req",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Event_Log_Req",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_EqReturnReq",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_EqReturnReq",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Date_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Date_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CPTitle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CPTitle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CP_Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CP_Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CP_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CP_Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CompDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_CompDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "U_CaseNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CaseNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Batch",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Batch",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Arrival_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Arrival_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AppBy1Date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_AppBy1Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "U_AppBy1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_AppBy1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AckDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_AckDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Subject",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subject",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Room",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Room",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Date_Pump_Req",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Date_Pump_Req",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "closeDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "closeDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "itemName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "itemName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "itemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "itemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "internalSN__NoUse",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "internalSN__NoUse",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descrption",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descrption",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Customer",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "custmrName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "custmrName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "callType",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "callType",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "U_FixInstructiField",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_FixInstructiField",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_FixDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_FixDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_cp_fax",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_cp_fax",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_WhoExperiencedOth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_WhoExperiencedOth",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_DistLogedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_DistLogedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "u_unresponse",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "u_unresponse",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "___NEW_FIELDS",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "___NEW_FIELDS",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "_FieldsNotQB",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "_FieldsNotQB",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_RepByPhone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_RepByPhone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OccuredAt_Other",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OccuredAt_Other",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AckDate_Unknown",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "U_AckDate_Unknown",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "U_Delay_Therapy",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Delay_Therapy",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_Delay_TherapyDetails",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Delay_TherapyDetails",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Medical_Intervention",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Medical_Intervention",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_Medical_InterventionDetails",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Medical_InterventionDetails",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Alarm_Settings",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Alarm_Settings",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Type_Of_Drug",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Type_Of_Drug",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Prime_Performed",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Prime_Performed",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_Portal_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Portal_Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Product_Customer",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Product_Customer",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DistributerNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DistributerNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DistributerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DistributerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AckDate_Hour",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_AckDate_Hour",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SendToQCoreDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SendToQCoreDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fProductID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fProductID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ComplaintSource",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ComplaintSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsCompleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsCompleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsReleasePump",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsReleasePump",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "dtQuickBaseExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtQuickBaseExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Complaint",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Complaint",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Complaint",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Complaint]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:13:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Complaint_Issue')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Complaint_Issue",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Complaint_Issue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ComplaintIssueSource",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ComplaintIssueSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fKnownIssueID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fKnownIssueID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IsComplaintRelated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsComplaintRelated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "DateReported",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DateReported",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "__KnownIssueFields",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__KnownIssueFields",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___SAP",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___SAP",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LineID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LineID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Complaint_Issue",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Complaint_Issue",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Complaint_Issue",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Complaint_Issue]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:18:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_KnownIssues')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_KnownIssues",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_KnownIssues",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KnownIssueID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownIssueID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cause",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Cause",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DiagnosticsConclusions",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DiagnosticsConclusions",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RMF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RMF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RiskInvolvedSAP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RiskInvolvedSAP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BaseOn",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BaseOn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ImgUrl",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ImgUrl",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "___Not_Used_Fields",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___Not_Used_Fields",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "IsActiveStr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "IsActiveStr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserxperienceErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserxperienceErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "KnownIssues",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_KnownIssues",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_KnownIssues",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_KnownIssues]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-06T08:35:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Service')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Service",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Service",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ServiceDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ServiceDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "dtCheckOutDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCheckOutDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fServiceStepID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceStepID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "InitailBOHStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InitailBOHStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BOHComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BOHComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_TEMP_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_TEMP_Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_TEMP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_TEMP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_SERIAL_Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_SERIAL_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_HUMIDITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_HUMIDITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsConfrimBOH",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsConfrimBOH",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ACKTEST_RESULT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ACKTEST_RESULT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersionCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersionCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_SW_Version",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_SW_Version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsSendToQcore",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsSendToQcore",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Service",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Service]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:25:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Service_Activites')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Service_Activites",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Service_Activites",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___General",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "___General",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fIssueID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fIssueID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___DM_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "___DM_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fDeviceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fDeviceID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___Form_Data",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "___Form_Data",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Misused",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Misused",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RepairActionReplacedCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairActionReplacedCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairActionReplacedName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairActionReplacedName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SparePartSnBatchNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SparePartSnBatchNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InitializationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "InitializationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DiagnosticsConclusion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DiagnosticsConclusion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DiagnosticsConclusionComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DiagnosticsConclusionComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service_Activites",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Activites",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Service_Activites",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Service_Activites]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:23:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_User')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy User",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_User",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fGroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fGroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IsTrainingUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsTrainingUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsAdminUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsAdminUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fPositionID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fPositionID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Position",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fStateID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStateID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fCountryID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fCountryID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fTrainerID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fTrainerID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Organization",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Organization",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserPassword",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserPassword",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fNewUserStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fNewUserStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsBlockUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsBlockUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "UserCertificationRenewDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UserCertificationRenewDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ApproveTermsConditions",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ApproveTermsConditions",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsNeedApproveTermsAgain",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNeedApproveTermsAgain",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "__Location",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__Location",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fLocationID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fLocationID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtLocationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLocationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__fDistributorID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "__fDistributorID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "User",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_User",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_User",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_User]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dwh_ScoreCards')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Dwh_IQC_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Dwh_IQC_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Dwh_ScarLog",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Dwh_ScarLog",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Dwh_Suppliers_Audit_Activities_Followup",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Dwh_Suppliers_Audit_Activities_Followup",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Dim_Item",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Dim_Item",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Dwh_Dim_Suppliers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Dwh_Dim_Suppliers",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Dwh_Fact_QRB",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "sp_Dwh_Fact_QRB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ScoreCards"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T13:00:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Intgrator To  Azure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data to SAP_PO",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get_Data_From_Intgrator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "PORF.MRR_SapPO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[PORF].[Get_data_for_MRR_SapPO]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "prof"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ObjectKey",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SAPDocNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TranDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TranDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TranStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TranStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TranMessage",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TranMessage",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SPID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "SPID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SAP_integrator_dev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MRR_SapPO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get_Data_From_Intgrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Truncate_MRR_SapPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[Get_data_for_MRR_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sap_integrator",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate_MRR_SapPO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_trun_MRR_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Merge_Stg_SapPO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Data to SAP_PO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_Merge_Stg_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send_values_to_ssrs_param",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Merge_Stg_SapPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_Inset_Value_to_SSRS_ParamReport]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sap_integrator",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-31T12:59:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Intgrator To  Azure1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data to SAP_PO",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get_Data_From_Intgrator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "PORF.MRR_SapPO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[PORF_SORREL].[Get_data_for_MRR_SapPO]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "prof"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ObjectKey",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SAPDocNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TranDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TranDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TranStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TranStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TranMessage",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TranMessage",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SPID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "SPID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SAP_integrator_dev1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MRR_SapPO1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get_Data_From_Intgrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Truncate_MRR_SapPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF_SORREL].[Get_data_for_MRR_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sap_integrator",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate_MRR_SapPO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_trun_MRR_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Merge_Stg_SapPO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Data to SAP_PO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF_SORREL].[sp_Merge_Stg_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send_values_to_ssrs_param",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Merge_Stg_SapPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_Inset_Value_to_SSRS_ParamReport]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sap_integrator",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF_SORREL/TOdelete"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T12:36:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Intgrator To  Azure2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data to SAP_PO",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get_Data_From_Intgrator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "PORF.MRR_SapPO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[PORF].[Get_data_for_MRR_SapPO]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "prof"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PORFNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ObjectKey",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SAPDocNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TranDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TranDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TranStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TranStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TranMessage",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TranMessage",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtupdated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SPID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "SPID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SORREL_INTEGRATOR_DEV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MRR_SapPO1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get_Data_From_Intgrator",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Truncate_MRR_SapPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[Get_data_for_MRR_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "Is_Sorrel_integration",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate_MRR_SapPO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_trun_MRR_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Merge_Stg_SapPO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Data to SAP_PO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_Merge_Stg_SapPO]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send_values_to_ssrs_param",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Merge_Stg_SapPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PORF].[sp_Inset_Value_to_SSRS_ParamReport]"
						},
						"linkedServiceName": {
							"referenceName": "Is_Sorrel_integration",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF_SORREL"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T13:04:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Accounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Accounts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select \t\nAcctCode,\n\tAcctName,\n\tU_PORF_Dep  OverCode,\n\tU_PORF_Alloc OverCode2, \n    [U_PORF] ,\ncase when GroupMask= 1 then GroupMask End GroupMask ,\n\tDB_NAME() AS DB_NAME \nFROM [dbo].OACT\n\nWHERE \n  [U_PORF]='Y' AND \n  frozenFor ='N' \n  AND Levels='4' ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AcctCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AcctCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AcctName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AcctName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OverCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OverCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OverCode2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OverCode2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GroupMask",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "GroupMask",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Accounts_OACT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "porf_Mrr_Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_Accounts",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[porf].[sp_trunc_Mrr_Accounts]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T12:30:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_Accounts1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_Accounts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select \t\nAcctCode,\n\tAcctName,\n\tU_PORF_Dep  OverCode,\n\tU_PORF_Alloc OverCode2, \n    [U_PORF] ,\ncase when GroupMask= 1 then GroupMask End GroupMask ,\n\tDB_NAME() AS DB_NAME \nFROM [dbo].OACT\n\nWHERE \n  [U_PORF]='Y' AND \n  frozenFor ='N' \n  AND Levels='4' ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AcctCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AcctCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AcctName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AcctName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OverCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OverCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OverCode2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OverCode2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GroupMask",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "GroupMask",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Accounts_OACT1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "porf_Mrr_Accounts1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_Accounts",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[porf].[sp_trunc_Mrr_Accounts]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T13:13:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_BP_SCORE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_BP_SCORE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc Mrr_BP_SCORE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Canceled",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Transfered",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "CreateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DataSource",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_Year",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Quarter",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Quarter",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BP_SCORE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_BP_SCORE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc Mrr_BP_SCORE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Mrr_BP_SCORE]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T12:11:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_BP_SCORE1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BP_SCORE1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc BP_SCORE1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LineId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LineId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Object",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInst",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CardName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Score",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Score",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_Total",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Total",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_TotalPer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_TotalPer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Critical",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Critical",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ScoreScaleType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "U_ScoreScaleType",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BP_SCORE1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_BP_SCORE1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc BP_SCORE1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Mrr_BP_SCORE1]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ScoreCards/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-18T12:11:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_CRD1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trunc_Mrr_CRD1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_CRD1]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_CRD1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trunc_Mrr_CRD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Block",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Block",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "LogInstanc",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInstanc",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ObjType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ObjType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LineNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LineNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TaxCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaxCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Building",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Building",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "AdresType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "AdresType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Address2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AddrType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AddrType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StreetNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "StreetNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AltCrdName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AltCrdName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AltTaxId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AltTaxId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TaxOffice",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaxOffice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GlblLocNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "GlblLocNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Ntnlty",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Ntnlty",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CRD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_CRD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-13T07:49:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_CRD11')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trunc_Mrr_CRD1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_CRD1]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mrr_CRD1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trunc_Mrr_CRD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CardCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Block",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Block",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "UserSign",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "LogInstanc",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogInstanc",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ObjType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ObjType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LicTradNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LineNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LineNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TaxCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaxCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Building",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Building",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "AdresType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "AdresType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Address2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AddrType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AddrType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StreetNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "StreetNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AltCrdName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AltCrdName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AltTaxId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AltTaxId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TaxOffice",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaxOffice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GlblLocNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "GlblLocNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Ntnlty",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Ntnlty",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CRD11",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_CRD11",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-04T07:50:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_CUFD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_CUFD",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_CUFD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "AliasID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AliasID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TypeID",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "TypeID",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "EditType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "EditType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "SizeID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "SizeID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "EditSize",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "EditSize",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Dflt",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dflt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NotNull",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "NotNull",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "IndexID",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "IndexID",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RTable",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RTable",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RField",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "RField",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Action",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Action",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Sys",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Sys",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DfltDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DfltDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "RelUDO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RelUDO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ValidRule",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ValidRule",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CUFD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_CUFD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_CUFD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_CUFD]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stream activity - copy",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Mrr_CUFD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_CUFD').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_CUFD').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_CUFD').output.rowsSkipped}\n}\n]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "upsert",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Mrr_CUFD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "[[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "stream activity - merge",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "upsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "CUFD"
					}
				},
				"folder": {
					"name": "SAP/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-15T13:37:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_CUFD1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_CUFD",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_CUFD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagedcopytempdata"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TableID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "FieldID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "AliasID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AliasID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TypeID",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "TypeID",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "EditType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "EditType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "SizeID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "SizeID",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "EditSize",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "EditSize",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Dflt",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dflt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NotNull",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "NotNull",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "IndexID",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "IndexID",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RTable",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RTable",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RField",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "RField",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Action",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Action",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Sys",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Sys",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DfltDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DfltDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "RelUDO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RelUDO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ValidRule",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ValidRule",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CUFD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SAP_Mrr_CUFD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_CUFD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sap].[sp_trunc_Mrr_CUFD]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_sorrelbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stream activity - copy",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Mrr_CUFD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Copy\",\n\"Copy Activity - Rows Read\" :@{activity('Mrr_CUFD').output.rowsRead},\n\"Copy Activity - Rows Written\" :@{activity('Mrr_CUFD').output.rowsCopied},\n\"Copy Activity - Rows Skipped\" :@{activity('Mrr_CUFD').output.rowsSkipped}\n}\n]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "upsert",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Mrr_CUFD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "[[sap].[sp_Merge_Mrr_@{pipeline().parameters.param_tableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "stream activity - merge",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "upsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/beta/7ef15b48-e070-48c2-b1c5-86e2488d6058/datasets/be953ba9-8789-435d-9add-fb35836ab916/rows?noSignUpCheck=1&key=29QqE0bnK0yio0X2c1eZoMdV4XGuyh70Gfnxlbo5gXM9CXKFx4tWH%2F7Kv%2Ff5InszefKuhEMq%2FCNwqEhTP8JPfA%3D%3D",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "[[\n{\n\"Timestamp\" :\"@{utcnow()}\",\n\"Factory Name\" :\"@{pipeline().DataFactory}\",\n\"Pipeline Name\" :\"@{pipeline().Pipeline}\",\n\"Pipeline Run Id\" :\"@{pipeline().RunId}\",\n\"Activity Name\" :\"Mrr_@{pipeline().parameters.param_tableName} - Merge\",\n\"Merge Activity - Insert\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.INSERT,\n0)},\n\"Merge Activity - Update\" :@{if(\ncontains(activity('upsert').output,'firstRow'),\nactivity('upsert').output.firstRow.UPDATE,\n0)}\n}\n]",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"param_tableName": {
						"type": "string",
						"defaultValue": "CUFD"
					}
				},
				"folder": {
					"name": "SAP_SORREL/MRR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-04T07:49:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mrr_CostCenter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mrr_CostCenter",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_CostCenter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.OPRC"
							},
							{
								"name": "Destination",
								"value": "prof.Mrr_Departments"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \n       [PrcCode]\n      ,[PrcName]\n      ,[DimCode]\n      ,[U_Owner]\n      ,[U_PorfApp]\n      ,[U_OwnerMail]\n      ,[U_Secondary]\n      ,[U_SecMail]\n      ,[U_PorfApp2]\n      ,[Active]\n      ,T0.[ValidTo]\n      ,T0.u_porf\n       ,DB_NAME() [DB_NAME]\n FROM [dbo].OPRC  t0 inner join [dbo].OACT T1 on t0.PrcCode= t1.U_PORF_Dep OR T0.PrcCode=T1.U_PORF_Alloc\n \n where Active <> 'N' AND T1.U_PORF='Y'\n GROUP BY \n     [PrcCode]\n      ,[PrcName]\n      ,[DimCode]\n      ,[U_Owner]\n      ,[U_PorfApp]\n      ,[U_OwnerMail]\n      ,[U_Secondary]\n      ,[U_SecMail]\n      ,[U_PorfApp2]\n      ,[Active]\n      ,T0.[ValidTo]\n      ,T0.u_porf\n     ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "prof"
							},
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								},
								"path": "adf-errorlogs-dev"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PrcCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrcCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrcName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrcName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DimCode",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "DimCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Owner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PorfApp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PorfApp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OwnerMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Secondary",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SecMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PorfApp2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Active",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Active",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ValidTo",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ValidTo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "u_porf",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PORF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DB_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CostCenter_OPRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "porf_Mrr_CostCenter",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_CostCenter",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[porf].[sp_trunc_Mrr_CostCenter]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "PORF/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-26T10:14:17Z"
			},
			"dependsOn": []
		}
	]
}