adf-egbi-dev/linkedTemplates/ArmTemplate_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-egbi-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/tbl_Call')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fSerialNumber",
						"type": "nvarchar"
					},
					{
						"name": "callID",
						"type": "nvarchar"
					},
					{
						"name": "fTemplateID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CategoryOther",
						"type": "nvarchar"
					},
					{
						"name": "fSubCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SubCategoryOther",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "CallDesc",
						"type": "nvarchar"
					},
					{
						"name": "fUrgencyID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fMainAssetID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "___office",
						"type": "char"
					},
					{
						"name": "fCreatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtCreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fUpdatedByID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dtUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Call"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_City')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_City"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_Country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Code",
						"type": "nvarchar"
					},
					{
						"name": "PhoneCode",
						"type": "nvarchar"
					},
					{
						"name": "dtUpdated_FromSAP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Country"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_State')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_Service_portal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AWS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Code",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_State"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_SF_MRR_Account_FromSFExample')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF_MRR_Acoount",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate SF_Mrr_Account",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "select * from Account\nWHERE LastModifiedDate >= '@{activity('get watermark').output.firstRow.highValue}'",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MasterRecordId",
											"type": "String"
										},
										"sink": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ParentId",
											"type": "String"
										},
										"sink": {
											"name": "ParentId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStreet",
											"type": "String"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCity",
											"type": "String"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingState",
											"type": "String"
										},
										"sink": {
											"name": "BillingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingPostalCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountry",
											"type": "String"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingStateCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingCountryCode",
											"type": "String"
										},
										"sink": {
											"name": "BillingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLatitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "BillingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BillingLongitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "BillingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStreet",
											"type": "String"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCity",
											"type": "String"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingState",
											"type": "String"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingPostalCode",
											"type": "String"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountry",
											"type": "String"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingStateCode",
											"type": "String"
										},
										"sink": {
											"name": "ShippingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingCountryCode",
											"type": "String"
										},
										"sink": {
											"name": "ShippingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLatitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "ShippingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingLongitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "ShippingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String"
										},
										"sink": {
											"name": "ShippingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Website",
											"type": "String"
										},
										"sink": {
											"name": "Website",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Industry",
											"type": "String"
										},
										"sink": {
											"name": "Industry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NumberOfEmployees",
											"type": "Int32"
										},
										"sink": {
											"name": "NumberOfEmployees",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OwnerId",
											"type": "String"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "String"
										},
										"sink": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastModifiedById",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SystemModstamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastActivityDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastActivityDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastViewedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LastReferencedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Jigsaw",
											"type": "String"
										},
										"sink": {
											"name": "Jigsaw",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JigsawCompanyId",
											"type": "String"
										},
										"sink": {
											"name": "JigsawCompanyId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountSource",
											"type": "String"
										},
										"sink": {
											"name": "AccountSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SicDesc",
											"type": "String"
										},
										"sink": {
											"name": "SicDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State__c",
											"type": "String"
										},
										"sink": {
											"name": "State__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Company_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Company_Type__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_External_Id__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pump_Fleet_Size__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Pump_Fleet_Size__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Epidural__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sapphire_Epidural__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_Plus__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sapphire_Plus__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sapphire_MT__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sapphire_MT__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City__c",
											"type": "String"
										},
										"sink": {
											"name": "City__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street_Address__c",
											"type": "String"
										},
										"sink": {
											"name": "Street_Address__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Extended_Service__c",
											"type": "String"
										},
										"sink": {
											"name": "Extended_Service__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Contacts__c",
											"type": "String"
										},
										"sink": {
											"name": "Contacts__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quickbooks_account__c",
											"type": "String"
										},
										"sink": {
											"name": "Quickbooks_account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country__c",
											"type": "String"
										},
										"sink": {
											"name": "Country__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Inital_String__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Name_Inital_String__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region__c",
											"type": "String"
										},
										"sink": {
											"name": "Region__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Name_Copy__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Name_Copy__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Id_18_Digits__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Id_18_Digits__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Billing_Account__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Billing_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ERP_Account_ID__c",
											"type": "String"
										},
										"sink": {
											"name": "ERP_Account_ID__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String"
										},
										"sink": {
											"name": "signed_a_set_commitment_agreement__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Set_List_Account__c",
											"type": "String"
										},
										"sink": {
											"name": "Set_List_Account__c",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account_Owner_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Owner_Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceSandBox",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate SF_Mrr_Account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[trunc_Mrr_SF_Account]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [highValue]\nFROM [watermarks].[highValues]\nWHERE [tableName] = 'Mrr_SF_Account_Replica'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "upsert SF_MRR_Acoount_Replica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SF_MRR_Acoount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[Merge_Mrr_Account_Replica]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "upsert SF_MRR_Acoount_Replica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[watermarks].[sp_set_watermark]",
							"storedProcedureParameters": {
								"columnName": {
									"value": "LastModifiedDate",
									"type": "String"
								},
								"schemaName": {
									"value": "sf",
									"type": "String"
								},
								"tableName": {
									"value": "Mrr_SF_Account_Replica",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SF/ACCOUNTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_SF_MRR_Contacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF_MRR_Contacts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate SF_Mrr_contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "select * from Contact\nWHERE LastModifiedDate >= '@{activity('get watermark').output.firstRow.highValue}'",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MasterRecordId",
											"type": "String"
										},
										"sink": {
											"name": "MasterRecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountId",
											"type": "String"
										},
										"sink": {
											"name": "AccountId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Salutation",
											"type": "String"
										},
										"sink": {
											"name": "Salutation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MiddleName",
											"type": "String"
										},
										"sink": {
											"name": "MiddleName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Suffix",
											"type": "String"
										},
										"sink": {
											"name": "Suffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStreet",
											"type": "String"
										},
										"sink": {
											"name": "MailingStreet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingState",
											"type": "String"
										},
										"sink": {
											"name": "MailingState",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCountry",
											"type": "String"
										},
										"sink": {
											"name": "MailingCountry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCountryCode",
											"type": "String"
										},
										"sink": {
											"name": "MailingCountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingLatitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "MailingLatitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingLongitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "MailingLongitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingGeocodeAccuracy",
											"type": "String"
										},
										"sink": {
											"name": "MailingGeocodeAccuracy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Fax",
											"type": "String"
										},
										"sink": {
											"name": "Fax",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MobilePhone",
											"type": "String"
										},
										"sink": {
											"name": "MobilePhone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReportsToId",
											"type": "String"
										},
										"sink": {
											"name": "ReportsToId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceSandBox",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_Contacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate SF_Mrr_contacts",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[trunc_Mrr_SF_Contacts]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [highValue]\nFROM [watermarks].[highValues]\nWHERE [tableName] = 'Mrr_SF_Contacts_Replica'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermarks_highValues",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "upsert SF_MRR_Contacts_Replica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SF_MRR_Contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SF].[Merge_Mrr_Contacts_Replica]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "upsert SF_MRR_Contacts_Replica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[watermarks].[sp_set_watermark]",
							"storedProcedureParameters": {
								"columnName": {
									"value": "LastModifiedDate",
									"type": "String"
								},
								"schemaName": {
									"value": "sf",
									"type": "String"
								},
								"tableName": {
									"value": "Mrr_SF_Contacts_Replica",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "SF/CONTACTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_SF_MRR_Account_WayBackExample')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AZURE_Acoount",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "  select * from sf.Mrr_sf_account_replica \nwhere \n Type = 'A' and \n[ETL_TargetUpdated] = 1 \nand ERP_account_Id__c is not null\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Account_External_Id__c",
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Account_External_Id__c",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Account_External_Id__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BYD_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ERP_Account_ID__c",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SF_MRR_Account",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SalesforceObject_account",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SF/ACCOUNTS"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-08T10:02:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Call')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Call",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "callID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "callID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fTemplateID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fTemplateID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fCategoryID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCategoryID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fSubCategoryID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fSubCategoryID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SubCategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SubCategoryOther",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CallDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CallDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fUrgencyID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUrgencyID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fMainAssetID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fMainAssetID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "tbl_Call",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Call",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Call",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Call]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tbl_Call')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_City')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_City",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_City",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "tbl_City",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_City",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_City",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_City]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tbl_City')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Complaint')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Complaint",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Complaint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "callID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "callID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "u_ootbfail",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "u_ootbfail",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Fixapproval",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Fixapproval",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_WhoExperienced",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_WhoExperienced",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_SwVer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SwVer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SendToHSPGSC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SendToHSPGSC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ReportedBy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ReportedBy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_RepByTitle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_RepByTitle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_RecordId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_RecordId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Quantity",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "U_Quantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "U_QBupdate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_QBupdate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ProductNotes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_ProductNotes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_ProblemObserved",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_ProblemObserved",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_PatientInv",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_PatientInv",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_PatInvDet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_PatInvDet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OotbOtherDetails",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OotbOtherDetails",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OccuredAt",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OccuredAt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_IntakeFilledBy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_IntakeFilledBy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HumanHarmDet",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HumanHarmDet",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HumanHarm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HumanHarm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_HotList",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_HotList",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Finalevaluletter",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Finalevaluletter",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Event_Log_Req",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Event_Log_Req",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_EqReturnReq",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_EqReturnReq",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Date_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Date_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CustomerType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CPTitle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CPTitle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CP_Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CP_Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CP_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CP_Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_CompDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_CompDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "U_CaseNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_CaseNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Batch",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Batch",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Arrival_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Arrival_Event_Log",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AppBy1Date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_AppBy1Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "U_AppBy1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_AppBy1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AckDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_AckDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Subject",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subject",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Street",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Room",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Room",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Date_Pump_Req",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Date_Pump_Req",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "closeDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "closeDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "itemName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "itemName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "itemCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "itemCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "internalSN__NoUse",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "internalSN__NoUse",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Descrption",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Descrption",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Customer",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "custmrName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "custmrName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "callType",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "callType",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "U_FixInstructiField",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_FixInstructiField",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_FixDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_FixDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_cp_fax",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_cp_fax",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_WhoExperiencedOth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_WhoExperiencedOth",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_DistLogedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "U_DistLogedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "u_unresponse",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "u_unresponse",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "___NEW_FIELDS",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "___NEW_FIELDS",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "_FieldsNotQB",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "_FieldsNotQB",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "U_RepByPhone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_RepByPhone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_OccuredAt_Other",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_OccuredAt_Other",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AckDate_Unknown",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "U_AckDate_Unknown",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "U_Delay_Therapy",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Delay_Therapy",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_Delay_TherapyDetails",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Delay_TherapyDetails",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Medical_Intervention",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Medical_Intervention",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_Medical_InterventionDetails",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Medical_InterventionDetails",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Alarm_Settings",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Alarm_Settings",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Type_Of_Drug",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Type_Of_Drug",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Prime_Performed",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Prime_Performed",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "U_Portal_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_Portal_Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_Product_Customer",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "U_Product_Customer",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DistributerNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DistributerNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DistributerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DistributerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_AckDate_Hour",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_AckDate_Hour",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "U_SendToQCoreDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "U_SendToQCoreDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fProductID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fProductID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ComplaintSource",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ComplaintSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsCompleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsCompleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsReleasePump",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsReleasePump",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "dtQuickBaseExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtQuickBaseExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Complaint",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Complaint",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Complaint",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Complaint]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:13:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Complaint_Issue')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Complaint_Issue",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Complaint_Issue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ComplaintIssueSource",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ComplaintIssueSource",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fKnownIssueID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fKnownIssueID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IsComplaintRelated",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsComplaintRelated",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "DateReported",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DateReported",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "__KnownIssueFields",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__KnownIssueFields",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___SAP",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___SAP",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DocEntry",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LineID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LineID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Complaint_Issue",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Complaint_Issue",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Complaint_Issue",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Complaint_Issue]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:18:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Country')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Country",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Country",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PhoneCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "tbl_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Country",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Country",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Country]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tbl_Country')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_KnownIssues')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_KnownIssues",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_KnownIssues",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownUnique",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownIssueMain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KnownIssueID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "KnownIssueID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Error",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cause",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Cause",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DiagnosticsConclusions",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DiagnosticsConclusions",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RMF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RMF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RiskInvolvedSAP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RiskInvolvedSAP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BaseOn",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BaseOn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ImgUrl",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ImgUrl",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "___Not_Used_Fields",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___Not_Used_Fields",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "IsActiveStr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "IsActiveStr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserxperienceErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserxperienceErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCategoryDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "KnownIssues",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_KnownIssues",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_KnownIssues",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_KnownIssues]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-06T08:35:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Service')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Service",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Service",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fSerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ServiceDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ServiceDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "dtCheckOutDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCheckOutDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fServiceStepID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceStepID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "InitailBOHStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InitailBOHStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BOHComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BOHComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_TEMP_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_TEMP_Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_TEMP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_TEMP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_SERIAL_Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_SERIAL_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_HUMIDITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_HUMIDITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsConfrimBOH",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsConfrimBOH",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ACKTEST_RESULT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ACKTEST_RESULT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SWVersionCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SWVersionCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ENV_SW_Version",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ENV_SW_Version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsSendToQcore",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsSendToQcore",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "status",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "StatusDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Service",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Service]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:25:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_ServiceCenter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy User",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_ServiceCenter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ServiceCenterName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServiceCenterName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ServiceCenterSAPIdentity",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServiceCenterSAPIdentity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fServiceCenterTypeID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceCenterTypeID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ServiceCenterLogo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServiceCenterLogo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IntakeFormEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "IntakeFormEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IntakeFormSAMA",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "IntakeFormSAMA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsQcore",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsQcore",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsICU",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsICU",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsAltera",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsAltera",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "DistributorNumSuitable",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DistributorNumSuitable",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdated_FromSAP",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsSyncToSAP",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsSyncToSAP",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CompHandlerMail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CompHandlerMail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AWS_ServiceCenter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_ServiceCenter",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_ServiceCenter",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ScoreCards].[sp_trunc_Mrr_ServiceCenters]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_Service_Activites')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_Service_Activites",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_Service_Activites",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___General",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "___General",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fIssueID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fIssueID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___DM_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "___DM_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fDeviceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fDeviceID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fComplaintID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "___Form_Data",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "___Form_Data",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserExperienceErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserExperienceErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Misused",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Misused",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairErrorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisRepairErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AnalysisRepairErrorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RepairLevel",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RepairActionReplacedCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairActionReplacedCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairActionReplacedName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairActionReplacedName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SparePartSnBatchNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SparePartSnBatchNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InitializationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "InitializationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DiagnosticsConclusion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DiagnosticsConclusion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DiagnosticsConclusionComments",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DiagnosticsConclusionComments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserServiceCenterSAPID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "___office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Service_Activites",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_Service_Activites",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_Service_Activites",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_Service_Activites]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T09:23:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_State')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_State",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_State",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "tbl_State",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_State",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_State",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_State]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tbl_State')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_User')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy User",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_trunc_Mrr_User",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fGroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fGroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IsTrainingUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsTrainingUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsAdminUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsAdminUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fPositionID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fPositionID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Position",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fStateID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStateID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fCountryID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "fCountryID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fTrainerID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fTrainerID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Organization",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Organization",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserPassword",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserPassword",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserDisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserDisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "fNewUserStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fNewUserStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsBlockUser",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsBlockUser",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "UserCertificationRenewDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UserCertificationRenewDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ApproveTermsConditions",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ApproveTermsConditions",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsNeedApproveTermsAgain",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNeedApproveTermsAgain",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "__Location",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__Location",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fLocationID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fLocationID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtLocationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLocationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "__sync_to_sap_fields",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsToExport",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtLastExportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "__fDistributorID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "__fDistributorID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "_fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "_fServiceCenterID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "User",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_User",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_trunc_Mrr_User",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_User]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:21:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_parm_CallCategory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_parm_CallCategory",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_parm_CallCategory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsFreeText",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsFreeText",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "SortOrder",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SortOrder",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "parm_CallCategory",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_parm_CallCategory",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_parm_CallCategory",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[trunc_Mrr_parm_CallCategory]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_parm_CallStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Mrr_CallStatus",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "trunc_Mrr_CallStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "st_error_log",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "__Office",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fCreatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtCreatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "fUpdatedByID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtUpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "parm_CallStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Mrr_parm_CallStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_Mrr_CallStatus",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[srv].[sp_trunc_Mrr_parm_CallStatus]"
						},
						"linkedServiceName": {
							"referenceName": "sqldb_egbi_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Service/Mrr"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}